.company-explorer-wrapper {
  background-color: white;
  height: inherit;
}

.company-explorer-wrapper .company-filters-container {
  display: flex;
  flex-direction: row;
  margin: 4pt;
}

.company-explorer-wrapper .company-list {
  margin: 4pt;
  height: 600px;
  max-height: inherit;
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.company-explorer-wrapper .company-list::-webkit-scrollbar {
  display: none;
}
