{% extends "layout.html" %}

{% block intro_full %}
<h1 class="lato-bold yellow-shadow2" id="intro-header">Work with us</h1>
{% endblock intro_full %}

{% block content %}
<div class="info-box">
  <p class="cerise head">Work with us on <b>D&#8209;DAGEN 2019</b></p>
  <br>
  <p>
    We are currently searching for excited coworkers who want to join us in D-Dagen 2019! Working at D-Dagen means many things. You will be able to network with company representatives present at the fair, create a unique experience, but above all it is incredibly fun! Read more about the roles below and make your application <a class="info-link cerise" href={{ url_for('sok') }}>here.</a> The application closes the <b>15th of September 2019.</b>
  </p>

  <p class="cerise head">Business Host</p>
  <p>
    You will be assigned two businesses that you will have extra responsibility for during the fair. You will be D-Dagen's contact person for these businesses and help their representatives find their deliveries, site at the fair and solve any problems should they arise.  </p>
  <p class="cerise head">Lounge Host</p>
  <p>
    You will be working in D-Dagen's lounge in META serving cookies, coffee and lunch to the business representatives. Make sure the companies feel welcomed at D-Dagen, and that everyone who is working have refreshments available.  </p>
  <p class="cerise head">Task Force</p>
  <p>
    You will be working as a problem solver during the fair. Examples of tasks that may arise are moving tables, help with deliveries, tape down carpets, etc. The superheroes of D-Dagen.
  </p>
  <p class="cerise head">Photographer</p>
  <p>
    Take pictures of and document the fair for the coming year. You will require a camera of your own, as we can't assure you we can provide one.
  </p>
  <p class="button-link"><a class="button" href="{{ url_for('apply') }}">Apply here</a></p>

</div>

{% endblock %}
