{% extends "layout.html" %}

{% block intro_full %}
<h1 class="lato-bold yellow-shadow2" id="intro-header">Companies</h1>
{% endblock intro_full %}

{% block content %}

<div class="info" id="interest">
    <h1 class="lato-bold yellow-shadow2">APPLICATION</h1>
    <h3>The application process to exhibit on D-Dagen 2019 contains three steps:
</h3>
</div>
<div class="info" id="flex-boxes">
    <div class="flex-box">
        <p class="cerise head">STEP 1</p>
        <p>The first step is to fill out the interest form.
            After the form is submitted you will receive an email June 1st informing you if you have received a spot at the fair.
            If you have been allocated a spot, an agreement will be attached in the email.
        </p>
        <p class="button-link"><a class="button" href="{{ url_for('industry') }}">Interest Form</a></p>
    </div>

    <div class="flex-box">
        <p class="cerise head">STEP 2</p>
        <p>The next step is to sign the contract  (including the order information form), scan it within three (3) weeks and send it to <a class="cerise" href="mailto:d-dagen@d.kth.se">d&#8209;dagen@d.kth.se</a> with the title “Contract D-Dagen 2019 - [Company name]”. Please note that if  we do not receive the contract within 3 weeks from the date the contract is sent, your spot in the fair will be removed. </p>
    </div>

    <div class="flex-box">
        <p class="cerise head">STEP 3</p>
        <p>During the last step you will receive a signed contract from D-Dagen within 2 weeks from the date we received the contract. The application process is thus completed.</p>
    </div>
</div>

<div class="info-box lato-light bigger-font" id="intro-other">
    <p class="cerise head">EXHIBITION PACKAGES <b>D&#8209;DAGEN 2019</b></p>
    <h2>BASE PACKAGE</h2>
    <ul>
        <li>An area of 5 m<sup>2</sup></li>
        <li>1 table</li>
        <li>Breakfast and lunch for 2 people</li>
        <li>Dinner tickets to the evening event for 2 people</li>
        <li>10 drink coupons</li>
        <li>Electricity and Wi-Fi</li>
        <li>Access to a company lounge with fika and refreshment during the day</li>
        <li>A company host who will assist you throughout the day</li>
        <li>Receipt and storage of shipments</li>
    </ul>
    <h3>Price: 25 000 kr</h3>
    <h2>Additional orders</h2>
    <ul>
        <li>1 table, 500 kr</li>
        <li>1 chair, 300 kr</li>
        <li>An extra company representative during the day, 300 kr</li>
        <li>An extra company representative during the evening, 500 kr</li>
        <li>10 drink coupons, 500 kr</li>
        <li>Your logo on the goodie bag, 1300kr</li>

    </ul><br>

    <p class="cerise head">EVENTS</p><br>
    <p>It is possible to host company events together with D-Dagen. Please contact us on <a
            href="mailto:d-dagen.event@d.kth.se">d-dagen.event@d.kth.se</a> for more information.</p>

</div>

<div class="info-box">
    <p class="cerise head">What happens after the application?</p><br>
    <p>You will be contacted by us by July 1st at the latest. This email contains information about whether or not you have received a spot on the fair on October 10th 2019. If you have received a spot on the fair, the email will have a contract attached which you need to sign and sent back to us within 3 weeks from the day the email is sent. Information regarding the fair and the possibilities for extra orders will be sent out during a later stage. It is important that contracts and forms be filled out within the given time periods, or you will risk losing your spot on the fair. </p>

    <p>Invoices will be sent by September 9th 2019 by the latest. Before this date, information regarding shipments must be submitted. By the end of september, the companies which are to exhibit on the fair will be contacted by D-Dagen with more detailed information regarding the fair. </p>

</div><br>
{% endblock %}
