{% extends "layout.html" %}

{% block intro_full %}
<h1 class="lato-bold yellow-shadow2" id="intro-header" hidden>Companies 2021</h1>
{% endblock intro_full %}

{% block content %}
<!-- Anmälningsprocess -->
<div>
  <div class="info" id="interest">
    <h2 class="lato-bold yellow-shadow2">APPLICATION</h2>
    <h3>The application process to exhibit on D-Dagen consists of three steps:
    </h3>
  </div>

  <div class="info" id="flex-boxes">
    <div class="flex-box">
      <p class="cerise head">STEP 1</p>
      <p>The first step is to fill out the interest form.
        After the form is submitted you will receive an email informing you if you have received a spot at the fair.
        If you have been allocated a spot, an agreement will be attached in the email.
      </p>
      <p class="button-link"><a class="button" href="https://ddagen.se/2021">Interest Form 2021</a></p>
    </div>
    
    <div class="flex-box">
      <p class="cerise head">STEP 2</p>
      <p>The next step is to sign the contract (including the order information form), scan 
        it within three (3) weeks and send it to <a class="cerise" href="mailto:projectmanager@ddagen.se">projectmanager@ddagen.se</a>
        with the title “Contract D-Dagen 2021 - [Company name]”. Please note that if  we do not receive the contract 
        within 3 weeks from the date the contract is sent, your spot in the fair will be removed. </p>
      </div>
      
      <div class="flex-box">
        <p class="cerise head">STEP 3</p>
        <p>During the last step you will receive a signed contract from D-Dagen within 2 weeks 
          from the date we received the contract. The application process is thus completed.</p>
        </div>
  </div>
</div>

<!-- Utställningspaket -->
<div class="info-box lato-light bigger-font" id="intro-other">
  <p class="cerise head">EXHIBITION PACKAGES <b>D&#8209;DAGEN 2021</b></p>
  <h2>BASE PACKAGE</h2>
  <ul>
      <li>An area of 5 m<sup>2</sup></li>
      <li>1 table</li>
      <li>Breakfast and lunch for 2 people</li>
      <li>Dinner tickets to the evening event for 2 people</li>
      <li>Electricity and Wi-Fi</li>
      <li>Access to a company lounge with fika and refreshment during the day</li>
      <li>A company host who will assist you throughout the day</li>
      <li>Receipt and storage of shipments</li>
  </ul>
  <h3>Price: 28 000 kr</h3>

  <h2>Additional orders</h2>
  <p>
    It is possible to order extra of things such as tables or dinner tickets. 
    Please kontact us at <a href="mailto:sales@ddagen.se">sales@ddagen.se</a> if you have any questions regarding this.
  </p>

  <h2>Additional Information</h2>
  <p>Please contact <a href="mailto:projectmanager@ddagen.se">projectmanager@ddagen.se</a> if you have any questions
     regarding D-Dagen and covid-19 or any other questions about D-Dagen.</p>

</div>
{% endblock %}
