{% extends "layout.html" %}

{% block intro_full %}
<h1 class="lato-bold yellow-shadow2" id="intro-header" hidden>Companies 2021</h1>
{% endblock intro_full %}

{% block content %}

<div class="info-box" id="companies" hidden>

  <div class = "pr-image-container">
   
    <div class="portrait">
      <img src="{{ url_for('static', filename='companies_2020/ericsson.png') }}" >
    </div>
   

  </div>
  <br>
  
	
  <div class="pr-image-container">
        
        
        
        <div class="portrait">
          <img  src="{{ url_for('static', filename='companies_2020/avalanche.png') }}"style=" margin-top:5%;">
        </div>
        <div class="portrait">
            <img  src="{{ url_for('static', filename='companies_2020/bontouch.svg') }}"style=" margin-top:5%;">
          </div>
          <div class="portrait">
            <img  src="{{ url_for('static', filename='companies_2020/carmenta.png') }}"style=" margin-top:10%;">
          </div>
          
          <div class="portrait">
            <img  src="{{ url_for('static', filename='companies_2020/digpro.svg') }}">
          </div>
      </div>
      <br>
      <div class="pr-image-container">
        <div class="portrait">
          <img  src="{{ url_for('static', filename='companies_2020/visma.png') }}"style=" margin-top:10%;">
        </div>
        
        <div class="portrait">
          <img  src="{{ url_for('static', filename='companies_2020/cygni.png') }}" style=" margin-top:20%;">
        </div>
        <div class="portrait">
          <img  src="{{ url_for('static', filename='companies_2020/decerno.png') }}" style=" margin-top:30%;">
        </div>
        <div class="portrait">
          <img  src="{{ url_for('static', filename='companies_2020/del.png') }}"style=" margin-top:30%;">
        </div>
      </div>
      <div class="pr-image-container">
        <div class="portrait">
          <img  src="{{ url_for('static', filename='companies_2020/futurice.svg') }}"style=" margin-top:40%;">
        </div>
        
        <div class="portrait">
          <img  src="{{ url_for('static', filename='companies_2020/ea_dice.png') }}">
        </div>
        <div class="portrait">
          <img  src="{{ url_for('static', filename='companies_2020/svt.png') }}"style=" margin-top:20%;">
        </div>
        <div class="portrait">
          <img  src="{{ url_for('static', filename='companies_2020/scania.png') }}"style=" margin-top:20%;">
        </div>
        

      </div>

      <div class = "pr-image-container">

        <div class="portrait">
          <img  src="{{ url_for('static', filename='companies_2020/toptracer.svg') }}">
        </div>
        
        <div class="portrait">
          <img  src="{{ url_for('static', filename='companies_2020/hw.jpeg') }}">
        </div>
        <div class="portrait">
          <img  src="{{ url_for('static', filename='companies_2020/if.png') }}"style=" margin-top:-10%;">
        </div>
        <div class="portrait">
          <img  src="{{ url_for('static', filename='companies_2020/king.png') }}"style=" margin-top:10%;">
        </div>

      </div>
      <br>
      <div class = "pr-image-container">
        <div class="portrait">
          <img  src="{{ url_for('static', filename='companies_2020/nl.png') }}">
        </div>
        <div class="portrait">
          <img  src="{{ url_for('static', filename='companies_2020/nore.png') }}">
        </div>
        <div class="portrait">
          <img  src="{{ url_for('static', filename='companies_2020/omegapoint.png') }}"style=" margin-top:-20%;">
        </div>
        <div class="portrait">
          <img  src="{{ url_for('static', filename='companies_2020/saab.png') }}"style=" margin-top:-5%;">
        </div>


      </div>
      <br>
      <div class = "pr-image-container">
        <div class="portrait">
          <img  src="{{ url_for('static', filename='companies_2020/savelend.svg') }}">
        </div>
        
        <div class="portrait">
          <img  src="{{ url_for('static', filename='companies_2020/schibsted.png') }}">
        </div>
        <div class="portrait">
          <img  src="{{ url_for('static', filename='companies_2020/sentor.png') }}"style=" margin-top:-5%;">
        </div>
        <div class="portrait" >
          <img src="{{ url_for('static', filename='companies_2020/accenture.png') }}" style=" margin-top:-15%;">
        </div>

      </div>
      <br>
      <div class = "pr-image-container">
        <div class="portrait">
          <img  src="{{ url_for('static', filename='companies_2020/sigma.jpg') }}">
        </div>
        <div class="portrait">
          <img  src="{{ url_for('static', filename='companies_2020/skv.png') }}"style=" margin-top:-10%;">
        </div>
        <div class="portrait">
          <img  src="{{ url_for('static', filename='companies_2020/sopra.png') }}"style=" margin-top:10%;">
        </div>
        

      </div>
      <br>
      <div class = "pr-image-container">
        <div class="portrait">
          <img  src="{{ url_for('static', filename='companies_2020/sv_kraft.png') }}">
        </div>
        
        <div class="portrait">
          <img  src="{{ url_for('static', filename='companies_2020/syntronic.png') }}"style=" margin-top:10%;">
        </div>
        <div class="portrait">
          <img  src="{{ url_for('static', filename='companies_2020/gd.png') }}">
        </div>
        
      </div>
      <div class = "pr-image-container">
        <div class="portrait">
          <img  src="{{ url_for('static', filename='companies_2020/oracle.jpg') }}"style=" margin-top:10%;">
        </div>
        <div class="portrait">
          <img  src="{{ url_for('static', filename='companies_2020/subset.svg') }}"style=" margin-top:30%;">
        </div>
        <div class="portrait">
          <img  src="{{ url_for('static', filename='companies_2020/foi.jpg') }}">
        </div>

      </div>
      

</div>


<!-- Anmälningsprocess -->
<div class="info" id="interest">
    <h2 class="lato-bold yellow-shadow2">APPLICATION</h2>
    <h3>The application process to exhibit on D-Dagen consists of three steps:
</h3>
</div>
<div class="info" id="flex-boxes">
    <div class="flex-box">
        <p class="cerise head">STEP 1</p>
        <p>The first step is to fill out the interest form.
            After the form is submitted you will receive an email informing you if you have received a spot at the fair.
            If you have been allocated a spot, an agreement will be attached in the email.
        </p>
        <p class="button-link"><a class="button" href="{{ url_for('industry') }}">Interest Form 2021</a></p>
    </div>

    <div class="flex-box">
        <p class="cerise head">STEP 2</p>
        <p>The next step is to sign the contract (including the order information form), scan 
          it within three (3) weeks and send it to <a class="cerise" href="mailto:d-dagen@d.kth.se">d&#8209;dagen@d.kth.se</a>
           with the title “Contract D-Dagen 2021 - [Company name]”. Please note that if  we do not receive the contract 
           within 3 weeks from the date the contract is sent, your spot in the fair will be removed. </p>
    </div>

    <div class="flex-box">
        <p class="cerise head">STEP 3</p>
        <p>During the last step you will receive a signed contract from D-Dagen within 2 weeks 
          from the date we received the contract. The application process is thus completed.</p>
    </div>
</div>

<!-- Utställningspaket -->
<div class="info-box lato-light bigger-font" id="intro-other">
    <p class="cerise head">EXHIBITION PACKAGES <b>D&#8209;DAGEN 2021</b></p>
    <h2>BASE PACKAGE</h2>
    <ul>
        <li>An area of 5 m<sup>2</sup></li>
        <li>1 table</li>
        <li>Breakfast and lunch for 2 people</li>
        <li>Dinner tickets to the evening event for 2 people</li>
        <li>Electricity and Wi-Fi</li>
        <li>Access to a company lounge with fika and refreshment during the day</li>
        <li>A company host who will assist you throughout the day</li>
        <li>Receipt and storage of shipments</li>
    </ul>
    <h3>Price: 28 000 kr</h3>

    <!-- <h2>STARTUP PACKAGE</h2>
    <p>This year we want to allocate a whole floor only for smaller startups. This will be on the top floor in conjunction with the rest of the fair with room for 16 companies. We have developed a special package which means that your startup, for 5000kr, get a spot on the startup-floor including everything in the regular base package, except for dinner tickets to the evening event. You will have the opportunity to purchase these tickets separately as far as space allows. This package is mainly for smaller startups that are either part of a startup hub or have been part of a startup competition in recent years. </p>
    <h3>Included in the startup package:</h3>
    <ul>
        <li>An area of 5 m<sup>2</sup></li>
        <li>1 table</li>
        <li>Breakfast and lunch for 2 people</li>
        <li>Electricity and Wi-Fi</li>
        <li>Access to a company lounge with fika and refreshment during the day</li>
        <li>A company host who will assist you throughout the day</li>
        <li>Receipt and storage of shipments</li>
    </ul>
    <h3>Price: 5 000 kr</h3> -->

    <h2>Additional orders</h2>
    <ul>
        <li>1 table, 500 kr</li>
        <li>1 chair, 300 kr</li>
        <li>An extra company representative during the day, 300 kr</li>
        <li>An extra company representative during the evening, 900 kr</li>
    </ul><br>
    <p>If you have any questions regarding this, contact us at <a href = "mailto:sales@ddagen.se">sales@ddagen.se</a></p>

    <p class="cerise head">EVENTS</p><br>
    <p>It's possible to hold events together with D-Dagen. Please contact us at <a
            href="mailto:projectmanager@ddagen.se">projectmanager@ddagen.se</a> for more information.</p>
</div>


<!--
<div class="info-box">
    <p class="cerise head">Signed contract - What happens now?</p><br>
    <ul>
        <li class = "li_contract"> We create a brochure which is handed out to students before the fair. To ensure that you are in the brochure fill out the following <a href="https://forms.gle/dbAtyVxPTKSZcQnMA" target="_blank">form</a> so that we have your company logo and relevant information. If you have already filled in the form you do not have to do it again.</li>
        <li class = "li_contract">Week 42 you will have access to the platform, and will from then on be able to start creating your company page.</li>
        <li class = "li_contract">We will also in week 42 send out instructions in the form of PDF:s and shorter videos on how to use the platform. </li>
        <p ><a href="/static/VirtualFairGuide.pdf" target="_blank">A step-by-step PDF guide on how to attend the virtual fair 2020</a></p>
        <li class = "li_contract">Furthermore in week 42 we will hold two similar webinars during two different time slots. During the webinar we will show you how to use the platform. The webinar will be recorded so that you can watch it afterwards in case you cannot be available during the given time slots. The date and times for the webinars are:
            <ul>
                <li class = "li_indent">16 october, 10.00 - 11.00</li>
                <li class = "li_indent">16 october, 15.00 - 16.00</li>
            </ul>
        </li>
        <li class = "li_contract">We will hand out company merch (e.g. pens, water bottles, t-shirts) during D-dagen. If you want us to hand out your company merch we need to receive it at the following address : “Osquars backe 21, 100 44, Stockholm”, either the 3rd or 4th of november between 10:00-17:00.</li>
        <li class = "li_contract"> We will during the D-dagen week hand out goodiebags to students. If you want your company logo to be on these goodiebags, or in any other way want to sponsor the goodiebag eller to the fair itself with e.g. coffee mugs with your logo, you can send an e-mail to <a class="cerise" href="mailto:sponsorship@ddagen.se">sponsorship@ddagen.se</a>.</li>
        <li class = "li_contract">D-dagen takes place on the 5th of november between 10:00 and 16:00, and during that time you will be able to chat and have video calls with students.</li>
    </ul>
    <p class="lato-black">Events</p>
    <p class="info-text">If you want extra visibility for your company before D-dagen a perfect way to do this is to arrange events with the computer science chapter the days or the week before D-dagen. If you want to arange a lunch lecture or some other event you can contact NLG (the computer science chapters business group) at <a class="cerise" href="mailto:foretag@d.kth.se">foretag@d.kth.se</a>. State that you want to arrange an event in connection to D-dagen and they will handle the communication with you surrounding the event</p>
    <p class="lato-black">We wish you a warm welcome to D-dagen 2020!</p>
</div>

-->


{% endblock %}
