{% extends "layout.html" %}

{% block intro_full %}
<div class="page-title">FAQ</div>
{% endblock intro_full %}

{% block content %}
<div class="info-box" id="introduction">
    <p class="lato-black">When is D-dagen 2022 taking place?</p>
    <p class="info-text">October 13th.</p>

	<p class="lato-black">What is D-dagen?</p>
	<p class="info-text">D-Dagen is the KTH Computer Science chapter’s yearly job fair. The event is aimed toward providing
        companies and students within the Computer Science and IT sector an opportunity to meet and get to know each other.
        The project group behind D-Dagen wants to help establish a more direct and personal contact between company
        representatives and students.</p>

    <p class="lato-black">How many companies have participated in D-Dagen previous years?</p>
    <ul>
        <li>2021: 59</li>
        <li>2020: 35</li>
        <li>2019: 81</li>
        <li>2018: 75</li>
        <li>2017: 59</li>
        <li>2016: 45</li>
        <li>2015: 35</li>
    </ul>

    <p class="lato-black">How many visitors usually attend D-Dagen?</p>
	<p class="info-text">2019 D-Dagen had 2000 visitors and 2020 D-Dagen had about a 1000 digital attendees.</p>

    <p class="lato-black">Who is D-dagen for?</p>
	<p class="info-text">D-Dagen is for students active within the Computer Science and IT sector.</p>

    <p class="lato-black">Why should my company participate in D-Dagen?</p>
	<p class="info-text">D-Dagen is an outstanding opportunity for Computer Science and IT companies to connect with students in different stages in their studies. Maybe you are looking for Master thesis students, part time employees, summer interns, or newly graduated MSc or PhD students? Do you want to boost your visibility as an employer, showcase your ongoing projects or share your company culture? Then don’t hesitate to apply to D-Dagen!</p>

    <p class="lato-black">What else is there to do in connection to D-Dagen?</p>
    <p class="info-text">There is a possibility of arranging company events in connection to D-Dagen. Please contact
        <a href="mailto:event@ddagen.se">event@ddagen.se</a> for more information.</p>

    

    <p class="lato-black">What is the D-Dagen catalogue and where can I find the catalogues from previous years?</p>
	<p class="info-text">The D-Dagen catalogue is given out to visitors in connection with the event every year. It is a collection of the most important information about the fair as well as information about the participating companies. The catalogue contains a map over the placement of the company booths. This year the catalogue will be available in an electronic format at ddagen.se and only a condensed brochure will be printed in order to minimize our climate impact. The electronic catalogue will also allow for search- and filter functions and will increase the usability.
    <br>
    Catalogues from previous years:
        <ul>
            <li><a href="{{ url_for('katalog2021') }}">Link to katalog 2021</a> </li>
            <li><a href="{{ url_for('katalog2020') }}">Link to katalog 2020</a> </li>
            <li><a href="{{ url_for('katalog2019') }}">Link to katalog 2019</a> </li>
            <li><a href="https://dsekt-assets.s3.amazonaws.com/naringsliv/d-dagen/katalog_2018">Link to katalog 2018</a> </li>
            <li><a href="{{ url_for('katalog2017') }}">Link to katalog 2017</a> </li>
            <li><a href="https://dsekt-assets.s3.amazonaws.com/naringsliv/d-dagen/katalog_2016">Link to katalog 2016</a> </li> <!-- Someone didn't want /katalog2016 to be indexed by google -->
            <li><a href="{{ url_for('katalog2015') }}">Link to katalog 2015</a> </li>
        </ul>

    <p class="lato-black">More questions?</p>
	<p class="info-text">Please send an email to <a href="mailto:ansvarig@ddagen.se" class="cerise">ansvarig@ddagen.se</a>.</p>
</div>

{% endblock %}


