{% extends "layout.html" %} 

{% block page_css %}
<link rel="stylesheet" href="/static/css/index.css" />
{% endblock %}

{% block content %}

<div class="uk-section uk-light" id="main-content">
    <div class="uk-container">
        <h3 class="uk-text-light uk-text-center">
            Konglig Datasektionen at KTH proudly presents
        </h3>

        <img class="uk-align-center" data-src="/static/img/assets/logo-white-ageless_v1.png" width="750px" alt="D-Dagen logo" uk-img>

        <h2 class="uk-text-normal uk-text-center">
            13th of October 2022
        </h2>

        <!-- Countdown: -->
        <!--
        <div class="uk-grid-small uk-child-width-auto uk-flex-center uk-text-light uk-margin-medium-top"
             uk-grid uk-countdown="date: 2022-10-13T10:00:00+01:00">
            <div>
                <div class="uk-countdown-number uk-countdown-days"></div>
                <div class="uk-countdown-label uk-margin-small uk-text-center uk-visible@s uk-text-normal">Days</div>
            </div>
            <div class="uk-countdown-separator">:</div>
            <div>
                <div class="uk-countdown-number uk-countdown-hours"></div>
                <div class="uk-countdown-label uk-margin-small uk-text-center uk-visible@s uk-text-normal">Hours</div>
            </div>
            <div class="uk-countdown-separator">:</div>
            <div>
                <div class="uk-countdown-number uk-countdown-minutes"></div>
                <div class="uk-countdown-label uk-margin-small uk-text-center uk-visible@s uk-text-normal">Minutes</div>
            </div>
            <div class="uk-countdown-separator">:</div>
            <div>
                <div class="uk-countdown-number uk-countdown-seconds"></div>
                <div class="uk-countdown-label uk-margin-small uk-text-center uk-visible@s uk-text-normal">Seconds</div>
            </div>
        </div>
        -->
    </div>
</div>

<script>
    // Set highlight of navbar item for this page:
    document.querySelectorAll(".nav-start").forEach(element => {
        element.classList.add("uk-active");
    });
</script>

{% endblock %}