{% extends "layout.html" %} 

{% block page_css %}
<link rel="stylesheet" href="/static/css/index.css" />
{% endblock %}

{% block content %}

<div class="uk-section uk-light" id="main-content">
    <div class="uk-container">

        <h3 class="uk-text-light uk-text-center">
            Konglig Datasektionen at KTH proudly presents
        </h3>

        <img class="uk-align-center logo" data-src="/static/img/assets/logo-white-ageless_v2.svg" width="750px" alt="D-Dagen logo" uk-img>

        <!--<div class="uk-flex-center uk-child-width-auto uk-text-center uk-grid-collapse" uk-grid>
            <div>
                <h2 class="uk-text-normal uk-text-center uk-padding-small">
                    13th of October 2022<br>
                    10 AM - 4 PM
                </h2>
            </div>
        </div>-->

        <!-- Countdown: -->
        <!--<div class="uk-grid-small uk-child-width-auto uk-flex-center uk-text-light uk-margin-large-top"
             uk-grid uk-countdown="date: 2022-10-13T10:00:00+01:00">
            <div>
                <div class="uk-countdown-number uk-countdown-days"></div>
                <div class="uk-countdown-label uk-margin-small uk-text-center uk-visible@s uk-text-normal">Days</div>
            </div>
            <div class="uk-countdown-separator">:</div>
            <div>
                <div class="uk-countdown-number uk-countdown-hours"></div>
                <div class="uk-countdown-label uk-margin-small uk-text-center uk-visible@s uk-text-normal">Hours</div>
            </div>
            <div class="uk-countdown-separator">:</div>
            <div>
                <div class="uk-countdown-number uk-countdown-minutes"></div>
                <div class="uk-countdown-label uk-margin-small uk-text-center uk-visible@s uk-text-normal">Minutes</div>
            </div>
            <div class="uk-countdown-separator">:</div>
            <div>
                <div class="uk-countdown-number uk-countdown-seconds"></div>
                <div class="uk-countdown-label uk-margin-small uk-text-center uk-visible@s uk-text-normal">Seconds</div>
            </div>
        </div>-->
    </div>
</div>

<div class="uk-section uk-background-default">
    <div class="uk-container uk-container-small">
        <div class="uk-card uk-card-default uk-card-body">
            <div uk-grid>
                <div class="uk-width-1-3@m">
                    <img class="uk-padding-small uk-width-expand uk-margin-small-top about-picture" data-src="/static/img/assets/fluga_cerise.svg" uk-img>
                </div>
                <div class="uk-width-2-3@m">
                    <h1 class="uk-text-center">What is D-Dagen?</h1>
                    <p>D-Dagen is the KTH Computer Science chapter’s yearly job fair. The event is aimed toward providing
                        companies and students within the Computer Science and IT sector an opportunity to meet and get to know each other.
                        The project group behind D-Dagen wants to help establish a more direct and personal contact between company
                        representatives and students.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    // Set highlight of navbar item for this page:
    document.querySelectorAll(".nav-start").forEach(element => {
        element.classList.add("uk-active");
    });
</script>

{% endblock %}