{% extends "layout.html" %}

{% block page_css %}
<link rel="stylesheet" href="/static/css/info4visitors.css" />
{% endblock %}

{% block content %}

<div class="uk-section uk-background-default">
    <div class="uk-container uk-container-medium">
        <h1 class="uk-text-center">Companies 2022</h1>
        <hr class="uk-divider-icon uk-margin-medium-top">

        <div class="uk-grid-small uk-child-width-1-2@m uk-flex-center uk-text-center" uk-grid>
            <div>
                <h2>Main Sponsor</h2><br>
                <div class="uk-card uk-card-body uk-padding-large">
                    <a class="uk-position-center" id="desktop-url" target="_blank">
                        <img width="600px" alt="" uk-img data-src="/static/img/assets/basalt-dark.svg">
                    </a>
                    <div uk-dropdown>
                        <p>Sverige utsätts dagligen för allvarliga cyberattacker som riskerar att skada vårt samhälle i grunden.
                        Men vad gör vi när motståndarna blir duktigare? Hur skyddar vi vårt samhälle från systematiska
                        attacker som riktar sig mot vår infrastruktur som elnät, vattenförsörjning, försvar och mobilnät?</p>
                        
                        <p>Säkerhetsföretaget Basalt är huvudsponsor på D-Dagen och lång erfarenhet av it- och cyberhot samt
                        har utvecklat en plattform som uppfyller de högsta kvalitets- och säkerhetskraven på marknaden och
                        skyddar företag och myndigheter mot inre och yttre hot.</p>

                        <p>Mer info: <a target="_blank" href="https://www.basalt.se/en/">basalt.se</a></p>
                    </div>
                </div>              
            </div>
        </div>

        <br><br>
        <hr class="uk-divider-icon uk-margin-medium-top">
        <br><br>
        
        <div class="uk-grid-column-small uk-grid-small uk-child-width-1-2@s uk-child-width-1-4@m uk-text-center uk-grid-match" uk-grid id="regular-companies">
            <!-- Element läggs till här dynamiskt med JavaScript, se info4visitors.js -->
        </div>

        <br>
        <p>Do you search for info about the packages? Click <a href="/info4companies?language=en">here</a>!</p>
    </div>
</div>

<script type="text/javascript" src="/static/js/info4visitors.js"></script>

<script type="text/javascript">
    addCompanyInfo();

    // Set highlight of navbar item for this page:
    document.querySelectorAll(".nav-companies").forEach(element => {
        element.classList.add("uk-active");
    });
</script>

{% endblock %}
