{% extends "layout.html" %}

{% block intro_full %}
<h1 class="lato-bold yellow-shadow2" id="intro-header">Visitors</h1>

<div id="huvudsponsor">
  <img src="{{ url_for('static', filename='assets/ddagen+ericsson.svg') }}" alt="D-Dagen <3 Ericsson"/>
</div>
{% endblock intro_full %}

{% block content %}

<div class="info-box">
  <p class="cerise head">Welcome to <b>D&#8209;DAGEN 2019</b></p>
  <br>
  <p>
    We are happy to invite you to visit D-Dagen 2019! Every year many interesting companies and agencies within the computer science and IT sector visit D-Dagen to network with students. 
    <br><br>
    Right now the project group is working hard to make this year's fair as great as possible. We aim to bring you a smooth and painless experience before, during and after the career fair. Please click on the button below to view the catalogue for 2019, to find out more about this year's exhibitors. 
    <br><br>
  </p>
  <p class="button-link" style="text-align:center;"><a class="button" href="{{ url_for('katalog2019') }}">Catalogue for 2019</a></p>
  <br><br>
  <img class="map" width="100%" src="{{ url_for('static', filename='bilder2019/KartaPrint.svg') }}" alt="Fair map"/>
</div>
<div class="info-box">
  <p class="cerise head">Greeting from <b>Project Leaders</b></p>
  <br>
  <p>
    <img align="right" class="greeting-portrait" width="450px" style="border-radius:100%;" src="{{ url_for('static', filename='DDA-portrait.jpg') }}" alt="Victor och Simone"/>
    Together with this year’s excited project group we wish to welcome you to D-Dagen 2019! We continuously work with improving D-Dagen to make it as great as possible for everyone studying computer science at KTH. For us, this means planning interesting events around the fair and broadening the range to create more value for the students who participate.
    <br><br>
    We have also continued our efforts with getting a good distribution of companies from different business segments in order to create a fair where students and companies can meet in a simple way regardless of how far along you are in your studies! In addition, the size of the fair has continued to increase and we are larger than ever before with a total of 79 companies attending the fair.
    <br><br>
    We in the project group hope to see you at D-Dagen 2019!
  </p>
</div>
<div class="info-box">
  <p class="cerise head">Greetings from our <b>Main Sponsor 2019</b></p>
  <br>
  <p>
    <img align="left" class="greeting-portrait" width="450px" style="border-radius:100%;" src="{{ url_for('static', filename='FridaochLisa-square.jpg') }}" alt="Lisa and Frida"/>
    <br>
    Hi!
    <br><br>
    This is Ericsson and we are so so happy and proud to be the main sponsor of D-dagen 2019!
    <br><br>
    We’re looking forward to meeting you at D-Dagen the 10th of October, but in the meantime you can get to know more about us <a href="{{ url_for('huvudsponsor', language='en') }}">here</a>.
  </p>
</div>
{% endblock %}
