{% extends "layout.html" %}

{% block intro_full %}
<h1 class="lato-bold yellow-shadow2" id="intro-header">Visitors</h1>

<div id="huvudsponsor">
  <br><br>
  <p>Placeholder for D-Dagen <3 Ericsson </p>
  <br><br><br>
</div>
{% endblock intro_full %}

{% block content %}

<div class="info-box">
  <p class="cerise head">Welcome to <b>D&#8209;DAGEN 2019</b></p>
  <br>
  <p>
    We are happy to invite you to visit D-Dagen 2019! Every year many interesting companies and agencies within the computer science and IT sector visit D-Dagen to network with students. Last year, there were over 70 companies participating in D-Dagen.
    <br><br>
    Right now the project group is working hard to make this year's fair as great as possible. On this page you will find helpful information for visitors of the fair, such as an interactive map over the fair venue with a filtering functions. We aim to bring you a smooth and painless experience before, during and after the career fair. More information will be posted continously, so stay updated!
  </p>
</div>
<div class="info-box">
  <p class="cerise head">Hälsning från <b>D-Dagenansvariga</b></p>
  <br>
  <p>
    Vad roligt att du har valt att besöka D-Dagen 2019! Varje år kommer många intressanta företag och myndigheter verksamma inom data- och IT-sektorn till D-Dagen för att nätverka med studenter på data. Förra året deltog över 70 företag i D-Dagen!
    <br><br>
    Just nu jobbar vi i projektgruppen i full fart för att skapa en så givande och rolig mässa som möjligt. På denna sida kommer nyttig information för besökare att dyka upp inför och under mässan den 10e oktober. Bland annat kommer det att finnas en interaktiv karta med filtreringsfunktion att finnas för att underlätta för taggade studenter!
  </p>
</div>
<div class="info-box">
  <p class="cerise head">Hälsning från vår <b>huvudsponsor 2019</b></p>
  <br>
  <p>
    Vad roligt att du har valt att besöka D-Dagen 2019! Varje år kommer många intressanta företag och myndigheter verksamma inom data- och IT-sektorn till D-Dagen för att nätverka med studenter på data. Förra året deltog över 70 företag i D-Dagen!
    <br><br>
    Just nu jobbar vi i projektgruppen i full fart för att skapa en så givande och rolig mässa som möjligt. På denna sida kommer nyttig information för besökare att dyka upp inför och under mässan den 10e oktober. Bland annat kommer det att finnas en interaktiv karta med filtreringsfunktion att finnas för att underlätta för taggade studenter!
  </p>
</div>
{% endblock %}
