/* Variables */
:root{
    --cerise: #e83d84;
    --cerise-light: #ec5f99; /*rgba(232,19,108,0.8);*/
}

.image-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 60px;
}

.pr-image-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.image-container-text {
    text-align: center;
    padding-bottom: 20px;
}

.portrait {
    float: left;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.portrait-photo{
    float: left;
    text-align: center;
    object-fit: fill;
}

.portrait img {
    width: 200px;
}

.portrait-photo img {
    width: 200px;
    border-radius: 15%;
}