.top-text {
    width: 300px;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 10px white;
    padding: 10px;
}

.package {
    background: url(/static/img/assets/companies_background.jpg);
    color: white;
}

.package h3 {
    color: white;
}

.package h2 {
    font-weight: 600;
    font-size: 36px;
    text-transform: uppercase;
    color: white;
}

.package a {
    color: #3e3e3e;
}

dt {
    text-transform: none !important;
}

#faq-list dt {
    font-weight: 700;
    font-size: 1.125rem;
}

#companies-title {
    height: 340px;
    background: url(/static/img/assets/event.jpg);
    background-position: center 0px;
    background-size: cover;
}

@media screen and (min-width: 1300px) {
    #companies-title {
        background-position: center -300px;
    }
}

.uk-button-default {
    color: #1e87f0;
}