:root{
    --cerise: #e83d84;
    --cerise-light: #ec5f99; /*rgba(232,19,108,0.8);*/
    --grey: rgba(69, 69, 69, 1);
    --grey-transparent: rgba(69, 69, 69, 0.8);
    --hover-color: var(--cerise);
    --border-color: var(--cerise);
}

footer {
	background-color: var(--grey);
    padding: 2% 3% 2% 3%;
	display: grid;
    grid-template-rows: repeat(1fr, 3);

    border-width: 0.3em 0 0 0;
	border-style: solid;
	border-color: var(--border-color);
    font-size: 2rem;
}

/* Make the text for the social media icons centerd */
#footer-item2 ul li {
    display: flex;
    align-items: center;
}

#footer-item2 ul {
    padding: 0%;
    margin: 0%;
}

/* Classes */
/*****************/
/* Each item in the footer is a footer item */
.footer-item {
    margin-bottom: 5%;
    padding-left: 1em;
    padding-right: 1em;
	border-left: solid;
	border-color: var(--border-color);
}

.footer-item:last-child {
    margin-bottom: 0;
}

/* Style the headers */
.footer-item h2 {
	padding-bottom: 0.125em;
    margin-top: 0.125em;
    margin-bottom: 2%;
    border-width: 0 0 0.25rem 0;
	border-style: solid;
	border-color: var(--border-color);
}

.sponsor-item {
    /* Change the color of the icons to pink */
    filter: invert(41%) sepia(30%) saturate(5301%) hue-rotate(311deg) brightness(93%) contrast(96%);
    height: 5rem;
    margin: 0 auto 0 auto;
} 

.icon {
    /* Change the color of the icons to white */
    filter: invert(100%) sepia(3%) saturate(113%) hue-rotate(222deg) brightness(115%) contrast(88%);
    width: 1.5em;
    height: 1.5em;
    padding-right: 0.25em;
    margin-bottom: 0.125em;
}

/* ID's */
/*****************/
#footer-sponsor-container {
    display: grid;
    grid-template-rows: auto auto auto;
}

#contact-footer {
    margin: 0;
    padding: 0;
}

#contact-footer div:not(:last-child) {
    margin-bottom: 3%;
}

/* For large phones */
@media only screen and (min-width: 600px) {
    footer {
        background-color: var(--grey-transparent);
    }

    #footer-item1 div {
        flex-direction: row;
    } 

    .sponsor-item {
        width: 40%;
    }

    #sponsor-item-ddagen {
        margin-right: 0;
    }
    
    #sponsor-item-heart {
        width: 10%;
    }
    
    #sponsor-item-ericsson {
        margin-left: 0;
    }
} 

/* Large phones and tablets */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    #footer-item1 div {
        flex-direction: column;
    }

    .footer-item {
        margin-right: 5%;
        margin-left: 5%;
        margin-bottom: 0px;
    }
    .footer-item{margin-top: 0;}
    
    .sponsor-item {
        width: 40%;
    }

    #footer-item1{grid-column: 4 / span 6; grid-row: 1;}
    #footer-item2{grid-column: 1 / span 3; grid-row: 1;}
    #footer-item3{grid-column: span 3; grid-row: 1;}

    #sponsor-item-ddagen {
        margin-right: auto;
    }
    
    #sponsor-item-heart {
        width: 10%;
    }
    
    #sponsor-item-ericsson {
        margin-left: auto;
    }
} 