* {
    font-family: 'Lato', sans-serif !important;
}

.transparent * {
    background: transparent;
    border: none;
    box-shadow: none;
}

body {
    background-image: url(/static/img/assets/background.png);
}

a {
    color: #e83d84;
}

.cerise {
    color: #e83d84;
}

.cerise-light {
    color: #ec5f99;
}

.cerise-back {
    background-color: #e83d84;
}

.cerise-light-back {
    background-color: #ec5f99;
}

.yellow-shadow {
    text-shadow: 2px 2px 0 #fcda04;
    font-weight: 600;
    font-size: 36px;
    text-transform: uppercase;
    /*color: #ff70ab;*/
    color: white;
}

#page-footer .uk-description-list > dt {
    color: white;
}

h1 {
    color: #e83d84;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 2.4rem;
}

/*
    Custom modifications/additions of UIKit:
*/

.uk-text-m {
    font-size: 1rem !important;
}

.uk-text-ml {
    font-size: 1.125rem !important;
}

.uk-text-l {
    font-size: 1.25rem !important;
}

.uk-text-xl {
    font-size: 1.5rem !important;
}