header {
    background-color: var(--grey);
    border: 0;
    border-bottom: 0.3em;
	border-style: solid;
	border-color: var(--cerise);
    position: fixed;
    top: 0;
    width: 100%;
}

#navbar {
    display: grid;
    grid-template-columns: auto auto;
    padding: 1%;
}

#navbar.responsive {
    position: fixed;
    top: 0;
    width: 100%;
    overflow: visible;
}

.navbar-item {
    background-color: var(--grey);
    float: left;
    color: #f2f2f2;
    padding: 1%;
    display: none;
}

.navbar-item.active {
    background-color: #04AA6D;
    color: white;
}

#navbar.responsive .navbar-item {
    float: none;
    display: block;
    text-align: left;
}

#navbar-hamburger {
    background-color: transparent;
    justify-self: self-end;
    padding: 0%;
}

#ddagen-logo-navbar {
    height: 3rem;
    color: white;
}

#logo-container {
    display: flex;
    justify-self: self-start;
    align-items: center;
}

/* For everything larger than mobile */
@media only screen and (min-width: 600px) {

    .navbar-item {
        background-color: transparent;
        align-items: center;
        display: flex;
        height: 100%;
        padding:0 0.5em 0 0.5em;
    }

    .navbar-item:hover{
        background-color: var(--hover-color);
    }

    #navbar {
        font-size: 2rem;
        background-color: var(--grey-transparent);
        padding: 0%;
        grid-template-columns: auto 1fr;
    }

    #navbar-link-container {
        width: 100%;
        height: 100%;
        align-items: center;
        grid-template-columns: repeat(99, auto) 1fr;
    }

    #navbar-hamburger {
        display: none;
    }

    #ddagen-logo-navbar {
        height: 3rem;
    }
    
    #logo-container {
        padding: 0.33em;
        padding-left: 0.5em;
        padding-right: 0.5em;
    }
    
    #language {
        display: flex;
        justify-self: self-end;
        position: absolute;
        right: 0;
    }
}