
@font-face {
	font-family: "CustomFont";
	src: url("/static/font/airstrikechrome.ttf");
}

.fireburn {
  padding: 40px;
  font-size: 1.2em;
  font-family: 'CustomFont';
  text-align: center;
  line-height: 1.4em;
  text-transform: uppercase;
  letter-spacing: .1em;
  white-space:nowrap;
}

.fireburn span {
  color: #000;
  /*font-family: 'Caesar Dressing', cursive;*/
  font-family: 'CustomFont' !important;
  font-size: 5em;
  text-transform: lowercase;
  vertical-align: middle;
  letter-spacing: 0em;
}

.fire {
  animation: animation 1s ease-in-out infinite alternate;
  -moz-animation: animation 1s ease-in-out infinite alternate;
  -webkit-animation: animation 1s ease-in-out infinite alternate;
  -o-animation: animation 1s ease-in-out infinite alternate;
}

.burn {
  animation: animation .65s ease-in-out infinite alternate;
  -moz-animation: animation .65s ease-in-out infinite alternate;
  -webkit-animation: animation .65s ease-in-out infinite alternate;
  -o-animation: animation .65s ease-in-out infinite alternate;
}

@keyframes animation
{
0% {text-shadow: 0 0 20px #fefcc9,
  10px -10px 30px #feec85,
  -20px -20px 40px #ffae34,
  20px -40px 50px #ec760c,
  -20px -60px 60px #cd4606,
  0 -80px 70px #973716,
  10px -90px 80px #451b0e;}
100% {text-shadow: 0 0 20px #fefcc9,
  10px -10px 30px #fefcc9,
  -20px -20px 40px #feec85,
  22px -42px 60px #ffae34,
  -22px -58px 50px #ec760c,
  0 -82px 80px #cd4606,
  10px -90px 80px  #973716;}
}

@-moz-keyframes animation
{
0% {text-shadow: 0 0 20px #fefcc9,
  10px -10px 30px #feec85,
  -20px -20px 40px #ffae34,
  20px -40px 50px #ec760c,
  -20px -60px 60px #cd4606,
  0 -80px 70px #973716,
  10px -90px 80px #451b0e;}
100% {text-shadow: 0 0 20px #fefcc9,
  10px -10px 30px #fefcc9,
  -20px -20px 40px #feec85,
  22px -42px 60px #ffae34,
  -22px -58px 50px #ec760c,
  0 -82px 80px #cd4606,
  10px -90px 80px  #973716;}
}

@-webkit-keyframes animation
{
0% {text-shadow: 0 0 20px #fefcc9,
  10px -10px 30px #feec85,
  -20px -20px 40px #ffae34,
  20px -40px 50px #ec760c,
  -20px -60px 60px #cd4606,
  0 -80px 70px #973716,
  10px -90px 80px #451b0e;}
100% {text-shadow: 0 0 20px #fefcc9,
  10px -10px 30px #fefcc9,
  -20px -20px 40px #feec85,
  22px -42px 60px #ffae34,
  -22px -58px 50px #ec760c,
  0 -82px 80px #cd4606,
  10px -90px 80px  #973716;}
}

@-o-keyframes animation
{
0% {text-shadow: 0 0 20px #fefcc9,
  10px -10px 30px #feec85,
  -20px -20px 40px #ffae34,
  20px -40px 50px #ec760c,
  -20px -60px 60px #cd4606,
  0 -80px 70px #973716,
  10px -90px 80px #451b0e;}
100% {text-shadow: 0 0 20px #fefcc9,
  10px -10px 30px #fefcc9,
  -20px -20px 40px #feec85,
  22px -42px 60px #ffae34,
  -22px -58px 50px #ec760c,
  0 -82px 80px #cd4606,
  10px -90px 80px  #973716;}
}

#main-content {
    min-height: calc(100vh - 80px);
}

.register-button {
    padding: 20px;
    padding-top: 1px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

.register-button p, .register-button a {
    /*font-size: 1.5rem;
    color: white !important;
    text-transform: none;
    font-weight: 600;*/

}

.logo {
    margin-top: 50px;
    padding-left: 5%;
    padding-right: 5%;
}

.about-picture {
    display: block;
    max-width: 250px;
    margin-left: auto;
    margin-right: auto;
}

.sponsor-apply {
    position: relative;
    top: -30px;
    border: 2px solid #dae83d;
    background: none;
    color: white;
    font-style: italic;
    font-size: 1.125rem;
}

@media screen and (min-width: 960px) {
    .sponsor-apply {
        width: 850px;
        font-size: 1.25rem;
    }
}

@media screen and (max-width: 960px) {
    .presents-text {
        margin-top: 0;
    }

    .sponsor-apply {
        margin-bottom: 10px;
    }
}

.map-icon {
    position: absolute;
    left: 10vw;
    top: 35vh;
}

.map-icon-2 {
    width: 140px;
}

.small-map-div {
    display: none;
}

@media screen and (max-width: 1400px) {
    .map-icon {
        width: 180px;
        left: 5vw;
        top: 40vh;
    }
}

@media screen and (max-width: 1000px) {
    .map-icon {
        display: none;
    }

    .small-map-div {
        display: block;
    }
}
