#main-content {
    min-height: calc(100vh - 80px);
}

.register-button a {
    font-size: 1.5rem;
    padding: 10px;
    color: #e83d84 !important;
    background-color: white !important;
    box-shadow: 0 0 7px white;
    text-transform: none;
    font-weight: 600;
}

.logo {
    margin-top: 50px;
    padding-left: 5%;
    padding-right: 5%;
}
