#main-content {
    min-height: calc(100vh - 80px);
}

.register-button a {
    font-size: 1.5rem;
    padding: 10px;
    color: #e83d84 !important;
    background-color: white !important;
    box-shadow: 0 0 7px white;
    text-transform: none;
    font-weight: 600;
}

.logo {
    margin-top: 50px;
    padding-left: 5%;
    padding-right: 5%;
}

.about-picture {
    display: block;
    max-width: 250px;
    margin-left: auto;
    margin-right: auto;
}

.sponsor-apply {
    position: relative;
    top: -30px;
    border: 2px solid #dae83d;
    background: none;
    color: white;
    font-style: italic;
    font-size: 1.125rem;
}

@media screen and (min-width: 960px) {
    .sponsor-apply {
        width: 850px;
        font-size: 1.25rem;
    }
}

@media screen and (max-width: 960px) {
    .presents-text {
        margin-top: 0;
    }

    .sponsor-apply {
        margin-bottom: 10px;
    }
}

.map-icon {
    position: absolute;
    left: 10vw;
    top: 35vh;
}

.map-icon-2 {
    width: 140px;
}

.small-map-div {
    display: none;
}

@media screen and (max-width: 1400px) {
    .map-icon {
        width: 180px;
        left: 5vw;
        top: 40vh;
    }
}

@media screen and (max-width: 1000px) {
    .map-icon {
        display: none;
    }

    .small-map-div {
        display: block;
    }
}