/* Variables */

:root {
    --cerise: #e83d84;
    --cerise-light: #ec5f99;
    /*rgba(232,19,108,0.8);*/
    --grey: rgba(69, 69, 69, 1);
    --grey-transparent: rgba(69, 69, 69, 0.8);
}

#home_body {
    color: white;
    background-color: var(--cerise-light);
}

#intro-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10%;
    font-size: 2rem;
}

#page-content {
    height: 100vh;
}

#ddagen-logo-intro {
    width: 66%;
}

#datasektionen-shield {
    width: 20%;
    margin-bottom: 1%;
}

#intro-box h4 {
    margin: 0px;
    padding: 5% 0 5% 0;
    font-size: 3rem;
}

@media (min-width: 600px) {
    #home_body {
        background-size: cover;
        background: url(/static/assets/bakgrund_v2.png) fixed center;
    }
    #ddagen-logo-intro {
        width: 45%;
    }
    #datasektionen-shield {
        width: 10%;
    }
}

@media (min-width: 992px) {
    #intro-box {
        padding: 6.7% 0 6.7% 0;
    }
    #ddagen-logo-intro {
        width: 33%;
    }
    #datasektionen-shield {
        width: 6.7%;
    }
    #intro-box h4 {
        padding: 3% 0 3% 0;
    }
}