#intro-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10%;
    font-size: 2rem;
    margin-top: 15vh;
}

#ddagen-logo-intro {
    width: 66%;
}

#datasektionen-shield {
    width: 20%;
    margin-bottom: 1%;
}

#intro-box h4 {
    margin: 0;
    padding: 5% 0 5% 0;
    font-size: 3rem;
}

@media (min-width: 600px) {
    #home_body {
        background-size: cover;
        background: url(/static/img/assets/bakgrund_v2.png) fixed center;
    }
    #ddagen-logo-intro {
        width: 45%;
    }
    #datasektionen-shield {
        width: 10%;
    }
}

@media (min-width: 992px) {
    #intro-box {
        margin-top: 0;
        padding: 6.7% 0 6.7% 0;
    }
    #ddagen-logo-intro {
        width: 33%;
    }
    #datasektionen-shield {
        width: 6.7%;
    }
    #intro-box h4 {
        padding: 3% 0 3% 0;
    }
}
