/* Variables */
:root{
    --cerise: #e83d84;
    --cerise-light: #ec5f99; /*rgba(232,19,108,0.8);*/
}

* {
    transition-duration: 0.0s;
}

.cerise {
    color: var(--cerise);
}

.cerise-light {
    color: var(--cerise-light);
}

.lato-black {
    font-weight: 900;
}

a {
    color: white;
}

a:hover {
    text-decoration: underline !important;
    color: white;
}

a:visited {
    color: white;
}

.info-box {
    max-width: 1200px;
    margin: 0 auto 40px;
    background-color: white;
    padding: 50px 5%;
    overflow: hidden;
    color: #6a6a6a;
    box-shadow: 0 5px 15px rgba(0,0,0,0.12);
}

.info-box .head {
    font-size: 2em;
    margin-bottom: 0;
    font-weight: 200;
}

.info-box a {
    color: var(--cerise);
}

.page-title {
    font-weight: 600;
    font-size: 4rem;
    display: flex;
    justify-content: center;
    padding: 1.5% 0 1.5% 0;
}

#page-content {
    min-height: 100vh;
}

/* || Size adjustemnt CSS */

/* For devices narrower than 1200px */
@media (max-width: 1200px) {
    .info-box {
        width: 90%;
        padding: 20px;
    }
}

/* For devices narrower than 1100px */
@media (max-width: 1100px) {
    .info-box {
        width: 90%;
        padding: 20px;
    }
}

/* For devices narrower than 768px */
@media (max-width: 768px) {
    .info-box {
        width: 90%;
        padding: 20px;
    }
}

/* For devices narrower than 414px */
@media (max-width: 414px) {
    .info-box {
        margin-right: auto;
    }
}