/* Variables */
:root{
    --cerise: #e83d84;
    --cerise-light: #ec5f99;
    --grey: rgba(52, 52, 52);
    --grey-transparent: rgba(52, 52, 52, 0.9);
    --hover-color: var(--cerise);
    --border-color: var(--cerise);
    --text-color-dark: #6a6a6a;
}

* {
    transition-duration: 0.0s;
}

.cerise {
    color: var(--cerise);
}

.cerise-light {
    color: var(--cerise-light);
}

.lato-black {
    font-weight: 900;
}

a {
    color: white;
}

a:hover {
    text-decoration: underline !important;
    color: white;
}

a:visited {
    color: white;
}

.info-box {
    width: 90%;
    background-color: white;
    color: var(--text-color-dark);
    padding: 3rem;
    box-shadow: 0 5px 15px rgba(0,0,0,0.12);
}

.info-box .head {
    font-size: 2em;
    margin-bottom: 0;
    font-weight: 200;
}

.info-box a {
    color: var(--cerise);
}

.page-title {
    font-weight: 600;
    font-size: 4rem;
    padding: 1.5rem 0 1.5rem 0;
}

#page-content {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}

#home_body {
    color: white;
    background-color: var(--cerise-light);
}


/* For large phones */
@media only screen and (min-width: 600px) {
    .info-box {
        width: 90%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .info-box {
        width: 75%;
    }
}

@media only screen and (min-width: 1200px) {
    .info-box {
        width: 55%;
    }
}