.visitor-title {
    font-size: xx-large;
    font-weight: bold;
    margin-bottom: 0.5rem;
    margin-top: 1.5rem;
}

.lunch-title {
    font-size: larger;
    margin-top: 0.75rem;
    margin-bottom: 0.25rem;
    font-weight: bold;
}

.visitor-schedule-item{
    font-size: 1.75rem;
}