/*.company-list .company-list-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 4pt;
  text-align: center;
  border: 1px solid black;
  background-color: #fafafa;
  min-height: 5%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: all 400ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 16px;
}

.company-list .company-list-item p {
  margin: 4px;
}

.company-list .company-list-item:hover {
  min-height: 10%;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  margin: 8pt 4pt;
  font-size: 25px;
}

.company-list .company-list-item.selected {
  font-size: 50px;
  transition: all 500ms cubic-bezier(0.4, 0, 0.2, 1);
  background: red;
}
*/

.selected {
  /*background-color: rgb(230, 230, 230) !important;*/
  border: 3px solid #39A2DB;
}

.MuiCardHeader-title {
  font-weight: bold !important;
  font-size: 18px !important;
}

.bold {
  font-weight: bold;
}