@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "neue-haas";
  src: url("/fonts/NeueHaasDisplay/NeueHaasDisplayThin.ttf") format("truetype");
  font-weight: 100;
}

@font-face {
  font-family: "neue-haas";
  src: url("/fonts/NeueHaasDisplay/NeueHaasDisplayLight.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "neue-haas";
  src: url("/fonts/NeueHaasDisplay/NeueHaasDisplayRoman.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "neue-haas";
  src: url("/fonts/NeueHaasDisplay/NeueHaasDisplayBlack.ttf") format("truetype");
  font-weight: 900;
}

@font-face {
  font-family: "neue-haas";
  src: url("/fonts/NeueHaasDisplay/NeueHaasDisplayMedium.ttf")
    format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "neue-haas";
  src: url("/fonts/NeueHaasDisplay/NeueHaasDisplayBold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "neue-haas";
  src: url("/fonts/NeueHaasDisplay/NeueHaasDisplayLightItalic.ttf")
    format("truetype");
  font-style: italic;
}

@layer base {
  body {
    overscroll-behavior: none;
  }
}

@layer components {
  #__next {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* For Grayscaling Images */
.grayscale {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
}


/* Custom scrollbar*/
/* No Firefox support */

/* width */
::-webkit-scrollbar {
  width: 1rem;
 
}

/* Track */
::-webkit-scrollbar-track {
  background-blend-mode: darken;
  background: rgb(17,12,48);
  background: linear-gradient(0deg, rgba(17,12,48,1) 0vh, rgba(238,42,123,1) 200vh);
  
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #e83d8489;
  border-radius: 20px;
  transition: all 1s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background: #e83d84; 
}


/* text-drop shadow drop-shadow-[0_1.2px_1.2px_rgba(0,0,0,0.8)]*/
.text-drop-shadow {
  text-shadow: 0 1.2px 1.2px rgba(0, 0, 0, 0.8);
}

/* Custom 0 to auto dynamic animation class*/
.animate-auto-hidden{
  grid-template-rows: 0fr;
}

.animate-auto-show{
  grid-template-rows: 1fr;
}

/* Custom fluga animation class*/
.animate-in-fluga{
  
  background: url("../../public/img/fluga-in-SP.png") 0 0 no-repeat;
  background-size: 1600%;
  width: 108px;
  height: 116px;
  animation: animate-logo-fluga-in steps(14) 1.3s;
  animation-delay: 1s;
}
@keyframes animate-logo-fluga-in { 0% {background-position: 0%;} 100% {background-position: 100%;}}

/*Class for a item that has opacity 0 for 1.3s then it has opacity 100*/
.animate-in-opacity{
  opacity: 0;
  animation: animate-in-logo-opacity 0.1s;
  animation-fill-mode: forwards;
  animation-delay: 2.2s;
}
@keyframes animate-in-logo-opacity { 0% {opacity: 0;} 100% {opacity: 1;}}

.animate-in-logo-date-drop-down{
  opacity: 0;
  transform: translateY(-8px);
  animation: animate-in-logo-date-drop-down 1s ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 2s;
}
@keyframes animate-in-logo-date-drop-down { 0% {opacity: 0; transform: translateY(-8px)} 100% {opacity: 1; transform: translateY(0)}}

.animate-in-logo-text-roll-in{
  clip-path: inset(0px 100% 0px 0px);
  animation: animate-in-logo-text-roll-in 0.3s cubic-bezier(1,.5,1,1);
  animation-fill-mode: forwards;
  animation-delay: 1.8s;
  
}
@keyframes animate-in-logo-text-roll-in { 0% {clip-path: inset(0px 100% 0px 0px);} 100% {clip-path: inset(0);}}

.leaflet-container {
  background: rgba(255, 255, 255, 0.75) !important;
  pointer-events: auto !important;
}

.leaflet-control-zoom {
  padding: 5px 2px;
  border: none !important;
  clip-path: inset(1px 1px 1px 1px round 9999px);
}

.leaflet-control-zoom,
.leaflet-control-zoom-in,
.leaflet-control-zoom-out {
  background: #e83d84 !important;
  color: white !important;
}

.leaflet-control-layers-expanded {
  background: rgba(69, 69, 69, 0) !important;
  border: none !important;
}

.leaflet-control-layers-base label {
  margin: 5px 3px 5px 3px;
  padding: 10px 15px 10px 15px;
  color: white;
  background: #e83d84;
  border-radius: 9999px;
  text-align: center;
}

.leaflet-control-layers-selector {
  display: none;
}

.leaflet-control-layers-list {
  padding-right: 0px !important;
}

#map-container {
  height: calc(100vh - 6rem);
}

@media (max-width: 767px) {
  #map-container {
    height: calc(55vh - 3rem);
  }
}

/* #sidebar {
  height: calc(80vh - 76px);
} */
