@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "neue-haas";
  src: url("/fonts/NeueHaasDisplay/NeueHaasDisplayThin.ttf") format("truetype");
  font-weight: 100;
}

@font-face {
  font-family: "neue-haas";
  src: url("/fonts/NeueHaasDisplay/NeueHaasDisplayLight.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "neue-haas";
  src: url("/fonts/NeueHaasDisplay/NeueHaasDisplayRoman.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "neue-haas";
  src: url("/fonts/NeueHaasDisplay/NeueHaasDisplayBlack.ttf") format("truetype");
  font-weight: 900;
}

@font-face {
  font-family: "neue-haas";
  src: url("/fonts/NeueHaasDisplay/NeueHaasDisplayMedium.ttf")
    format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "neue-haas";
  src: url("/fonts/NeueHaasDisplay/NeueHaasDisplayBold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "neue-haas";
  src: url("/fonts/NeueHaasDisplay/NeueHaasDisplayLightItalic.ttf")
    format("truetype");
  font-style: italic;
}

@layer components {
  #__next {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* For Grayscaling Images */
.grayscale {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
}

.crop-image {
 
  object-fit: cover;
  object-position: center;


}