@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Lato';
    src: url('/fonts/Lato/Lato-Regular.ttf') format('truetype');
    font-weight: normal;
    font-weight: 100 400;
}

@font-face {
    font-family: 'Lato';
    src: url('/fonts/Lato/Lato-Bold.ttf') format('truetype');
    font-weight: 500 600;
}

@font-face {
    font-family: 'Lato';
    src: url('/fonts/Lato/Lato-Black.ttf') format('truetype');
    font-weight: 700 900;
}

@font-face {
    font-family: 'Lato';
    src: url('/fonts/Lato/Lato-Italic.ttf') format('truetype');
    font-style: italic;
}

@font-face {
    font-family: 'NeueHaasDisplay';
    src: url('/fonts/NeueHaasDisplay/NeueHaasDisplayLight.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'NeueHaasDisplayRoman';
    src: url('/fonts/NeueHaasDisplay/NeueHaasDisplayRoman.ttf') format('truetype');
}

@font-face {
    font-family: 'NeueHaasDisplayBlack';
    src: url('/fonts/NeueHaasDisplay/NeueHaasDisplayBlack.ttf') format('truetype');
}

@font-face {
    font-family: 'NeueHaasDisplayMedium';
    src: url('/fonts/NeueHaasDisplay/NeueHaasDisplayMediu.ttf') format('truetype');
}

@font-face {
    font-family: 'NeueHaasDisplay';
    src: url('/fonts/NeueHaasDisplay/NeueHaasDisplayBold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'NeueHaasDisplay';
    src: url('/fonts/NeueHaasDisplay/NeueHaasDisplayLightItalic.ttf') format('truetype');
    font-style: italic;
}

@layer components {
    #__next {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }
}
