@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Lato';
    src: url('/lato/Lato-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Lato';
    src: url('/lato/Lato-Black.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'Lato';
    src: url('/lato/Lato-Italic.ttf') format('truetype');
    font-style: italic;
}
