{% extends "layout.html" %}

{% block intro_full %}
<h1 class="lato-bold yellow-shadow2" id="intro-header">Jobba med oss</h1>
{% endblock intro_full %}

{% block content %}
<div class="info-box">
  <p class="cerise head">Jobba med oss på <b>D&#8209;DAGEN 2019</b></p>
  <br>
  <p>
    Just söker vi taggade medarbetare som vill jobba med oss på D-Dagen 2019! Att jobba på D-Dagen kan innebära många saker. Du kommer att få knyta värdefulla kontakter med företagsrepresentanter, skaffa en unik erfarenhet, men framförallt är det sjukt roligt! Läs mer om rollerna nedan och sök via formuläret <a class="info-link cerise" href={{ url_for('sok') }}>här.</a> Sista ansökningsdag är den <b>15 september 2019.</b>
  </p>

  <p class="cerise head">Företagsvärd</p>
  <p>
    Som företagsvärd blir du tilldelad två företag som du har extra ansvar för under mässan. Du blir D-Dagens kontaktperson för dessa företag och hjälper deras företagsrepresentanter att hitta rätt på sina leveranser, utställningsplatser och löser eventuella problem.
  </p>
  <p class="cerise head">Loungevärd</p>
  <p>
    Som loungevärd jobbar du i D-Dagens lounge i META med att servera fika, kaffe och lunch till företagsrepresentanter.
  </p>
  <p class="cerise head">Task force</p>
  <p>
    Som task force jobbar du som problemlösare på mässan. Exempel på uppgifter är att flytta bord, hjälpa till med leveranser, tejpa mattor som sitter löst, etc.
  </p>
  <p class="cerise head">Fotograf</p>
  <p>
    Denna rollen är ny för i år! Gillar du att fota på fritiden? Föreviga D-Dagen 2019 i bilder som kommer att delas på sociala medier och användas som marknasföring kommande år! Det är bra om du har en egen systemkamera då det inte är säkert att vi kan ordna en till dig.
  </p>

  <p class="button-link"><a class="button" href="{{ url_for('sok') }}">Sök nu!</a></p>


</div>

{% endblock %}
