{% extends "layout.html" %}

{% block page_css %}
<link rel="stylesheet" href="/static/css/companies.css" />
{% endblock %}

{% block content %}

<div id="companies-title" class="uk-section">
    <br>
    <h1 class="uk-text-center cerise">STÄLL UT D-DAGEN 2022</h1>
</div>

<div class="uk-section uk-background-default">
    <div class="uk-container uk-container-medium">

        <!--<hr class="uk-divider-icon uk-margin-medium-top">-->

        <div uk-grid class="uk-flex-center">
            <div class="uk-width-4-5@m">
                <div class="uk-card uk-card-default uk-card-body">
                    <h2 class="cerise">Varför ska vi som företag delta på D-Dagen?</h2>
                    <p>D-Dagen är en bra möjlighet för företag eller myndigheter inom data- och IT-sektorn att knyta kontakter med studenter i olika faser i utbildningen. Kanske söker ni exjobbare, deltidsanställda, sommarjobbare eller nyexaminerade civilingenjörer? Vill ni öka synligheten som arbetsgivare, visa era pågående projekt, eller dela med er om er företagskultur? Anmäl då er till D-Dagen!</p>
                </div>
            </div>
        </div>
        
        <hr class="uk-divider-icon uk-margin-medium-top">

        <h3 class="uk-text-light uk-text-center uk-margin-medium-bottom">Anmälningsprocessen för D-Dagen sker i tre steg:</h3>
        <div class="uk-child-width-1-3@s uk-grid-match" uk-grid id="main-grid">
            <div>
                <div class="uk-card uk-card-default uk-card-body">
                    <h3 class="uk-text-normal uk-text-center cerise">Steg 1</h3>
                    <p>Det första steget går ut på att fylla i en intresseanmälan senast den 25 maj genom att klicka på länken nedan.
                        Efter att den är ifylld kommer ni få ett mejl med information om ni gått vidare i anmälningsprocessen.
                        Om vi har möjlighet att erbjuda er plats kommer det finnas ett avtal bifogat.</p>

                    <a target="_blank" class="uk-button uk-button-default uk-align-center" href="https://docs.google.com/forms/d/e/1FAIpQLSdHSky4KmmDbMzPjUKk6wpkiHkkysjnqRRlQ6jKzl4f7IKgUA/formResponse">Anmälan 2022</a>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-default uk-card-body">
                    <h3 class="uk-text-normal uk-text-center cerise">Steg 2</h3>
                    <p>
                        Nästa steg går ut på att signera avtalet (inklusive ett beställningsformulär), scanna det och inom
                        tre (3) veckor skicka det till <a href="mailto:ansvarig@ddagen.se">ansvarig@ddagen.se</a> med rubriken “Kontrakt D-Dagen 2022 -
                        Företagsnamn”. Observera att om vi inte får detta kontrakt inom tre veckor efter det att vi
                        skickat kontraktet till den angivna epostadressen kan anmälan komma att plockas bort.
                    </p>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-default uk-card-body">
                    <h3 class="uk-text-normal uk-text-center cerise">Steg 3</h3>
                    <p>
                        Det sista steget är att ni får tillbaka ett signerat avtal av D-Dagen inom två (2) veckor från
                        det att vi fått tillbaka kontraktet, då är anmälan slutförd.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="uk-section uk-background-default uk-padding-remove-top">
    <div class="uk-container uk-container-medium">
        <div class="uk-grid-medium uk-grid-match" uk-grid>
            <div class="uk-width-2-3@m">
                <div class="uk-card uk-card-default uk-card-body package">
                    <!-- Baspaket -->
                    <h2>BASPAKET</h2>
                    <ul>
                    <li>5 m<sup>2</sup> yta</li>
                    <li>Bord, 1 st</li>
                    <li>Frukost och lunch, 2 personer</li>
                    <li>Kvällssittning, 2 personer</li>
                    <li>10 st barbongar</li>
                    <li>El och Wi-Fi</li>
                    <li>Tillgång till företagslounge med fika och förfriskningar under dagen</li>
                    <li>En företagsvärd som hjälper er under dagen</li>
                    <li>Mottagning och förvaring av leveranser</li>
                    </ul>
                    <h3>Pris: 30 000 kr</h3>
                </div>
            </div>
            <div class="uk-width-1-3@m">
                <div class="uk-grid-medium" uk-grid>
                    <div class="uk-width-1-1">
                        <div class="uk-card uk-card-default uk-card-body package">
                            <!-- Extra tillägg -->
                            <h2>Extra tillägg</h2>
                            <p>
                            Det går att beställa till extra av det som kan behövas. Exempel på detta är fler ståbord eller
                            biljetter till sittningen.
                            <br>
                            Har ni några frågor kring detta hör av er till oss på <a href="mailto:sales@ddagen.se">sales@ddagen.se</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="uk-grid-medium" uk-grid>
                    <div class="uk-width-1-1">
                        <div class="uk-card uk-card-default uk-card-body package">
                            <h2>Event</h2>
                            <p>
                                Det finns möjlighet att anordna företagsevent i samband med D-Dagen.
                                Vänligen kontakta <a href="mailto:ansvarig@ddagen.se">event@ddagen.se</a> för mer information.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>        
    </div>
</div>

<div class="uk-section uk-background-default uk-padding-remove-top">
    <div class="uk-container uk-container-medium">
        <hr class="uk-divider-icon uk-margin-medium-bottom">
        <div uk-grid class="uk-flex-center">
            <div class="uk-width-4-5@m">
                <div class="uk-card uk-card-default uk-card-body">

                    <h2>Övrig info</h2>

                    <dl class="uk-description-list" id="faq-list">

                        <dt>Kan vi som företag synas mer än att enbart deltaga på mässan eller sponsra D-Dagen på något sätt?</dt>
                        <dd>Kontakta <a href="mailto:johan.abdi@ddagen.se">johan.abdi@ddagen.se</a> och skriv ett mejl
                            om vad era tankar är så bör vi komma
                            fram med någon lösning. Det kan bland annat vara att ha sin logotyp på goodiebag-påsen
                            eller något annat roligt.</dd>

                        <dt>Jag undrar något annat, vem ska jag kontakta?</dt>
                        <dd>Skicka iväg ett mejl till <a href="mailto:ansvarig@ddagen.se">ansvarig@ddagen.se</a>, så ser vi
                            till
                            att besvara er fråga.</dd>

                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    // Set highlight of navbar item for this page:
    document.querySelectorAll(".nav-companies").forEach(element => {
        element.classList.add("uk-active");
    });
</script>

{% endblock %}