{% extends "layout.html" %}

{% block intro_full %}
<div class="page-title">Företag</div>
{% endblock intro_full %}

{% block content %}
<!-- Anmälningsprocess -->
<!-- <div>
  <div id="interest">
    <h2>ANMÄLAN</h2>
    <h3> Anmälningsprocessen för D-Dagen sker i tre steg:</h3>
  </div>

  <div id="flex-boxes">
    <div class="flex-box">
      <p class="cerise head">STEG 1</p>
      <p>
        Det första steget går ut på att fylla i en intresseanmälan genom att klicka på länken nedan.
        Efter att den är ifylld kommer ni få ett mejl med information om ni gått vidare i anmälningsprocessen.
        Om vi har möjlighet att erbjuda er plats kommer det finnas ett avtal bifogat.
      </p>
      <p><a class="button" href="https://ddagen.se/2021">Intresseanmälan 2021</a></p>
      <p>
        Nytt för i år är att vi erbjuder ett startup-paket. 
        Är ni ett mindre startup och vill stå på D-Dagen så kan ni anmäla er här
      </p>
      <p><a class="button" href="https://ddagen.se/startup">Startup 2021</a></p>
    </div>
    
    <div class="flex-box">
      <p class="cerise head">STEG 2</p>
      <p>Nästa steg går ut på att signera avtalet (inklusive ett beställningsformulär), scanna det och inom tre (3)
        veckor skicka det till <a class="cerise" href="mailto:projectmanager@ddagen.se">d&#8209;projectmanager@ddagen.se</a> med rubriken
        “Kontrakt D-Dagen 2021 - Företagsnamn”. Observera att om vi inte får detta kontrakt inom tre veckor efter det
        att vi skickat kontraktet till den angivna epostadressen kan anmälan komma att plockas bort.
      </p>
    </div>
    
    <div class="flex-box">
      <p class="cerise head">STEG 3</p>
      <p>Det sista steget är att ni får tillbaka ett signerat avtal av D-Dagen inom två (2) veckor från det att vi
        fått tillbaka kontraktet, då är anmälan slutförd.</p>
      </div>
  </div>
</div> -->

<!-- Utställningspaket -->
<div class="info-box" id="intro-other">
  <div>
    <p class="cerise head">STÄLL UT <b>D&#8209;DAGEN 2021</b></p>
    <br>
    <p class="info-text">
      Ingen kan ha missat att vi under senaste tiden befunnit oss i en pandemi,
      men hur mässan kommer påverkas är inte lika uppenbart. Vi har noga
      iakttagit läget för att kunna ta välinformerade beslut, även om det
      alltid funnits en osäkerhet. Vi har tittat på folkhälsomyndighetens
      rekommendationer, rådande restriktioner, statistik rörande sjukdomsfall
      mm; för att tillslut ha kommit fram till hur vi ska göra.

      Mässan kommer genomföras fysiskt!

      Det innebär att företag och studenter samlas i Nymble (Drottning
      Kristinas väg 15-19, 114 28 Stockholm) under dagen för att få träffa
      varandra. Med det sagt har vi stor respekt för att smittspridning
      fortfarande sker, och vi kommer göra vårt yttersta för att minimera
      riskerna som kommer med att träffas fysiskt. Några av de åtgärder vi
      kommer att vidta är följande:

    <ul>
      <li>
        Minska antalet företag för att reducera trängsel i lokalen.
      </li>
      <li>
        Räkna hur många besökare som går in/ut för att hela tiden veta antalet
        besökare på mässan. Skulle trycket vid en viss tidpunkt vara för stort
        kommer vi begränsa antalet vi släpper in just då. De väntande får
        stå i kö med lämpligt mellanrum mellan varje sällskap.
      </li>
      <li>
        Det kommer finnas en bestämd rutt som besökarna får följa. Närmare
        bestämt kommer vi ha en ingång som alla går in, och därefter går
        de längs en bestämd väg som tar dem förbi alla företag, för att
        slutligen gå ut genom en annan del av byggnaden.
      </li>
      <li>
        Handsprit kommer finnas utplacerad på flera platser längs rutten.
      </li>
      <li>
        Vi ser även till att det är bra luftgenomströmning i lokalen för att
        minska stillastående luft.
      </li>
    </ul>

    Om ni har några frågor, förslag eller önskemål om hur mässan kan/kommer
    anpassas kan ni kontakta oss.
    </p>

    <!-- Baspaket -->
    <h2>BASPAKET</h2>
    <ul>
      <li>5 m<sup>2</sup> yta</li>
      <li>Bord, 1 st</li>
      <li>Frukost och lunch, 2 personer</li>
      <li>Kvällssittning, 2 personer</li>
      <li>10 st barbongar</li>
      <li>El och Wi-Fi</li>
      <li>Tillgång till företagslounge med fika och förfriskningar under dagen</li>
      <li>En företagsvärd som hjälper er under dagen</li>
      <li>Mottagning och förvaring av leveranser</li>
    </ul>
    <h3>Pris: 28 000 kr</h3>

    <!-- Extra tillägg -->
    <h2>Extra tillägg</h2>
    <p>
      Det går att beställa till extra av det som kan behövas. Exempel på detta är fler ståbord eller
      biljetter till sittningen. Kontakta gärna oss om ni har några frågor.
      <br>
      Har ni några frågor kring detta hör av er till oss på <a href="mailto:sales@ddagen.se">sales@ddagen.se</a>
    </p>

    <!-- Övrig Info -->
    <h2>Övrig information</h2>
    <div>
      <div>
        <p class="lato-black">
          Kan vi som företag synas mer än att enbart deltaga på mässan eller sponsra D-Dagen på något sätt?
        </p>
        <p class="info-text">
          Kontakta <a href="mailto:sponsorship@ddagen.se">sponsorship@ddagen.se</a> och skriv ett mejl om vad era tankar
          är så bör ni komma
          fram med någon lösning. Det kan bland annat vara att ha sin logotyp på goodiebag påsen eller något annat
          roligt.
        </p>
      </div>

      <div>
        <p class="lato-black">
          Finns det möjlighet att hålla event tillsammans med D-Dagen?
        </p>
        <p class="info-text">
          Det finns möjlighet att hålla företagsevent tillsammans med D-Dagen. Vänligen kontakta oss på
          <a href="mailto:projectmanager@ddagen.se">projectmanager@ddagen.se</a> för mer information.
        </p>
      </div>

      <div>
        <p class="lato-black">
          Jag undrar något annat, vem ska jag kontakta?
        </p>
        <p class="info-text">
          Skicka iväg ett mejl till <a href="mailto:projectmanager@ddagen.se">projectmanager@ddagen.se</a>, så ser vi
          till
          att besvara er fråga.
        </p>
      </div>
    </div>
  </div>

  <!-- Company Logos -->
  <div id="logos">
    <div>
      <img src="https://assets.appian.com/uploads/2019/04/Acc_Logo_Black_Purple_RGB-2.png">
      <a href="https://www.accenture.com/se-en">Accenture</a>
    </div>

    <div>
      <img src="https://afry.com/sites/default/files/2019-11/AFRY_Logotyp_Liggande_PNG.png">
      <a href="https://afry.com/en">Afry</a>
    </div>

    <div>
      <img src="https://uploads-ssl.webflow.com/5d69330c8cc2811f92af16c5/5ed4f270ef82ae57a98854a0_alex-therapeutics-logo.png">
      <a href="https://www.alextherapeutics.com/">Alex Therapeutics</a>
    </div>

    <div>
      <img src="https://upload.wikimedia.org/wikipedia/commons/e/e7/Atlas-Copco-Logo.svg">
      <a href="https://www.atlascopcogroup.com/en">Atlas Copco</a>
    </div>

    <div>
      <img src="">
      <a href="https://avalanchestudios.com/">Avalanch Studios</a>
    </div>

    <div>
      <img src="">
      <a href="https://www.bonniernews.se">Bonnier News</a>
    </div>

    <div>
      <img src="https://billionjourneyproject.com/wp-content/uploads/2018/06/BonTouch.png">
      <a href="https://www.bontouch.com/">bontouch</a>
    </div>

    <div>
      <img src="">
      <a href="https://www.businessvision.se/">Buisness Vision Consulting</a>
    </div>

    <div>
      <img src="https://www.her-career.com/dokumente/logo/119585_rgb_72.jpg">
      <a href="https://carmenta.com/en/">Carmenta Geospatial Technologies</a>
    </div>

    <div>
      <img src="https://nordic.icpc.io/gfx/challengermode.png">
      <a href="https://www.challengermode.com/">Challangermode</a>
    </div>

    <div>
      <img src="">
      <a href="https://www.columbiaroad.com/">Columbia Road</a>
    </div>

    <div>
      <img src="https://www.colan.org/wp-content/uploads/2015/06/COMSOL_logo.png">
      <a href="https://www.comsol.se/">Comsol</a>
    </div>

    <div>
      <img src="">
      <a href="https://cygni.se/">Cygni</a>
    </div>

    <div>
      <img src="https://upload.wikimedia.org/wikipedia/commons/5/59/Datatjej_logotyp.png">
      <a href="https://datatjej.se">Datatjej</a>
    </div>

    <div>
      <img src="https://resources.mynewsdesk.com/image/upload/c_limit,dpr_auto,f_auto,h_700,q_auto,w_auto/wnqmfl77bmwhmi5vrfv4.jpg">
      <a href="https://www.decerno.se/">Decarno</a>
    </div>

    <div>
      <img src="">
      <a href="https://digpro.com/sv/">Digipro</a>
    </div>

    <div>
      <img src="">
      <a href="https://www.exsitec.se/">Exsitec</a>
    </div>

    <div>
      <img src="https://3.bp.blogspot.com/-ONHrv1E11bE/T7VruqYLZlI/AAAAAAAAJmQ/xP0o4DDf2hs/s1600/foi-logo-300dpi.jpg">
      <a href="https://www.foi.se/jobba-hos-oss/student-som-gillar-utmaningar-exjobba-hos-oss.html">FOI</a>
    </div>

    <div>
      <img src="">
      <a href="https://fra.se/">FRA</a>
    </div>

    <div>
      <img src="">
      <a href="https://www.flygresor.se/">Flygresor.se</a>
    </div>

    <div>
      <img src="https://www.tadviser.ru/images/d/d5/GD_Logo_GieseckeDevrient.png">
      <a href="https://www.gi-de.com/en/">Giesecke + Devrient Mobile</a>
    </div>

  </div>
</div>


{% endblock %}