{% extends "layout.html" %}

{% block intro_full %}
<div class="page-title">Projektgruppen</div>
{% endblock intro_full %}

{% block content %}
<div class="info-box">

    <!-- DDA -->
    <p class="cerise head image-container-text">Projektledare</p>
    <div id="dda" class="image-container"></div>

    <!-- Ekonomiansvarig -->
    <p class="cerise head image-container-text">Ekonomi</p>
    <div id="fin" class="image-container"></div>
    
    <!-- Säljgruppen  -->
    <p class="cerise head image-container-text">Sälj</p>
    <div id="sales" class="image-container"></div>

    <!-- Mässgruppen  -->
    <p class="cerise head image-container-text">Mässa</p>
    <div id="fair" class="image-container"></div>

    <!-- PR-gruppen -->
    <p class="cerise head image-container-text">PR</p>
    <div id="pr" class="image-container"></div>

    <!-- Festgruppen -->
    <p class="cerise head image-container-text">Fest</p>
    <div id="event" class="image-container"></div>

    <script type="text/javascript">
        addContactInfo("swe");
     </script>
</div>
{% endblock %}
