{% extends "layout.html" %}

{% block intro_full %}
<h1 class="lato-bold yellow-shadow2" id="intro-header">Projektgruppen</h1>
{% endblock intro_full %}

{% block content %}
<!-- D-Dagen Ansvarig(a)  -->
<div class="info-box">
    <p class="cerise head image-container-text">Projektansvariga</p>
    <div class="image-container project-leaders-image-container">
        <!-- D-Dagen Ansvarig -->
        <div class="portrait-photo">
            <img src="{{ url_for('static', filename='bilder2021/projektgruppen/erik.jpg') }}" alt="Erik Nordlöf" />
            <h3>Erik Nordlöf</h3>
            <h5>D-Dagenansvarig</h5>
            <a href="mailto:projectmanager@ddagen.se" class="cerise">projectmanager@ddagen.se</a>
        </div>
        <!-- D-Dagen Ansvarig -->
        <div class="portrait-photo">
            <img src="{{ url_for('static', filename='bilder2021/projektgruppen/adam.jpg') }}" alt="Adam Sjöberg" />
            <h3>Adam Sjöberg</h3>
            <h5>D-Dagenansvarig</h5>
            <a href="mailto:projectmanager@ddagen.se" class="cerise">projectmanager@ddagen.se</a>
        </div>
    </div>
    
    <!-- Ekonomi ansvariga -->
    <p class="cerise head image-container-text">Ekonomi</p>
    <div class="image-container">
        <div class="portrait-photo">
            <img src="{{ url_for('static', filename='bilder2021/projektgruppen/felix.jpg') }}" alt="Felix Almay" />
            <h3>Felix Almay</h3>
            <h5>D-Dagenansvarig</h5>
            <a href="mailto:ekonomi@ddagen.se" class="cerise">ekonomi@ddagen.se</a>
        </div>
    </div>

    <!-- Säljgruppen  -->
    <p class="cerise head image-container-text">Sälj</p>
    <div class="image-container">
        <!-- Säljansvarig -->
        <div class="portrait-photo">
            <img src="{{ url_for('static', filename='bilder2021/projektgruppen/emmy.jpg') }}" alt="Emmy Yin" />
            <h3>Emmy Yin</h3>
            <h5>Säljansvarig</h5>
            <a href="mailto:emmy@ddagen.se" class="cerise">emmy@ddagen.se</a>
        </div>
        <!-- Säljare -->
        <div class="portrait-photo">
            <img src="{{ url_for('static', filename='maskot-bilder/alpa02-sälj.png') }}" alt="Markus Videfors" />
            <h3>Markus Videfors</h3>
            <h5>Säljare</h5>
            <a href="mailto:markus@ddagen.se" class="cerise">markus@ddagen.se</a>
        </div>
        <!-- Säljare -->
        <div class="portrait-photo">
            <img src="{{ url_for('static', filename='maskot-bilder/alpa02-sälj.png') }}" alt="Ludvig Siljeholm" />
            <h3>Ludvig Siljeholm</h3>
            <h5>Säljare</h5>
            <a href="mailto:ludvig@ddagen.se" class="cerise">ludvig@ddagen.se</a>
        </div>
        <!-- Säljare -->
        <div class="portrait-photo">
            <img src="{{ url_for('static', filename='maskot-bilder/alpa02-sälj.png') }}" alt="Rickard Mårtensson" />
            <h3>Rickard Mårtensson</h3>
            <h5>Säljare</h5>
            <a href="mailto:rickard@ddagen.se" class="cerise">rickard@ddagen.se</a>
        </div>
    </div>

    <!-- Mässgruppen  -->
    <p class="cerise head image-container-text">Mässa</p>
    <div class="image-container">
        <!-- Mässansvarig -->
        <div class="portrait-photo">
            <img src="{{ url_for('static', filename='bilder2021/projektgruppen/marcus.jpg') }}" alt="Marcus Erlandsson" />
            <h3>Marcus Erlandsson</h3>
            <h5>Mässansvarig</h5>
            <a href="mailto:fair@ddagen.se" class="cerise">fair@ddagen.se</a>
        </div>
        <!-- Lokalansvarig -->
        <div class="portrait-photo">
            <img src="{{ url_for('static', filename='maskot-bilder/alpa02-lokalansvarig.png') }}" alt="Hanna Peters" />
            <h3>Hanna Peters</h3>
            <h5>Lokalansvarig</h5>
            <a href="mailto:venue@ddagen.se" class="cerise">venue@ddagen.se</a>
        </div>
        <!-- Logistikansvarig -->
        <div class="portrait-photo">
            <img src="{{ url_for('static', filename='maskot-bilder/alpa02-logistik.png') }}" alt="David Puustinen" />
            <h3>David Puustinen</h3>
            <h5>Logistikansvarig</h5>
            <a href="mailto:logistics@ddagen.se" class="cerise">logistics@ddagen.se</a>
        </div>
        <!-- Loungeansvarig -->
        <div class="portrait-photo">
            <img src="{{ url_for('static', filename='maskot-bilder/alpa02-lounge.png') }}" alt="Tim Jonsson" />
            <h3>Tim Jonsson</h3>
            <h5>Loungeansvarig</h5>
            <a href="mailto:lounge@ddagen.se" class="cerise">lounge@ddagen.se</a>
        </div>
    </div>

    <!-- Festgruppen -->
    <p class="cerise head image-container-text">Fest</p>
    <div class="image-container">
        <!-- Festansvarig -->
        <div class="portrait-photo">
            <img src="{{ url_for('static', filename='maskot-bilder/alpa02-fest.png') }}" alt="Douglas Fischer" />
            <h3>Douglas Fischer</h3>
            <h5>Festansvarig</h5>
            <a href="mailto:fest@ddagen.se" class="cerise">fest@ddagen.se</a>
        </div>
        <!-- Festansvarig -->
        <div class="portrait-photo">
            <img src="{{ url_for('static', filename='maskot-bilder/alpa02-fest.png') }}" alt="Ebba Bråtman" />
            <h3>Ebba Bråtman</h3>
            <h5>Festansvarig</h5>
            <a href="mailto:fest@ddagen.se" class="cerise">fest@ddagen.se</a>
        </div>
    </div>

    <!-- PRgruppen -->
    <p class="cerise head image-container-text">PR</p>
    <div class="pr-image-container">
        <!-- PR-Ansvarig -->
        <div class="portrait-photo">
            <img src="{{ url_for('static', filename='maskot-bilder/alpa02-pransvarig.png') }}" alt="Sara Strandberg" />
            <h3>Sara Strandberg</h3>
            <h5>PR-ansvarig</h5>
            <a href="mailto:pr@ddagen.se" class="cerise">pr@ddagen.se</a>
        </div>
        <!-- Webbansvarig -->
        <div class="portrait-photo">
            <img src="{{ url_for('static', filename='maskot-bilder/alpa02-webansvarig.png') }}" alt="Pontus Söderlund" />
            <h3>Pontus Söderlund</h3>
            <h5>Webbansvarig</h5>
            <a href="mailto:web@ddagen.se" class="cerise">web@ddagen.se</a>
        </div>
        <!-- Art Director -->
        <div class="portrait-photo">
            <img src="{{ url_for('static', filename='maskot-bilder/alpa02-grafik.png') }}" alt="Amanda Hedlund" />
            <h3>Amanda Hedlund</h3>
            <h5>Art Director</h5>
            <a href="mailto:graphics@ddagen.se" class="cerise">graphics@ddagen.se</a>
        </div>
    </div>
    <div class="pr-image-container">
        <!-- Fotoansvarig -->
        <!-- <div class="portrait">
            <img src="{{ url_for('static', filename='maskot-bilder/alpa02-foto.png') }}" alt="André Brogärd" />
            <h3>André Brogärd</h3>
            <h5>Fotoansvarig</h5>
            <a href="mailto:photo@ddagen.se" class="cerise">photo@ddagen.se</a>
        </div> -->
        <!-- Socialmedieansvarig -->
        <div class="portrait-photo">
            <img src="{{ url_for('static', filename='maskot-bilder/alpa02-socialamedier.png') }}" alt="Michael Morales Sundstedt" />
            <h3>Michael Morales Sundstedt</h3>
            <h5>Socialamedieansvarig</h5>
            <a href="mailto:socialmedia@ddagen.se" class="cerise">socialmedia@ddagen.se</a>
        </div>
        <!-- Spons- och Tryckansvarig -->
        <div class="portrait-photo">
            <img src="{{ url_for('static', filename='maskot-bilder/alpa02-tryck-sponsor.png') }}" alt="Ann Abeysekera" />
            <h3>Ann Abeysekera</h3>
            <h5>Spons- och Tryckansvarig</h5>
            <a href="mailto:sponsorship@ddagen.se" class="cerise">sponsorship@ddagen.se</a>
        </div>
    </div>
</div>
{% endblock %}
