{% extends "layout.html" %}

{% block page_css %}
<link rel="stylesheet" href="/static/css/event.css" />
{% endblock %}

{% block content %}

<div id="companies-title" class="uk-section">
    <br>
    <h1 class="uk-text-center cerise top-text">Event</h1>
</div>

<div class="uk-section uk-background-default">
    <div class="uk-container uk-container-medium">
        <div uk-grid class="uk-flex-center">
            <div class="uk-width-4-5@m">
                <div class="uk-card uk-card-default uk-card-body">

                    <h2>Lunchföreläsningar</h2>

                    <dl class="uk-description-list" id="faq-list">

                        <dt>Basalt - 6 oktober (på svenska)</dt>
                        <dd>
                            Hur skyddar vi samhället när motståndarna är proffs?<br><br>
            
                            Sverige utsätts dagligen för allvarliga cyberattacker som riskerar att skada vårt samhälle i grunden.
                            Men vad gör vi när motståndarna blir duktigare? Hur skyddar vi vårt samhälle från systematiska
                            attacker som riktar sig mot vår infrastruktur som elnät, vattenförsörjning, försvar och mobilnät?<br><br>

                            Säkerhetsföretaget Basalt är huvudsponsor på D-dagen och lång erfarenhet av it- och cyberhot samt
                            har utvecklat en plattform som uppfyller de högsta kvalitets- och säkerhetskraven på marknaden och
                            skyddar företag och myndigheter mot inre och yttre hot.<br><br>

                            Välkommen till ett spännande lunchseminarium med Basalts VD Nicklas Haglund, som har 25 års
                            erfarenhet av att designa, konstruera och implementera it-system som skyddar rikets säkerhet.<br><br>

                            Observera att platserna är begränsade, så fyll i formuläret och anmäl dig redan idag!<br><br>

                            NÄR? 6:e oktober, 12.15-13.00<br>
                            VAR? KTH Campus, Föreläsningssal V1<br><br>

                            <a href="https://docs.google.com/forms/d/e/1FAIpQLSeuoUmmPA3fIIVsiEMzzPFB0mWh43s4UmEqhhUbRjrTsqwhbw/viewform">Till anmälan</a>
                        </dd>

                        <hr class="uk-divider-icon">

                        <dt>FRA - 3 oktober (på svenska)</dt>
                        <dd>
                            FRA arbetar med att utveckla teknik för svensk underrättelsetjänst och för att skydda
                            Sverige mot cyberhot. Att jobba på FRAs teknikavdelning påminner om att jobba på vilket
                            annat teknikföretag som helst, fast ändå inte då vi har ett alldeles unikt uppdrag.<br><br>
                            
                            Vill du veta mer? Kom på vår lunchföreläsning 3 oktober kl 12 i sal V1. Ses där!!!<br><br>

                            Observera att platserna är begränsade, så anmäl dig redan idag!<br><br>
                            
                            <a href="https://docs.google.com/forms/d/1qypRcfr6TxPZK9AbW7n-0v5l1YBGGL5WEJ8en5tjv14/viewform">Till anmälan</a>
                        </dd>

                        <hr class="uk-divider-icon">

                        <dt>Northvolt - 7 oktober (på engelska)</dt>
                        <dd>
                            The world is turning its back on fossil fuels. With the change comes new opportunities and new demands for industry.
                            Our mission is to deliver batteries with an 80% lower carbon footprint compared to those made using coal energy.
                            And we are building them into solutions to make the world a better, cleaner place.<br><br>

                            Our first Gigafactory, Northvolt Ett, sets a global example with its digitalization strategy. We use custom IoT devices and
                            Amazon Web Services (AWS) to design and build a connected factory, allowing us to increase operational effectiveness,
                            reliability, and modularity. Examples include detailed product traceability, near-real-time monitoring of manufacturing
                            line effectiveness, computer vision powered defect detection, and machine learning driven prediction of quality and performance
                            of produced battery cells.<br><br>

                            A warm welcome to this lunch seminar where we will talk about our goals, our custom digitalization solutions, and their
                            importance in industrial manufacturing.<br><br>

                            WHEN? October 7th, 12.15-13.00<br>
                            WHERE? KTH Campus, Lecture Hall V1<br><br>

                            <a href="https://docs.google.com/forms/d/e/1FAIpQLSe7ZSKTJUpRylBvxS6e69RglUWscb_EMh3jPRuKwuIb4qzp7A/viewform">Sign up here</a>
                        </dd>

                        <hr class="uk-divider-icon">

                        <dt>EA - 11 oktober (på engelska)</dt>
                        <dd>
                            DICE is the award-winning studio based in Stockholm, Sweden, best known for creating the
                            phenomenally successful Battlefield franchise, the Star Wars™: Battlefront franchise,
                            and Mirror’s Edge. Our people are the backbone and driving force of our creative products.
                            That’s why we’re dedicated to providing everyone the chance to express themselves and be
                            their very best as we all work towards a common cause.<br><br>

                            SEED is an innovation and applied research hub within EA Worldwide Studios. We bring together
                            world-class talent to explore, build, and help define the future of interactive entertainment.
                            Our work combines creativity with state-of-the-art technologies.<br><br>

                            We foster innovation through research, prototypes, exploration, and integration with game
                            teams. We collaborate with industry partners, and we publish and present our research within
                            our industry and to the public. Our recent work includes: bringing digital humans and
                            characters to life; using machine learning for game AI and testing; and developing novel
                            real-time graphics and physics techniques.<br><br>

                            WHEN? 11th October, 12.15-13.00<br>
                            WHERE? KTH Campus, Lecture Hall V1<br><br>

                            <a href="https://docs.google.com/forms/d/1bnOovAOrPFAELyWm2ZICkobgAvRCrGYsOCZk2OOPU7I/viewform">Sign up here</a>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    // Set highlight of navbar item for this page:
    document.querySelectorAll(".nav-event").forEach(element => {
        element.classList.add("uk-active");
    });
</script>

{% endblock %}
