{% extends "layout.html" %}

{% block intro_full %}
<h1 class="lato-bold yellow-shadow2" id="intro-header">Event</h1>
{% endblock intro_full %}

{% block content %}
<div class="info-box">
  <p class="cerise head"><b></b>Event i samband med D-Dagen 2019</b></p>
  <br>
  <p>
    D-Dagen är inte bara en arbetsmarknadsdag, utan vi håller även många spännande event i samband med mässan! Eventen är utformade tillsammans med partnerföretag med målet att skapa ett mervärde åt oss studenter. Vi har event som lunchföreläsningar, tävlingar, CV event där du får lära dig hur du gör ditt CV så attraktivt som möjligt, och kontaktsamtal där du som student får en personlig kontakt med företag. Längre ned på denna sida hittar du eventen D-Dagen anordnar. Följ gärna oss på våra sociala medier för mer information om anmälan och andra uppdateringar!
  </p>
</div>

<div class="events-container">
        <div class="event-box-container">
            <div class="event-box right">
                <div class="text-container">
                    <h2>Rekryteringspub</h2>
                    <br>
                    <p>
                        <b>Datum:</b> 11 november 2019 <br>
                        <b>Tid:</b> 17:17 - sent <br>
                        <b>Plats:</b> META <br>
                        <b>Beskrivning:</b> Den 11 september tar D-Dagens projektgrupp över onsdagspuben i META för att svara om hur det är att jobba som personal på D-Dagen! Om du är nyfiken på vad vi gör och vill ta reda på om det är något för dig, är detta ett bra tillfälle ta reda på det! Ingen anmälan krävs. 
                    </p>
                </div>
                <div class="img-container">
                    <img width="100%" src="{{ url_for('static', filename='logo-ageless.png') }}" alt="D-Dagen"/>
                </div>
            </div>
         </div>
    <div class="event-box-container">
        <div class="event-box left">
            <div class="text-container">
                <h2>CV-event med Sveriges Ingenjörer</h2>
                <br>
                <p>
                    <b>Datum:</b> 1 oktober 2019 <br>
                    <b>Tid:</b> 12:15 - 13:00 <br>
                    <b>Plats:</b> TBA <br>
                    <b>Beskrivning:</b> Kom och lyssna på en representant från Sveriges Ingengörer berätta om hur du skapar en bra LinkedIn-profil och ett CV som lyfter dina bästa sidor. Eventet består av två delar; en lunchföreläsning samt ett kvällsevent. På lunchföreläsningen erbjuds mat till de 100 första anmälda. Det går bra att gå på ett eller båda av deleventen. 
                </p>
            </div>
            <div class="img-container">
                <img width="100%" src="{{ url_for('static', filename='sverigesing.png') }}" alt="Sveriges Ingenjörer"/>
                <p class="button-link" style="text-align:center;"><a class="button" href="{{ url_for('sok') }}">Anmälan</a></p>
            </div>
        </div>
    </div>
    <div class="event-box-container">
        <div class="event-box right">
            <div class="text-container">
                <h2>Ericsson Programming Challenge</h2>
                <br>
                <p>
                    <b>Datum:</b> 8 oktober 2019 <br>
                    <b>Tid:</b> 17:00 - 20:00 <br>
                    <b>Plats:</b> TBA <br>
                    <b>Beskrivning:</b> 
                </p>
            </div>
            <div class="img-container">
                <img width="100%" src="{{ url_for('static', filename='ERI_vertical_RGB.png') }}" alt="Ericsson"/>
                <p class="button-link" style="text-align:center;"><a class="button" href="{{ url_for('sok') }}">Anmälan</a></p>
            </div>
        </div>
    </div>
    <div class="event-box-container">
        <div class="event-box left">
            <div class="text-container">
                <h2>Lunchföreläsning med YELP</h2>
                <br>
                <p>
                    <b>Datum:</b> 9 oktober 2019 <br>
                    <b>Tid:</b> 12:15 - 13:00 <br>
                    <b>Plats:</b> TBA <br>
                    <b>Beskrivning:</b> 
                </p>
            </div>
            <div class="img-container">
                <img width="100%" src="{{ url_for('static', filename='yelplogo.png') }}" alt="Yelp"/>
                <p class="button-link" style="text-align:center;"><a class="button" href="{{ url_for('sok') }}">Anmälan</a></p>
            </div>
        </div>
    </div>
    <div class="event-box-container">
        <div class="event-box right">
            <div class="text-container">
                <h2>Kontaktsamtal</h2>
                <br>
                <p>
                    <b>Datum:</b> 10 oktober 2019 <br>
                    <b>Tid:</b> 10:00 - 16:00 <br>
                    <b>Plats:</b> Nymble <br>
                    <b>Beskrivning:</b> Ta chansen att hålla ett enskilt samtal med ett företag i en informell intervjuform. Detta är ett bra tillfälle för dig som student att komma i nära kontakt med och lära känna nyckelpersoner på företag som intresserar dig. Mer information om anmälan kommer inom kort. 
                </p>
            </div>
            <div class="img-container">
                    <img width="100%" src="{{ url_for('static', filename='agreement.svg') }}" alt="Ericsson"/>
                    <p class="button-link" style="text-align:center;"><a class="button" href="{{ url_for('sok') }}">Anmälan</a></p>
            </div>
        </div>
    </div>
    <div class="event-box-container">
        <div class="event-box left">
            <div class="text-container">
                <h2>Mässan</h2>
                <br>
                <p>
                    <b>Datum:</b> 10 oktober 2019 <br>
                    <b>Tid:</b> 10:00-16:00 <br>
                    <b>Plats:</b> Nymble <br>
                    <b>Beskrivning:</b> D-Dagen vi alla har väntat på! Mässan äger rum i Nymble och har i år hela 80st företag som ställer ut, ett rekord genom tiderna. Företagen har stor spridning inom olika branscher och inriktningar, vilket är till stor fördel för dig som söker exjobb, sommarjobb, deltidsjobb eller har allmänna funderingar kring din framtida karriär. Detta vill du inte missa! Mer information om mässan hittar du <a href="{{ url_for('visitors')}}">här.</a>
                </p>
            </div>
            <div class="img-container">
                    <img width="100%" src="{{ url_for('static', filename='logo-ageless.png') }}" alt="Ericsson"/>
            </div>
        </div>
    </div>
    <div class="event-box-container">
        <div class="event-box right">
            <div class="text-container">
                <h2>D-Dagensittningen</h2>
                <br>
                <p>
                    <b>Datum:</b> 10 oktober 2019 <br>
                    <b>Tid:</b> Kvällen efter mässan <br>
                    <b>Plats:</b> Syster O Bror <br>
                    <b>Beskrivning:</b> Som avslut på heldagsmässan anordnas en traditionsenlig sittning för D-studenter och företagsrepresentanter! Detta är ett bra tillfälle att komma i närmare kontakt med företagen som har deltagit på mässan i en mer avslappnad miljö. Se till att anmäla er i tid för att säkra din plats! Detta är en sittning du inte vill missa :) 
                </p>
            </div>
            <div class="img-container">
                    <img width="100%" src="{{ url_for('static', filename='logo-ageless.png') }}" alt="Ericsson"/>
                    <p class="button-link" style="text-align:center;"><a class="button" href="{{ url_for('sok') }}">Anmälan</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
