{% extends "layout.html" %}

{% block page_css %}
<link rel="stylesheet" href="/static/css/faq.css" />
{% endblock %}

{% block content %}

<div class="uk-section uk-background-default">
    <div class="uk-container uk-container-medium">
        <h1 class="uk-text-center">FAQ</h1>
        <hr class="uk-divider-icon uk-margin-medium-top">

        <dl class="uk-description-list" id="faq-list">
            <dt>När är D-Dagen 2022?</dt>
            <dd>Den 13:e oktober.</dd>

            <dt>Vad är D-Dagen?</dt>
            <dd>D-Dagen är Datasektionens årliga arbetsmarknadsdag. Det är ett heldagsevent där företag och studenter
                verksamma inom data och IT får en möjlighet att knyta kontakter och lära känna varandra. Detta skapar
                goda möjligheter för en mer direkt och personlig kontakt mellan företagsrepresentanter och studenter.</dd>

            <dt>Hur många företag har deltagit i D-Dagen tidigare år?</dt>
            <dd>
                <ul>
                    <li>2021: 59</li>
                    <li>2020: 35</li>
                    <li>2019: 81</li>
                    <li>2018: 75</li>
                    <li>2017: 59</li>
                    <li>2016: 45</li>
                    <li>2015: 35</li>
                </ul>
            </dd>

            <dt>Hur många besökare brukar komma till D-Dagen?</dt>
            <dd>D-Dagen hade cirka 2000 besökare 2019 och cirka 1000 digitala 2020.</dd>

            <dt>Vem riktar sig D-Dagen till?</dt>
            <dd>D-Dagen riktar sig mot studenter inom data- och IT-sektorn.</dd>

            <dt>Vad är D-Dagenkatalogen och var hittar jag kataloger från tidigare år?</dt>
            <dd>D-Dagenkatalogen ges ut till besökare i samband med eventet varje år. Det är en samling av den
                viktigaste informationen om mässan och de deltagande företagen. Katalogen innehåller en karta över placeringen
                av företag samt information om varje företag. I år kommer katalogen att finnas tillgänglig i elektroniskt format
                på ddagen.se för att minska vår klimatpåverkan. Detta kommer också att möjliggöra sök- och filtreringsfunktioner
                för att öka användarvänligheten.<br><br>
        
                Kataloger från tidigare år:
                <ul>
                    <li><a href="{{ url_for('katalog2021') }}">Länk till katalog 2021</a> </li>
                    <li><a href="{{ url_for('katalog2020') }}">Länk till katalog 2020</a> </li>
                    <li><a href="{{ url_for('katalog2019') }}">Länk till katalog 2019</a> </li>
                    <li><a href="https://dsekt-assets.s3.amazonaws.com/naringsliv/d-dagen/katalog_2018">Länk till katalog 2018</a> </li>
                    <li><a href="{{ url_for('katalog2017') }}">Länk till katalog 2017</a> </li>
                    <li><a href="https://dsekt-assets.s3.amazonaws.com/naringsliv/d-dagen/katalog_2016">Länk till katalog 2016</a> </li> <!-- Someone didn't want /katalog2016 to be indexed by google -->
                    <li><a href="{{ url_for('katalog2015') }}">Länk till katalog 2015</a> </li>
                </ul>
            </dd>

            <dt>Fler frågor?</dt>
            <dd>Vänligen maila <a href="mailto:ansvarig@ddagen.se">ansvarig@ddagen.se</a>.</dd>
        </dl>
    </div>
</div>

<script>
    // Set highlight of navbar item for this page:
    document.querySelectorAll(".nav-faq").forEach(element => {
        element.classList.add("uk-active");
    });
</script>

{% endblock %}
