{% extends "layout.html" %}

{% block intro_full %}
<div class="page-title">FAQ</div>
{% endblock intro_full %}

{% block content %}
<div class="info-box" id="introduction">
    <p class="lato-black">När är D-Dagen 2021?</p>
    <p class="info-text">Den 7:e Oktober.</p>

    <p class="lato-black">Vad är D-Dagen?</p>
    <p class="info-text">D-Dagen är Datasektionens årliga arbetsmarknadsdag. Det är ett heldagsevent där företag och studenter
        verksamma inom data och IT får en möjlighet att knyta kontakter och lära känna varandra. Detta skapar goda möjligheter
        för en mer direkt och personlig kontakt mellan företagsrepresentanter och studenter.
    </p>

    <p class="lato-black">Hur många företag har deltagit i D-Dagen tidigare år?</p>
    <ul>
        <li>2020: 35</li>
        <li>2019: 81</li>
        <li>2018: 75</li>
        <li>2017: 59</li>
        <li>2016: 45</li>
        <li>2015: 35</li>
    </ul>

    <p class="lato-black">Hur många besökare brukar komma till D-Dagen?</p>
    <p class="info-text">D-Dagen hade cirka 2000 besökare 2019 och cirka 1000 digitala förra året.</p>

    <p class="lato-black">Vem riktar sig D-Dagen till?</p>
    <p class="info-text">D-Dagen riktar sig mot studenter inom data- och IT-sektorn.</p>

    <p class="lato-black">Varför ska vi som företag delta i D-Dagen?</p>
    <p class="info-text">D-Dagen är en bra möjlighet för företag eller myndigheter inom data- och IT-sektorn att knyta
        kontakter med studenter i olika faser i utbildningen. Kanske söker ni exjobbare, deltidsanställda,
        sommarjobbare eller nyexaminerade civilingenjörer? Vill ni öka synligheten som arbetsgivare, visa era pågående projekt,
        eller dela med er om er företagskultur? Anmäl då er till D-Dagen!</p>

    <p class="lato-black">Vad mer finns att göra i samband med D-Dagen??</p>
    <p class="info-text">Det finns möjlighet att anordna företagsevent i samband med D-Dagen. Vänligen kontakta
        <a href="mailto:event@ddagen.se">event@ddagen.se</a> för mer information.</p>


    <p class="lato-black">Vad är D-Dagenkatalogen och var hittar jag kataloger från tidigare år? </p>
    <p class="info-text"><a href="{{ url_for('static', filename='katalog2020.pdf') }}">D-Dagenkatalogen </a> ges ut till besökare i samband med eventet varje år. Det är en samling av den
        viktigaste informationen om mässan och de deltagande företagen. Katalogen innehåller en karta över placeringen
        av företag samt information om varje företag. I år kommer katalogen att finnas tillgänglig i elektroniskt format
        på ddagen.se för att minska vår klimatpåverkan. Detta kommer också att möjliggöra sök- och filtreringsfunktioner
        för att öka användarvänligheten.<br>

        Kataloger från tidigare år:
        <ul>
            <li><a href="{{ url_for('katalog2019') }}">Länk till katalog 2019</a> </li>
            <li><a href="{{ url_for('katalog2018') }}">Länk till katalog 2018</a> </li>
            <li><a href="{{ url_for('katalog2017') }}">Länk till katalog 2017</a> </li>
            <li><a href="{{ url_for('katalog2016') }}">Länk till katalog 2016</a> </li>
            <li><a href="{{ url_for('katalog2015') }}">Länk till katalog 2015</a> </li>
        </ul>

    <p class="lato-black">Fler frågor?</p>
    <p class="info-text">Vänligen maila <a href="mailto:projectmanager@ddagen.se" class="cerise">projectmanager@ddagen.se</a>.</p>
</div>

{% endblock %}
