{% extends "layout.html" %} {% block content %}


<div class="info-box">
  <p class="cerise head" style="text-align: center">Varmt välkomna till <b>D-Dagen 2020</b></p>  
  <br>
  <p class="lato-black" align = "center">Datasektionens första digitala arbetsmarknadsmässa!</p>     

  <p class = "container_iframe"align = "center"><iframe class="resp-iframe"width="560" height="315" src="https://www.youtube.com/embed/GD7rswNp2lA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
  
</div>


<div class="info-box">
  <p class="cerise head" style="text-align: center">Hälsning från <b>D-Dagenansvariga</b></p>
      <br>
  <div class="greeting-row">
    <div class="greeting-column">
      <p>
        <br>
        Tillsammans med årets supertaggade projektgrupp vill vi, Andreas Wallström och Julia Byström, önska er varmt välkomna till D-Dagen 2020!
        <br><br>
        Förberedelserna har sedan länge börjat. Som projektledare för D-Dagen vill vi arbeta aktivt för att alltid skapa en bättre mässa. Detta innebär att också göra ett bättre arbete inför mässan. För oss har det inneburit att se över nya möjligheter för företag att nå ut till oss studenter via fysisk och digital marknadsföring, samt nya sponsringsmöjligheter där både företag och studenter gynnas. Den största utmaningen har varit att förbättra arbetet inför D-Dagen. När vi planerade för fler möjligheter för projektgruppen att ses tillsammans kunde vi inte veta att vårt arbete skulle ske på distans. Vi likt många andra har anpassat vårt arbete för att minimera smittan av covid-19. Vi trodde att det skulle vara tufft att motivera, inspirera och kommunicera helt digitalt med projektgruppen på 19 personer. Det visade sig att hela projektgruppen trots omständigheterna var motiverade och har varit med på att anpassa sitt arbetssätt.
        <br><br>
        Vi och hela projektgruppen ser fram emot att träffa er under D-Dagen 2020!
      </p>
    </div>
    <div class="greeting-column"  style="margin-top: 45px; ">
      <img class="greeting-portrait" style="border-radius:10%;" src="{{ url_for('static', filename='DDA-gruppbild.jpg') }}" alt="Julia och Andreas"/>
    </div>
    
  </div>
</div>

{% endblock %}
