{% extends "layout.html" %}

{% block page_css %}
<link rel="stylesheet" href="/static/css/index.css" />
{% endblock %}

{% block content %}

<div class="uk-section uk-light" id="main-content">
    <div class="uk-container">
        <h3 class="uk-text-light uk-text-center">
            Konglig Datasektionen vid KTH presenterar stolt
        </h3>

        <img class="uk-align-center logo" data-src="/static/img/assets/logo-white-ageless_v2.svg" width="750px" alt="D-Dagen logo" uk-img>

        <h2 class="uk-text-normal uk-text-center">
            13 oktober 2022
        </h2>

        <p class="uk-text-center register-button uk-margin-medium-top">
            <a class="uk-button uk-button-default" href="/companies">Anmäl ditt företag till D-Dagen 2022 här!</a>
        </p>      

        <!-- Countdown: -->
        <!--
        <div class="uk-grid-small uk-child-width-auto uk-flex-center uk-text-light uk-margin-medium-top"
             uk-grid uk-countdown="date: 2022-10-13T10:00:00+01:00">
            <div>
                <div class="uk-countdown-number uk-countdown-days"></div>
                <div class="uk-countdown-label uk-margin-small uk-text-center uk-visible@s uk-text-normal">Dagar</div>
            </div>
            <div class="uk-countdown-separator">:</div>
            <div>
                <div class="uk-countdown-number uk-countdown-hours"></div>
                <div class="uk-countdown-label uk-margin-small uk-text-center uk-visible@s uk-text-normal">Timmar</div>
            </div>
            <div class="uk-countdown-separator">:</div>
            <div>
                <div class="uk-countdown-number uk-countdown-minutes"></div>
                <div class="uk-countdown-label uk-margin-small uk-text-center uk-visible@s uk-text-normal">Minuter</div>
            </div>
            <div class="uk-countdown-separator">:</div>
            <div>
                <div class="uk-countdown-number uk-countdown-seconds"></div>
                <div class="uk-countdown-label uk-margin-small uk-text-center uk-visible@s uk-text-normal">Sekunder</div>
            </div>
        </div>
        -->
    </div>
</div>

<script>
    // Set highlight of navbar item for this page:
    document.querySelectorAll(".nav-start").forEach(element => {
        element.classList.add("uk-active");
    });
</script>

{% endblock %}