{% extends "layout.html" %} {% block content %}

<div class="uk-section uk-light" id="main-content">
    <div class="uk-container">
        <h3 class="uk-text-light uk-text-center">
            Konglig Datasektionen vid KTH presenterar stolt
        </h3>

        <img class="uk-align-center" data-src="/static/img/assets/logo-white-ageless_v1.png" width="750px" alt="D-Dagen logo" uk-img>

        <h2 class="uk-text-normal uk-text-center">
            13 oktober 2022
        </h2>

        <div class="uk-flex uk-flex-middle uk-flex-center transparent">
            <div class="uk-card uk-card-default uk-card-body uk-padding-small">
                <img class="uk-align-center" data-src="/static/img/assets/shield.png" width="70px" alt="D-logo" uk-img>
            </div>
            <div class="uk-card uk-card-default uk-card-body uk-margin-left uk-padding-small">
                <p class="uk-light uk-text-bold">Datasektionens årliga arbetsmarknadsdag</p>
            </div>
        </div>

        <!-- Countdown: -->
        <div class="uk-grid-small uk-child-width-auto uk-flex-center uk-text-light uk-margin-medium-top"
             uk-grid uk-countdown="date: 2022-10-13T10:00:00+01:00">
            <div>
                <div class="uk-countdown-number uk-countdown-days"></div>
                <div class="uk-countdown-label uk-margin-small uk-text-center uk-visible@s uk-text-normal">Dagar</div>
            </div>
            <div class="uk-countdown-separator">:</div>
            <div>
                <div class="uk-countdown-number uk-countdown-hours"></div>
                <div class="uk-countdown-label uk-margin-small uk-text-center uk-visible@s uk-text-normal">Timmar</div>
            </div>
            <div class="uk-countdown-separator">:</div>
            <div>
                <div class="uk-countdown-number uk-countdown-minutes"></div>
                <div class="uk-countdown-label uk-margin-small uk-text-center uk-visible@s uk-text-normal">Minuter</div>
            </div>
            <div class="uk-countdown-separator">:</div>
            <div>
                <div class="uk-countdown-number uk-countdown-seconds"></div>
                <div class="uk-countdown-label uk-margin-small uk-text-center uk-visible@s uk-text-normal">Sekunder</div>
            </div>
        </div>
    </div>
</div>

<script>
    // Set highlight of navbar item for this page:
    document.querySelectorAll(".nav-start").forEach(element => {
        element.classList.add("uk-active");
    });
</script>

{% endblock %}