{% extends "layout.html" %}

{% block page_css %}
<link rel="stylesheet" href="/static/css/info4visitors.css" />
{% endblock %}

{% block content %}

<div class="uk-section uk-background-default">
    <div class="uk-container uk-container-medium">
        <h1 class="uk-text-center">Företag 2022</h1>
        <hr class="uk-divider-icon uk-margin-medium-top">

        <div class="uk-grid-small uk-child-width-1-3@m uk-flex-center uk-text-center" uk-grid>
            <div>
                <h2>Huvudsponsor</h2><br>
                <div class="uk-card uk-card-body uk-padding-large">
                    <a class="uk-position-center" target="_blank" href="https://www.basalt.se/">
                        <img width="400px" alt="" uk-img data-src="/static/img/companies2022/basalt.jpg">
                    </a>
                </div>
            </div>
        </div>
       
        <br><br>
        <br><br>
        <h3 class="uk-text-center">Övriga sponsorer</h3>
        <div class="uk-grid-column-small uk-grid-small uk-child-width-1-2@s uk-child-width-1-3@m uk-text-center uk-grid-match" uk-grid id="sponsors">
            <!-- Element läggs till här dynamiskt med JavaScript, se info4visitors.js -->
        </div>

        <br><br>
        <hr class="uk-divider-icon uk-margin-medium-top">
        <br><br>
        
        <div class="uk-grid-column-small uk-grid-small uk-child-width-1-2@s uk-child-width-1-4@m uk-text-center uk-grid-match" uk-grid id="regular-companies">
            <!-- Element läggs till här dynamiskt med JavaScript, se info4visitors.js -->
        </div>

        <br>
        <p>Letar du efter info om paketen? Klicka <a href="/info4companies">här</a>!</p>
    </div>
</div>

<script type="text/javascript" src="/static/js/info4visitors.js"></script>

<script type="text/javascript">
    addCompanyInfo();

    // Set highlight of navbar item for this page:
    document.querySelectorAll(".nav-companies").forEach(element => {
        element.classList.add("uk-active");
    });
</script>

{% endblock %}
