{% extends "layout.html" %}

{% block page_css %}
<link rel="stylesheet" href="/static/css/sok.css" />
{% endblock %}

{% block content %}

<div class="uk-section uk-background-default">
    <div class="uk-container uk-container-medium">
        <h1 class="uk-text-center sok-title">Sök projektgruppen 2023!</h1>
        
        <div class="uk-container uk-container-small">
            <p>Inför D-Dagen 2023 ska vi skala upp verksamheten i både volym och funktioner, det ska bli Datasektionens största och bästa arbetsmarknadsmässa  någonsin! Detta är iallafall visionen vi har som ansvariga i år. Dock är det omöjligt för oss att arrangera ett så här stort evenemang helt själva. Till vår hjälp behöver vi en ambitiös projektgrupp som har drivet att skapa någonting extraordinärt. Vi vill förbättra den interna kommunikation från tidigare år och kommer därför satsa extra mycket på teambuilding för att få en tajt grupp. Vi förväntar oss också att alla i projektgruppen är sociala med god samarbetsförmåga och självgående i sina uppgifter.</p>
        </div>

        <br><br>

        <div class="uk-child-width-expand@m uk-text-center" uk-grid>
            <div>
                <div uk-grid>
                    <div class="uk-width-1-1">
                        <div class="uk-card uk-card-default uk-card-body">
                            <h3>PR-ansvarig - PR-gruppen</h3>
                            <p>
                                <ul>
                                    <li>Bra kommunikatör</li>
                                    <li>Välplanerad</li>
                                    <li>Ledare</li>
                                </ul>
                                Som PR-ansvarig är du ledare för PR-gruppen. Det är du som driver och organiserar gruppen och ser till att alla vet vad de ska göra och har det de behöver. Eftersom du jobbar så tätt ihop inom PR-gruppen kommer ni bli väldigt tajta tillsammans. Som PR-ansvarig kommer du också kommunicera extra mycket med DDA:s.
                            </p>
                        </div>
                    </div>
                    <div class="uk-width-1-1">
                        <div class="uk-card uk-card-default uk-card-body">
                            <h3>Tryckansvarig - PR-gruppen</h3>
                            <p>
                                <ul>
                                    <li>Proaktiv</li>
                                    <li>Artistisk</li>
                                </ul>
                                Tryckansvarig ingår i PR-gruppen och är den som ser till att allt tryckt material blir beställt och levererat i tid. Här ingår saker som klistermärken, tygmärken, profilkläder, banderoll, broschyr och en del annat. Du kommer ha ett nära samarbete med Art Director och hjälpa till med designarbetet.
                            </p>
                        </div>
                    </div>
                    <div class="uk-width-1-1">
                        <div class="uk-card uk-card-default uk-card-body">
                            <h3>Art Director - PR-gruppen</h3>
                            <p>
                                <ul>
                                    <li>Artistisk</li>
                                    <li>Tillmötesgående</li>
                                </ul>
                                Som Art Director är det du som ser till att D-Dagen ser proffsigt ut. Du kommer ha möjligheten att uttrycka din kreativitet och designa all grafik som behövs för D-Dagen. Här ingår bland annat broschyrer, affischer, profilkläder och annat. Ibland kommer du även få ta lite bilder. Inga förkunskaper behövs; man får istället möjligheten att lära sig med tiden och det viktigaste är att du är driven och motiverad. Självklart kommer du få tillgång till alla program du behöver!
                            </p>
                        </div>
                    </div>
                    <div class="uk-width-1-1">
                        <div class="uk-card uk-card-default uk-card-body">
                            <h3>Social media-ansvarig - PR-gruppen</h3>
                            <p>
                                <ul>
                                    <li>Bra kommunikatör</li>
                                    <li>Initiativtagande</li>
                                    <li>Social (särskilt på medier)</li>
                                    <li>Kreativ</li>
                                </ul>
                                Social media-ansvarig är den som ser till att D-Dagen syns ute på Instagram, Facebook och alla andra sociala medier. Här får du mycket frihet i vilka sociala medier du vill använda och hur du väljer att uttrycka dig (inom rimliga ramar förstås). I rollen som social media-ansvarig jobbar du nära Art Director för att få till snygga inlägg.
                                <span class="bold italic">Detta är en perfekt roll för dig som gillar att ta bilder och lägga ut stories!</span>
                            </p>
                        </div>
                    </div>
                    <div class="uk-width-1-1">
                        <div class="uk-card uk-card-default uk-card-body">
                            <h3>Webbansvarig - PR-gruppen</h3>
                            <p>
                                <ul>
                                    <li>Självständig</li>
                                    <li>Initiativtagande</li>
                                </ul>
                                Som webbansvarig är det du som ser till att hemsidan ser ut och fungerar som den ska. Du har även stora möjligheter till att förbättra hemsidan. Kunskaper och tidigare erfarenheter inom webbutveckling är ett stort plus. Här jobbar du tätt intill Art Director.
                            </p>
                        </div>
                    </div>
                    <div class="uk-width-1-1">
                        <div class="uk-card uk-card-default uk-card-body">
                            <h3>Systemansvarig - PR-gruppen</h3>
                            <p>
                                <ul>
                                    <li>Självständig</li>
                                    <li>Initiativtagande</li>
                                    <li>"Yes, can do"-attityd</li>
                                </ul>
                                Systemansvarig är en roll som är någonting helt nytt för i år! Du kommer jobba mycket tillsammans med webbansvarig med ambitiösa projekt som vi hoppas introducera till D-Dagen. Vi vill ha någon med ett stort driv att skapa möjligheter, och förkunskaper i app-tillverkning är ett stort plus (vi har några idéer på gång).
                            </p>
                        </div>
                    </div>
                    <div class="uk-width-1-1">
                        <div class="uk-card uk-card-default uk-card-body">
                            <h3>Mässansvarig - Mässgruppen</h3>
                            <p>
                                <ul>
                                    <li>Bra kommunikatör</li>
                                    <li>Välplanerad</li>
                                    <li>Ledare</li>
                                </ul>
                                Som Mässansvarig är du ledare för Mäss-gruppen. Det är du som driver och organiserar gruppen och ser till att alla har det de behöver. Eftersom du jobbar så tätt ihop inom Mäss-gruppen kommer ni bli väldigt tajta tillsammans. Som Mäss-ansvarig kommer du också kommunicera extra mycket med DDA:s.
                            </p>
                        </div>
                    </div>
                    <div class="uk-width-1-1">
                        <div class="uk-card uk-card-default uk-card-body">
                            <h3>Festansvarig - Mässgruppen</h3>
                            <p>
                                <ul>
                                    <li>Rolig</li>
                                    <li>Kreativ</li>
                                    <li>Initiativtagande</li>
                                </ul>
                                Festansvarig är den som fixar alla stora fester som företagsbanquetten och tacksittningen. Du kommer även att planera och genomföra majoriteten av projektgruppens interna event och teambuildings. Detta är en perfekt roll för dig som är kreativ och gillar att ha det kul tillsammans med andra.
                            </p>
                        </div>
                    </div>
                    <div class="uk-width-1-1">
                        <div class="uk-card uk-card-default uk-card-body">
                            <h3>Logistikansvarig - Mässgruppen</h3>
                            <p>
                                <ul>
                                    <li>Bra kommunikatör</li>
                                    <li>Välplanerad</li>
                                    <li>Självständig</li>
                                </ul>
                                Logistik är ryggraden i alla stora organisationer, det är du som ser till att allting flyter på som ett välsmort maskineri. Du kommer ta emot och skicka iväg leveranser från företagen och se till så att allt vi behöver under dagen finns där det behövs när det behövs.
                            </p>
                        </div>
                    </div>
                    <div class="uk-width-1-1">
                        <div class="uk-card uk-card-default uk-card-body">
                            <h3>Lokalansvarig - Mässgruppen</h3>
                            <p>
                                <ul>
                                    <li>Ansvarstagande</li>
                                    <li>Proaktiv</li>
                                </ul>
                                Utan någonstans att vara blir det mycket svårare att ha lyckade events. Du kommer bli experten på lokalerna i Nymble och se till att vi följer deras instruktioner och krav. Du kommer även få hjälpa till att boka lokaler för D-Dagens övriga evenemang.
                            </p>
                        </div>
                    </div>
                    <div class="uk-width-1-1">
                        <div class="uk-card uk-card-default uk-card-body">
                            <h3>Loungeansvarig - Mässgruppen</h3>
                            <p>
                                <ul>
                                    <li>Serviceinriktad</li>
                                    <li>Gillar mat</li>
                                </ul>
                                Loungen är dit företagens representanter och personalen kan komma över dagen för att ta en paus och koppla av. Ditt jobb är att se till så de kan förvänta sig god mat och så bra service som bara möjligt!
                            </p>
                        </div>
                    </div>
                    <div class="uk-width-1-1">
                        <div class="uk-card uk-card-default uk-card-body">
                            <h3>Personalansvarig - Mässgruppen</h3>
                            <p>
                                <ul>
                                    <li>Bra kommunikatör</li>
                                    <li>Ledare</li>
                                    <li>Schemaläggare</li>
                                </ul>
                                När D-Dagen väl drar igång i Nymble behöver vi mycket mer personal än bara projektgruppen. Det är här ditt huvudansvar ligger. Du kommer rekrytera personal, hålla deras teambuildings och planera ut deras scheman över själva dagen. Det kommer också vara du som ser till att D-Dagen når upp till standard inom JML-aspekter.
                            </p>
                        </div>
                    </div>
                    <div class="uk-width-1-1">
                        <div class="uk-card uk-card-default uk-card-body">
                            <h3>Kassör</h3>
                            <p>
                                <ul>
                                    <li>Noggrann</li>
                                    <li>Kan fakturera och bokföra (helst med datasektionens system)</li>
                                    <li>Villig att läsa svårläst text (kontrakt, stadgar m.m)</li>
                                </ul>
                                Du har koll på ekonomin. Du är en expert på att bokföra (eller har åtminstone lite koll, det finns instruktioner). Du kommer tillsammans med Vice Kassören att skicka ut och bokföra alla fakturor när D-Dagen väl har nått sitt slut, men kommer även vara en rådgivare när det kommer till resten av projektgruppen att budgetera och bokföra.
                            </p>
                        </div>
                    </div>
                    <div class="uk-width-1-1">
                        <div class="uk-card uk-card-default uk-card-body">
                            <h3>Vice Kassör</h3>
                            <p>
                                <ul>
                                    <li>Villig att lära sig massor</li>
                                    <li>Initiativtagande</li>
                                </ul>
                                Vice Kassör är en av de friare rollerna i projektgruppen. Officiellt har du relativt lite ansvar då din huvuduppgift är att lära dig att bokföra och hjälpa Kassören. Just därför hoppas vi att du är en driven person som ställer upp och driver igenom mer än dina ordinarie uppgifter och hjälper till där resten av projektgruppen kan behöva en extra hand.
                            </p>
                        </div>
                    </div>
                    <div class="uk-width-1-1">
                        <div class="uk-card uk-card-default uk-card-body">
                            <h3>Säljansvarig - Säljgruppen</h3>
                            <p>
                                <ul>
                                    <li>Bra kommunikatör</li>
                                    <li>Välplanerad</li>
                                    <li>Ledare</li>
                                </ul>
                                Som säljansvarig är du en operativ chef för säljarna. Du kommer vara den som utbildar säljarna i hur de ska arbeta, ser till att säljarna har allt de behöver och att arbetet flyter på enligt schemat.
                            </p>
                        </div>
                    </div>
                    <div class="uk-width-1-1">
                        <div class="uk-card uk-card-default uk-card-body">
                            <h3>Sponsansvarig - Säljgruppen</h3>
                            <p>
                                <ul>
                                    <li>Bra kommunikatör</li>
                                    <li>Initiativtagande</li>
                                    <li>“Pushig” säljarattityd</li>
                                </ul>
                                Som sponsansvarig kommer du kontakta företag som inte kommer stå på mässan men ändå vill synas på andra sätt. Du kommer också hjälpa till med att arrangera lunchföreläsningar och andra företagsevents. Dina arbetsuppgifter innebär att du kommer jobba mycket tillsammans med PR-gruppen och resterande projektgruppen.
                            </p>
                        </div>
                    </div>
                    <div class="uk-width-1-1">
                        <div class="uk-card uk-card-default uk-card-body">
                            <h3>Säljare - Säljgruppen</h3>
                            <p>
                                <ul>
                                    <li>Bra kommunikatör</li>
                                    <li>Serviceinriktad</li>
                                    <li>Övertygande</li>
                                </ul>
                                Säljarna är de som främst har direkt kontakt med företagen. Ni kommer jobba som ett team för att sälja in D-Dagen till företagen och se till att D-Dagen fortsätter växa. Som säljare kommer du också vara företagens primära informationskälla och rådgivare med bland annat tips och tricks de bör veta inför mässan. Inga tidigare säljerfarenheter behövs men är givetvis ett plus.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sok-img">
                <img data-src="/static/img/sok/9.jpg" uk-img></img>
                <img data-src="/static/img/sok/10.jpg" uk-img></img>
                <img data-src="/static/img/sok/13.jpg" uk-img></img>
                <img data-src="/static/img/sok/11.jpg" uk-img></img>
                <img data-src="/static/img/sok/12.jpg" uk-img></img>
                <img data-src="/static/img/sok/14.jpg" uk-img></img>
                <img data-src="/static/img/sok/15.jpg" uk-img></img>
                <img data-src="/static/img/sok/1.jpg" uk-img></img>
                <img data-src="/static/img/sok/2.jpg" uk-img></img>
                <img data-src="/static/img/sok/3.jpg" uk-img></img>
                <img data-src="/static/img/sok/4.jpg" uk-img></img>
                <img data-src="/static/img/sok/6.jpg" uk-img></img>
                <img data-src="/static/img/sok/7.jpg" uk-img></img>
                <img data-src="/static/img/sok/8.jpg" uk-img></img>
            </div>
        </div>
    </div>
</div>

<script>
    let firstEmoj = document.getElementById("firstEmoj");
    let firstLink = document.getElementById("firstLink");
    window.onresize = function(event) {
        let emojRect = firstEmoj.getBoundingClientRect();
        let linkRect = firstLink.getBoundingClientRect();
        if (Math.abs(emojRect.top - linkRect.top) > 10) {
            document.querySelectorAll(".emoj").forEach((elem) => {
                elem.innerHTML = "👇";
            });
        } else {
            document.querySelectorAll(".emoj").forEach((elem) => {
                elem.innerHTML = "👉";
            });
        }
    };
</script>

{% endblock %}
