{% extends "layout.html" %}

{% block page_css %}
<link rel="stylesheet" href="/static/css/event.css" />
{% endblock %}

{% block content %}

<div class="uk-section uk-background-default">
    <div class="uk-container uk-container-medium">
        <h1 class="uk-text-center">Sök projektgruppen 2023</h1>
        <br><br>

        <div class="uk-child-width-expand@s uk-text-center" uk-grid>
            <div>
                <div uk-grid>
                    <div class="uk-width-1-1">
                        <div class="uk-card uk-card-default uk-card-body">Auto</div>
                    </div>
                    <div class="uk-width-1-1">
                        <div class="uk-card uk-card-default uk-card-body">Auto</div>
                    </div>
                </div>
            </div>
            <div>
                <img data-src="/static/img/sok/1.jpg" uk-img></img>
                <img data-src="/static/img/sok/2.jpg" uk-img></img>
                <img data-src="/static/img/sok/3.jpg" uk-img></img>
                <img data-src="/static/img/sok/4.jpg" uk-img></img>
                <img data-src="/static/img/sok/6.jpg" uk-img></img>
                <img data-src="/static/img/sok/7.jpg" uk-img></img>
                <img data-src="/static/img/sok/8jpg" uk-img></img>
                <img data-src="/static/img/sok/9.jpg" uk-img></img>
                <img data-src="/static/img/sok/10.jpg" uk-img></img>
                <img data-src="/static/img/sok/11.jpg" uk-img></img>
                <img data-src="/static/img/sok/12.jpg" uk-img></img>
                <img data-src="/static/img/sok/13.jpg" uk-img></img>
                <img data-src="/static/img/sok/14.jpg" uk-img></img>
                <img data-src="/static/img/sok/15.jpg" uk-img></img>
            </div>
        </div>
    </div>
</div>

{% endblock %}
