{% extends "layout.html" %}

{% block intro_full %}
<h1 class="lato-bold yellow-shadow2" id="intro-header">Besökare</h1>
<div id="huvudsponsor">
  <img src="{{ url_for('static', filename='Ddagen+Ericsson.svg') }}" alt="D-Dagen <3 Ericsson"/>
</div>
{% endblock intro_full %}

{% block content %}
<div class="info-box">
  <p class="cerise head">Välkomna till <b>D&#8209;DAGEN 2019</b></p>
  <br>
  <p>
    Vad roligt att du har valt att besöka D-Dagen 2019! Varje år kommer många intressanta företag och myndigheter verksamma inom data- och IT-sektorn till D-Dagen för att nätverka med studenter på data. Förra året deltog över 70 företag i D-Dagen!
    <br><br>
    Just nu jobbar vi i projektgruppen i full fart för att skapa en så givande och rolig mässa som möjligt. På denna sida kommer nyttig information för besökare att dyka upp inför och under mässan den 10e oktober. Bland annat kommer det att finnas en interaktiv karta med filtreringsfunktion att finnas för att underlätta för taggade studenter!
    <br><br>
  </p>
</div>
<div class="info-box">
  <p class="cerise head">Hälsning från <b>D-Dagenansvariga</b></p>
  <br>
  <p>
    <img align="right" class="greeting-portrait" width="450px" style="border-radius:100%;" src="{{ url_for('static', filename='DDA-portrait.jpg') }}" alt="Victor och Simone"/>
    <br>
    Tillsammans med årets supertaggade projektgrupp vill vi önska er varmt välkomna till D-Dagen 2019!
    Vi arbetar alltid aktivt med att förbättra D-Dagen så att den är så bra som möjligt för alla som studerar Datateknik på KTH. För oss har det inneburit att vidareutveckla eventen kring mässan och bredda utbudet för att skapa ytterligare värde för de studenter som deltar.
    <br><br>
    Vi har också fortsatt vårt arbete med att få en bra spridning på företag från olika områden av näringslivet för att erbjuda en intressant mässa där studenter och företag kan mötas på ett enkelt sätt vare sig du precis börjat eller snart tar examen! Utöver det har storleken på mässan fortsatt öka och vi är större än någonsin tidigare med totalt 79 företag som deltar på mässan.
    <br><br>
    Vi i projektgruppen hoppas att vi ser er under D-Dagen 2019!
  </p>
</div>
<div class="info-box">
  <p class="cerise head">Greetings from our <b>Main Sponsor 2019</b></p>
  <br>
  <p>
    <img align="left" class="greeting-portrait" width="450px" style="border-radius:100%;" src="{{ url_for('static', filename='FridaochLisa-square.jpg') }}" alt="Lisa och Frida"/>
    <br>
    Hej!
    <br><br>
    Ericsson här, vi är så så glada och stolta över att få vara huvudsponsor för D-dagen 2019!
    <br><br>
    Vi ser fram emot att lära känna er alla på D-dagen den 11 oktober, fram till dess kan ni läsa mer om oss <a href="{{ url_for('huvudsponsor', language='sv') }}">här</a>.
    </p>
</div>

<div class="info">
	<h1 class="lato-bold yellow-shadow2">Vi vill även tacka...</h1>
    <p>Vi vill börja med att tacka Ericsson som är vår huvudsponsor för D-Dagen 2019. Tack vare deras stöd och goda samarbetsanda har vi kunnat skapa den största D-Dagen någonsin. Vi vill även tacka Celab Communications AB för sponsring av utrustning till vår mässpersonal. </p>

    <img style="display:block; margin-left: auto; margin-right: auto; border-radius: 5px" width="200px" src="{{ url_for('static', filename='celab.jpg') }}" alt="Celab"/>
    <br><br>
    <div class="row">
  		<div class="col-sm-6 col-md-6 ">
  		</div>
  		<div class="col-sm-6 col-md-6">
  		</div>
  	</div>
</div>
{% endblock %}
