{% extends "layout.html" %}

{% block intro_full %}
<h1 class="lato-bold yellow-shadow2" id="intro-header">Besökare</h1>
<div id="huvudsponsor">
  <img src="{{ url_for('static', filename='Ddagen+Ericsson.svg') }}" alt="D-Dagen <3 Ericsson"/>
</div>
{% endblock intro_full %}

{% block content %}
<div class="info-box">
  <p class="cerise head">Välkomna till <b>D&#8209;DAGEN 2019</b></p>
  <br>
  <p>
    Vad roligt att du har valt att besöka D-Dagen 2019! Varje år kommer många intressanta företag och myndigheter verksamma inom data- och IT-sektorn till D-Dagen för att nätverka med studenter på data.
    <br><br>
    Just nu jobbar vi i projektgruppen i full fart för att skapa en så givande och rolig mässa som möjligt. På årets mässa har vi hela 80 utställare, placerade enligt kartan nedan. Om ni vill läsa mer om årets utställare på mässan och ta del av annan nyttig information, klicka på knappen nedan för att komma till katalogen. 
  </p>
  <p class="button-link" style="text-align:center;"><a class="button" href="{{ url_for('katalog2019') }}">Katalogen 2019</a></p>
  <br><br>
  <img class="map" width="100%" src="{{ url_for('static', filename='KartaPrint.svg') }}" alt="Mässkarta"/>
</div>
<div class="info-box">
  <p class="cerise head">Hälsning från <b>D-Dagenansvariga</b></p>
  <br>
  <p>
    <img align="right" class="greeting-portrait" width="450px" style="border-radius:100%;" src="{{ url_for('static', filename='DDA-portrait.jpg') }}" alt="Victor och Simone"/>
    <br>
    Tillsammans med årets supertaggade projektgrupp vill vi önska er varmt välkomna till D-Dagen 2019!
    Vi arbetar alltid aktivt med att förbättra D-Dagen så att den är så bra som möjligt för alla som studerar Datateknik på KTH. För oss har det inneburit att vidareutveckla eventen kring mässan och bredda utbudet för att skapa ytterligare värde för de studenter som deltar.
    <br><br>
    Vi har också fortsatt vårt arbete med att få en bra spridning på företag från olika områden av näringslivet för att erbjuda en intressant mässa där studenter och företag kan mötas på ett enkelt sätt vare sig du precis börjat eller snart tar examen! Utöver det har storleken på mässan fortsatt öka och vi är större än någonsin tidigare med totalt 79 företag som deltar på mässan.
    <br><br>
    Vi i projektgruppen hoppas att vi ser er under D-Dagen 2019!
  </p>
</div>
<div class="info-box">
  <p class="cerise head">Hälsning från vår <b>Huvudsponsor 2019</b></p>
  <br>
  <p>
    <img align="left" class="greeting-portrait" width="450px" style="border-radius:100%;" src="{{ url_for('static', filename='FridaochLisa-square.jpg') }}" alt="Lisa och Frida"/>
    <br>
    Hej!
    <br><br>
    Ericsson här, vi är så så glada och stolta över att få vara huvudsponsor för D-Dagen 2019!
    <br><br>
    Vi ser fram emot att lära känna er alla på D-Dagen den 10e oktober, fram till dess kan ni läsa mer om oss <a href="{{ url_for('huvudsponsor', language='sv') }}">här</a>.
    </p>
</div>
{% endblock %}
