{% extends "layout.html" %}

{% block intro_full %}
<div class="page-title">Besökare</div>
{% endblock intro_full %}

{% block content %}
<div class="info-box" id="visitor">
    <div id="lunch">
        <div class="visitor-title">
            Lunchföreläsningar
        </div>
        <div class="lunch-seminar">
            <div class="lunch-title">
                tink 29/9
            </div>
            <div>
                Tink was founded in 2012 with the aim of changing the banking industry
                for the better. We have built Europe’s most robust open banking platform
                – with the broadest, deepest connectivity and powerful services that
                create value out of the financial data. We offer the tools that allow
                anyone – from big banks and fintechs to startups – to build the future of
                financial services across Europe. Our API offers one access point to financial
                data from across Europe – as well as the ability to offer insights and
                actionable advice – whether it’s through our full-service enterprise
                offering or our self-service platform for developers.
            </div>
        </div>

        <div class="lunch-seminar">
            <div class="lunch-title">
                TietoEvry 30/9
            </div>
            <div>
                TietoEVRY is one of the leading companies in the Nordics building better
                digital services for our clients both in the private and public sectors.
                With us, you are part of the forefront of emerging businesses and
                technology making a difference with our customers. Cooperate and
                exchange ideas with professionals in an international and evolving
                orking environment. Increase your knowledge in a variety of areas, you
                set the limit. Our culture is built on transparency and active sharing
                – a truly open environment.
            </div>
        </div>

        <div class="lunch-seminar">
            <div class="lunch-title">
                Skatteverket 5/10
            </div>
            <div>
                Sverige. 10,4 miljoner unika individer som bildar en gemenskap, ett samhälle.
                Vi på Skatteverket bidrar till att göra det samhället möjligt. Vi gör det
                genom att säkerställa finansieringen av det offentliga. Av vägar och vård,
                skolor och kollektivtrafik. Vi gör det genom att folkbokföra, som grund för ett väl
                fungerande samhälle.Oavsett plats, situation eller skede i livet vill vi
                att det ska vara lätt att göra rätt. Lätt för den som driver en blogg eller
                ett internationellt börsbolag. För den som hyr ut sin bostad eller ska
                sommarjobba. För den som just har flyttat eller gift sig. Och för alla andra
                som betalar skatt, så klart. Vi är 10 000 kollegor över hela landet. Med
                olika bakgrunder, erfarenheter och kompetenser. Varje dag tänker, testar
                och lär vi nytt. Varje år löser vi tusentals komplexa problem – var för sig,
                kollegor emellan och tillsammans med våra partners.
            </div>
        </div>

        <div class="lunch-seminar">
            <div class="lunch-title">
                Scania 6/10
            </div>
            <div>
                The transport industry is taking big steps into the area of Autonomous.
                We will let you know more about how Scania is taking part in this technology shift and how Data and
                software is a crucial part of making Sustainable Transport solutions possible.

                At this session we will also launch this year's Scania Code Challenge for you as a student to test your
                problem solving- and coding skills!
                - Are you up for the Challenge?

                Johanna studied at KTH and will talk about her journey from studies to starting her career through the
                Scania Student Intro Program and her role today as a Development Engineer. Vahab Dyews works as a Scrum
                Master and he found his way into Scania by participating in the Scania Code Challenge as a student. Both
                Johanna and Vahab today works within respective teams with Autonomous Transports and will give some
                examples of projects and solutions they are involved in.

                Looking forward to see you joining the LIVE Session at 12.15 the 6th of October!
            </div>
        </div>
    </div>

    <div id="visitor-information">
        <div class="visitor-title">
            Information till besökare
        </div>
        <div>
            D-Dagen är Konglig Datasektionens årliga arbetsmarknadsdag på Kungliga Tekniska Högskolan.
            Det är en mässa tillägnad för att utveckla ett starkare band mellan datateknikstudenter
            och företag. Mässan kommer äga rum i Nymble där det totalt kommer finnas 59 företag
            utspridda vid workshops, redo att prata med er och mingla. Mässan börjar kl 10 och slutar
            vid 16:00, till följt av en sittning resten av kvällen, vi hoppas se er där!
        </div>
    </div>

    <div id="schedule">
        <div class="visitor-title">
            Schema
        </div>
        <div id="visitor-schedule">
            <div class="visitor-schedule-item">10:00 - Mässan öppnar</div>
            <div class="visitor-schedule-item">16:00 - Mässan slutar</div>
            <div class="visitor-schedule-item">16:30 - Fördrink i puben</div>
            <div class="visitor-schedule-item">18:00 - Sittning</div>
            <div class="visitor-schedule-item">22:00 - Efterkör</div>
        </div>
    </div>
</div>

{% endblock %}
