/* div {
  border: 1px solid black;
}

div#root {
  border: none;
} */

.full-width {
  align-self: stretch;
}

.container {
  background-color: #ec5f99;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    padding: 0;
  }

  .app-container-right {
    flex-grow: 0;
  }

  .app-container-left {
    flex-grow: 1;
  }
}

@media (min-width: 769px) {
  div.container {
    flex-direction: row;
    min-width: 900px;
    max-width: 1200px;
    height: 750px;
    padding: 48px;
  }

  div.app-container-left {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    min-width: 30%;
    height: 600px;
  }

  div.app-container-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    min-width: 60%;
    height: 600px;
  }
}
