#home_body {
    color: white;
    background-color: #ec5f99; /*rgba(232,19,108,0.8);*/
    padding: 0;
    line-height: 175%;
}

@media (min-width: 600px) {
    #home_body {
        background-size: cover;
        background: url(/static/bakgrund.jpg) fixed center;
    }
}

.cerise {
    color: #e83d84;
}

.cerise-light {
    color: #ec5f99;
}

.lato-black {
    font-weight: 900;
}

.lato-bold {
    font-weight: 600;
}

.lato-light {
    font-weight: 200;
}

.bigger-font {
    font-size: 18px;
}

a {
    color: white;
}

a:hover {
    text-decoration: underline !important;
    color: white;
}

a:visited {
    color: white;
}

#home_body > h1 {
    text-transform: uppercase;
}

.menu-container {
    padding: 20px;
    font-size: 20px;
    text-transform: uppercase;
}

.menu-container .icon {
    display: none;
}

.menu-container .logo {
    display: none;
}

.select-language-menu-item {
    float: right;
}

#menu li {
    display: inline-block;
    padding: 15px;
}

#menu img {
    vertical-align: middle;
    width: 120px;
}

ul#menu {
    /*position: absolute;*/
    list-style-type: none;
    z-index: 1;
    padding: 0;
}

#intro-box {
    justify-content: center;
    align-content: center;
    /*background-size: cover;
    background: url(/static/bakgrund.jpg) fixed center;*/
    overflow: hidden;
}

#intro {
    text-align: center;
    font-size: 18px;
    color: white;
    margin-top: 10%;
    padding-left: 5%;
    padding-right: 5%;
    font-weight: 200;
}

#intro > img {
    width: 30%;
    margin-bottom: 85px;
}

#intro h1 {
    text-transform: uppercase;
    margin-bottom: 20px;
}

#shield {
    text-align: center;
    margin-top: 125px;
    margin-bottom: 125px;
    font-weight: 600;
}

#shield img {
    width: 6%;
    vertical-align: middle;
    margin-right: 5px;
    margin-bottom: 0;
}

#intro-header {
    margin-bottom: 20px;
    text-align: center;
}

#faq ul {
    text-align: left;
}

#faq li {
    margin: 10px 0;
}

#faq a {
    color: #6a6a6a;
}
#huvudsponsor {
    text-align: center;
    width: 100%;
}
.info-box {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    background-color: white;
    padding: 50px 5%;
    overflow: hidden;
    color: #6a6a6a;
    box-shadow: 0 5px 15px rgba(0,0,0,0.12);
}

.info-box h1 {
    margin-top: 0;
    margin-bottom: 20px;
}

.info-box .head {
    font-size: 2em;
    margin-bottom: 0;
    font-weight: 200;
}

.info-box a {
    color: #e83d84;
}


.event-box-container {
    display: inline-block;
    width: 100%;
}

.event-box {
    max-width: 600px;
    margin-bottom: 20px;
    padding: 20px 40px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0,0,0,0.12);
    border-radius: 20px; 
    border-style: solid;
    border-color: white; 
    background-color: white; 
    color: grey;
}

@media (max-width: 900px) {
    .event-box {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 40px;
        padding: 50px 5%;
    }
}

@media (min-width: 900px) {


    .event-box.left {
        float: left;
        margin-left: 15%;
    }

    .event-box.right {
        float: right;
        margin-right: 15%;
    }
}
.event-box a {
    color: #e83d84;
}
.event-box .text-container {
    float: left; 
    width: 60%;
}
.event-box .img-container{
    float: right;
    width: 40%;
    height: 100% !important;
    margin-top: 20%;
    display: table;
    padding: 5%;
    text-align: center;
}

.event-box .img-container img{
    vertical-align: middle;
    display: table-cell;
    margin-top: 0px;
    margin-bottom: 25px;
    max-width: 120px;
}

.event-box:after {
    content: "";
    display: table;
    clear:both;
}

.event-box h2 {
    color: #e83d84;
    font-size: 2em;
}

#flex-boxes {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin-top: 20px;
}

.flex-box {
    float: left;
    width: 380px;
    background-color: white;
    overflow: hidden;
    color: #6a6a6a;
    padding: 30px;
    height: 500px;
    border-radius: 15px;
    margin-bottom: 20px;
}

.flex-box h1 {
    margin-top: 0;
    margin-bottom: 20px;
}

.flex-box .head {
    font-size: 2em;
    font-weight: 200;
}

.button-link {
    display: flex;
    justify-content: center;
}

.button-link .button {
	color: white !important;
  font-size: 24px;
  padding: 15px 25px 15px 25px;
	background-color: #e83d84;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
  text-decoration: none !important;
}

.flex-box .button {
    background-color: #e83d84;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

.flex-box a {
    text-decoration: none !important;
}



p.info-text {
  color: #6a6a6a;
  margin-right: 5%;
}

.info {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 2% 5% 0;
}

.info p {
    width: 95%;
    float: left;
    margin-bottom: 30px;
}

.info div.row {
    width: 40%;
    margin-left: 55%;
    text-align: center;
}

.info div.row p {
    font-size: 16px;
    width: 100%
}

.info div.row h1 {
    font-size: 76px;
}

.image-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 60px;
}

.pr-image-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.image-container-text {
    text-align: center;
    padding-bottom: 20px;
}

.portrait {
    float: left;
    text-align: center;
    display: block;
    margin: 0 auto;
}

.portrait img {
    border-radius: 50%;
    width: 230px;
    
    
}

.ribbon {
    background-color: #ec5f99;
    margin-bottom: 2%;
    padding-right: 15%;
    padding-top: 55px;
    padding-bottom:50px;
    margin-right: 0;
    border-top: 1px rgba(255,255,255,0.2);
    border-bottom: 1px rgba(255,255,255,0.2);
}

.ribbon div {
    text-align: center;
}

.ribbon.row h1 {
    font-size: 70px;
}

.contact-list {
    padding-left: 0;
    text-align: center;
    margin-bottom: 2%;
}

.contact-list div {
    margin-top: 2%;
}

.contact-list div img {
    width: 65%;
    margin-bottom: 10%;
}

.contact-list p {
    margin: 0;
    color: #6a6a6a;
}

.yellow-shadow {
    text-shadow: 4px 4px #fcda04;
}

.cerise-shadow {
    text-shadow: 3px 3px 0 #ec5f99;
}

.yellow-shadow2 {
    text-shadow: 2px 2px 0 #fcda04;
}

.fade {
    opacity: 0.5;
}

#footer {
    margin: 2% auto 0;
    background-color: #252525;
}

#footer p {
    margin-bottom: 5%;
}

#footer div {
    height: 355px;
}

#footer .text {
    padding-top: 2%;
}

#footer .text .cerise-light {
    font-weight: 200;
    font-size: 15px;
}

#footer div#footer-container {
    height: auto;
    max-width: 1200px;
    margin: 0 auto;
}

@media (max-width: 1200px) {
    #flex-boxes {
        display: block;
        margin-left: 10px;
    }

    .flex-box {
        width: auto;
        height: auto;
        padding: 5%;
    }

    img.greeting-portrait {
      width: 40%;
    }
}

@media (max-width: 1100px) {
    .break-image-container {
        width: 100%;
    }
    img.greeting-portrait {
      width: 50%;
    }
}

@media (max-width: 768px) {
    #intro > img {
        width: 80%;
        margin-bottom: 100px;
        min-width: 300px;
    }

    .info-box {
        width: 90%;
        padding: 20px;
    }

    #huvudsponsor {
      width: 80%;
      padding: 20px;
    }

    img.greeting-portrait {
      width: 100%;
    }

    #shield {
        margin-top: 150px;
    }

    #shield img {
        width: 16%;
        min-width: 64px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    .ribbon {
        padding-left: 15%;
    }
}

@media (max-width: 600px) {
    .menu-container {
        background-color: #e83d84;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 8px;
    }

    .menu-container .icon {
        display: block;
        position: absolute;
        right: 20px;
        top: 20px;
    }

    .menu-container .icon img {
        width: 30px;
        height: 30px;
    }

    .menu-container .logo {
        display: flex;
        justify-content: center;
    }

    .menu-container .logo img {
        display: block;
        height: 40px;
    }

    .menu-container .nav_bar {
        display: none;
    }

    .menu-container .drop_down {
        display: block;
        height: 100vh;
        background-color: #e83d84;
        font-size: 36px;
    }

    .menu-container .drop_down a#logo {
        display: none;
    }

    .select-language-menu-item {
        float: none;
        position: absolute;
        bottom: 0;
        right: 10px;
    }

    #menu li {
        display: block;
        text-align: center;
        margin-bottom: 40px;
    }

    img.greeting-portrait {
      width: 100%;
    }
}

@media (max-width: 350px) {
    #intro > img {
        margin-bottom: 60px;
        min-width: 275px;
    }

    #shield {
        margin-top: 0;
        font-size: 16px;
    }

    .info-box {
        margin-right: auto;
    }
    #huvudsponsor {
      margin-right: auto;
    }


    img.greeting-portrait {
      width: 100%;
    }

}

#huvudsponsor {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  padding: 10px 5%;
  overflow: hidden;
}

img.greeting-portrait {
  padding: 100px 20px 100px 20px;
}

.video-wrapper {
  position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}

.video-wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.map {
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.fa {
    padding : 10px;
    font-size: 100px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin-right : 10px
    
    
  }

.fa:hover{
    text-decoration: none;
    border-bottom: none;
    }


.br {   
        content: "";
        margin: 2em;
        display: block;
        margin-bottom: -1px; 
        line-height: 10%;
     }

.social-box a{
    vertical-align: center;
}




ul {
    overflow: auto;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
    
}
 
ul li {
    list-style-type: none;
    
    
}
.fa-3x {
vertical-align: middle;
}



@media (min-width: 900px) {
    .map {
        width: 80%;
    }
}

@media (min-width: 1000px) {
    .map {
        width: 70%;
    }
}