
#home_body {
    color: white;
    font-family: Lato;
    background-color: rgba(232, 19, 108, 0.8);
    background-image: url(/static/bakgrund.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    margin: 0;
    padding: 0;
    line-height: 175%;
}


#mobile-menu {
    display: none;
}

a {
    color: white;
    text-decoration: none;
}

#sok {
    font-size: 20pt;
    text-decoration: underline !important;
}

#sok-container {
    margin-top: -150px;
}

#contact a.cerise:hover {
    color: #e83d84;
}

/*

video#myVideo {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(bakgrund.jpg) no-repeat;
    background-size: cover;
}
*/

/*

FÖR HTML FILEN OM MAN VILL GÖRA VIDEO BAKGRUND
<video autoplay muted loop id="myVideo">
	<source src="{{ url_for('static', filename='rosa.mp4') }}" type="video/mp4">
</video>
*/


img#bg {
    position: absolute;
    width: 100%;
    top: 0;
    z-index: -1;
}


.cerise {
    color: #E83D84;
}

.cerise-light {
    color: #EC5F99;
}

ul {
    list-style-type: none;
    height: 100%;
    margin-bottom: 0;
}

.lato-black {
    font-weight: 900;
}

#footer {
    margin: 0 auto;
    margin-top: 2%;
    background-color: #252525;
}

#footer p {
    margin-bottom: 5%;
}

#footer div {
    height: 355px;
}

#footer .text {
    padding-top: 2%;
}

#footer .text .cerise-light {
    font-weight: 200;
    font-size: 15px;
}

#footer div#footer-container {
    height: auto;
    max-width: 1200px;
    margin: 0 auto;
}

.menu-container {
    max-width: 1200px;
    margin: 0 auto;
}

ul#menu {
    position: absolute;
    top: 1%;
    list-style-type: none;
    text-align: center;
    z-index: 1;
}

/*a:hover {*/
    /*color: white;*/
/*}*/

#menu li {
    display: inline-block;
    padding: 15px;
}

#menu img {
    vertical-align: middle;
}

#intro {
    text-align: center;
    font-size: 18px;
    color: rgb(255, 255, 255);
    margin-bottom: 10%;
    margin-top: 10%;
    font-weight: 200;
}

#intro img {
    width: 30%;
    margin-bottom: 85px;
}

.date {
    display: inline;
}

#shield {
    text-align: center;
    margin-top: 200px;
    margin-bottom: 125px;
    font-weight: 600;
}

#shield img {
    width: 4%;
    vertical-align: middle;
    margin-right: 40px;
}

p.date {
    padding-left: 5px;
    font-size: 2em;
}

.info-box p.cerise {
    color: #E83D84;
}

.info-box p.head {
    font-size: 2em;
    margin-bottom: 0;
    font-weight: 200;
}

.info-box {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    padding-top: 50px;
    padding-right: 3%;
    overflow: hidden;
    color: #6a6a6a;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.12);
}

.info-box h1 {
    color: #E83D84;
    margin-bottom: 20px;
    margin-top: 0;
}

img#linn {
    width: 50%;
    float: left;
    margin-top: 90px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 100px;
}

img#p-group {
    width: 50%;
    float: left;
    margin-top: 90px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 100px;
}

p.info-text {
    color: #6a6a6a;
    margin-right: 5%;
}

#sign {
    margin-top: 3%;
    margin-bottom: 2%;
}

#sign p {
    margin: 0;
}

.info {
    max-width: 1200px;
    padding-left: 60px;
    padding-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2%;
}

.info p {
    width: 50%;
    float: left;
    margin-bottom: 30px;
}

.info div.row {
    width: 40%;
    margin-left: 55%;
    text-align: center;
}

.info div.row p {
    font-size: 16px;
    width: 100%;
}

.info div.row h1 {
    font-size: 76px;
}

.ribbon {
    background-color: #ec5f99;
    margin-bottom: 2%;
    padding-right: 15%;
    padding-top: 55px;
    padding-bottom: 50px;
    margin-right: 0;
    border-top: 1px rgba(255, 255, 255, 0.2);
    border-bottom: 1px rgba(255, 255, 255, 0.2);
}

.ribbon div {
    text-align: center;
}

.contact-list {
    padding-left: 0;
    text-align: center;
    margin-bottom: 2%;
}

.contact-list div {
    margin-top: 2%;
}

.contact-list div img {
    width: 65%;
    margin-bottom: 10%;
}

.contact-list p {
    margin: 0;
    color: #6a6a6a;
}

.yellow-shadow {
    text-shadow: 4px 4px #fcda04;
}

.cerise-shadow {
    text-shadow: 3px 3px 0 #ec5f99;
}

.fade {
    opacity: 0.5;
}

.lato-bold {
    font-weight: 600;
}

.lato-light {
    font-weight: 200;
}

.ribbon.row h1 {
    font-size: 70px;
}

@media (max-width: 768px) {
    .menu-container {
        max-width: 600px;
    }

    body {
        background-size: auto 100vh;
    }

    #intro img {
        width: 80%;
        margin-bottom: 100px;
        min-width: 300px;
    }

    #intro h1 {
        margin-bottom: 110px;
    }

    div#intro h1 span {
        display: block;
    }

    ul#menu {
        display: block;
        position: relative;
    }

    ul#menu li {
        display: block;
    }

    .info-box {
        width: 90%;
        padding: 20px;
    }

    .info-box img#linn {
        width: 80%;
        margin: 20px 10%;
    }

    #shield {
        margin-top: 15px;
        margin-bottom: 200px;
    }

    #shield img {
        width: 16%;
        min-width: 64px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    div#exhibit div.row div {
        margin-top: 50%;
    }

    div#exhibit div.row h1 {
        font-size: 45px;
    }

    .ribbon {
        padding-left: 15%;
    }
}

@media (max-width: 350px) {
    #intro img {
        margin-bottom: 60px;
        min-width: 275px;
    }

    #intro h1 {
        margin-bottom: 100px;
    }

    #shield {
        margin-top: 50px;
        font-size: 16px;
    }

    #shield img {
        min-width: 30px;
    }

    #exhibit {
        padding-left: 25px;
    }

    div#exhibit div.row h1 {
        font-size: 35px;
    }

    .info-box {
        margin-right: auto;
    }
}
