#home_body {
    color: white;
    background-color: rgba(236, 95, 153, 1);
    padding: 0;
    line-height: 175%;
}

.cerise {
    color: #e83d84;
}

.cerise-light {
    color: #ec5f99;
}

.lato-black {
    font-weight: 900;
}

.lato-bold {
    font-weight: 600;
}

.lato-light {
    font-weight: 200;
}

.bigger-font {
    font-size: 18px;
}

a {
    color: white;
}

.menu-container {
    display: block;
    height: 60px;
    background-color: #e83d84;
    box-shadow: rgba(0, 0, 0, 0.2) 0 1px 8px;;
}

#menu {
    width: 100%;
}

#menu li {
    display: inline-block;
    padding: 15px;
}

#menu img {
    vertical-align: middle;
    width: 120px;
}

ul#menu {
    position: absolute;
    list-style-type: none;
    text-align: center;
    z-index: 1;
    padding: 0;
}

#intro-box {
    height: 100vh;
    justify-content: center;
    align-content: center;
    background-size: cover;
    /*background: url(/static/bakgrund.jpg) center;*/
    overflow: hidden;
}

#intro {
    text-align: center;
    font-size: 18px;
    color: white;
    margin-top: 10%;
    padding-left: 5%;
    padding-right: 5%;
    font-weight: 200;
}

#intro > img {
    width: 30%;
    margin-bottom: 85px;
}

#intro h1 {
    text-transform: uppercase;
    margin-bottom: 20px;
}

#shield {
    text-align: center;
    margin-top: 200px;
    margin-bottom: 125px;
    font-weight: 600;
}

#shield img {
    width: 6%;
    vertical-align: middle;
    margin-right: 5px;
    margin-bottom: 0;
}

#intro-header {
    margin-bottom: 20px;
    text-align: center;
}

#faq ul {
    text-align: left;
}

#faq li {
    margin: 10px 0;
}

#faq a {
    color: #6a6a6a;
}

.info-box {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    padding: 50px 5%;
    overflow: hidden;
    color: #6A6A6A;
    box-shadow: 0 5px 15px rgba(0,0,0,0.12);
}

.info-box h1 {
    margin-top: 0;
    margin-bottom: 20px;
}

.info-box .head {
    font-size: 2em;
    margin-bottom: 0;
    font-weight: 200;
}

.info-box a {
    color: #e83d84;
}

p.info-text {
  color: #6a6a6a;
  margin-right: 5%;
}

.info {
    max-width: 1200px;
    padding-left: 5%;
    padding-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2%;
}

.info p {
    width: 95%;
    float: left;
    margin-bottom: 30px;
}

.info div.row {
    width: 40%;
    margin-left: 55%;
    text-align: center;
}

.info div.row p {
    font-size: 16px;
    width: 100%
}

.info div.row h1 {
    font-size: 76px;
}

.ribbon {
    background-color: #ec5f99;
    margin-bottom: 2%;
    padding-right: 15%;
    padding-top: 55px;
    padding-bottom:50px;
    margin-right: 0;
    border-top: 1px rgba(255,255,255,0.2);
    border-bottom: 1px rgba(255,255,255,0.2);
}

.ribbon div {
    text-align: center;
}

.ribbon.row h1 {
    font-size: 70px;
}

.contact-list {
    padding-left: 0;
    text-align: center;
    margin-bottom: 2%;
}

.contact-list div {
    margin-top: 2%;
}

.contact-list div img {
    width: 65%;
    margin-bottom: 10%;
}

.contact-list p {
    margin: 0;
    color: #6a6a6a;
}

.yellow-shadow {
    text-shadow: 4px 4px #fcda04;
}

.cerise-shadow {
    text-shadow: 3px 3px 0 #ec5f99;
}

.fade {
    opacity: 0.5;
}

#footer {
    margin: 2% auto 0;
    background-color: #252525;
}

#footer p {
    margin-bottom: 5%;
}

#footer div {
    height: 355px;
}

#footer .text {
    padding-top: 2%;
}

#footer .text .cerise-light {
    font-weight: 200;
    font-size: 15px;
}

#footer div#footer-container {
    height: auto;
    max-width: 1200px;
    margin: 0 auto;
}

@media (max-width: 768px) {
    #intro > img {
        width: 80%;
        margin-bottom: 100px;
        min-width: 300px;
    }

    .info-box {
        width: 90%;
        padding: 20px;
    }

    #shield {
        margin-top: 150px;
    }

    #shield img {
        width: 16%;
        min-width: 64px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    .ribbon {
        padding-left: 15%;
    }
}

@media (max-width: 350px) {
    #intro > img {
        margin-bottom: 60px;
        min-width: 275px;
    }

    #shield {
        margin-top: 0;
        font-size: 16px;
    }

    .info-box {
        margin-right: auto;
    }
}


