{% extends "layout.html" %}

{% block intro_full %}
    <h1 class="lato-bold cerise-shadow" id="intro-header">Företag</h1>
{% endblock intro_full %}

{% block content %}
    <div class="info-box lato-light bigger-font" id="intro-other">
	<p class="cerise head">STÄLL UT <b>D&#8209;DAGEN 2019</b></p>
        <h2>BASPAKET</h2>
        <ul>
            <li>5 m<sup>2</sup> yta</li>
            <li>Bord, 1 st</li>
            <li>Frukost och lunch, 2 personer</li>
            <li>Kvällssittning, 2 personer</li>
            <li>Barbongar, 10 st</li>
            <li>El och Wi-Fi</li>
            <li>Tillgång till företagslounge med fika och förfriskningar under dagen</li>
        </ul>
        <h3>Pris: 25 000 kr</h3>
        <h2>Extra tillägg</h2>
        <ul>
            <li>Bord 1st, 500 kr</li>
            <li>Företagsrepresentant dag, 1 st 300 kr</li>
            <li>Företagsrepresentant kväll, 1 st 500 kr</li>
            <li>Barbongar, 10 st 500 kr</li>
            <li>Logga på Goodiebag, 1 300 kr</li>
        </ul>
    </div>

<div class="info" id="interest">
	<h1 class="lato-bold cerise-shadow">INTRESSEANMÄLAN</h1>
	<p> <span>För att anmäla ert intresse till D-Dagen 2019 behöver ni fylla i följande formulär:<br>
        <a href="{{ url_for('foretag') }}">ddagen.se/foretag</a> <br><br>
        Då det är många företag som är intresserade och det finns ett begränsat antal platser är det viktigt att
        anmäla intresse så snart som möjligt.
        Observera att detta inte är en bindande anmälan. Vi återkommer med ett kontrakt inom en snar framtid.
</p>
	<div class="row">
		<div class="col-sm-6 col-md-6 ">
		</div>
		<div class="col-sm-6 col-md-6">
		</div>
	</div>
</div>
{% endblock %}