{% extends "layout.html" %}

{% block content %}
<!--
<div class="info-box" id="introduction">
	<p class="cerise head">
		VARMT VÄLKOMMEN TILL</p>
	<h1 class="lato-black">D-DAGEN 2019!</h1>
	<p class="lato-black">Tillsammans med en supertaggad projektgrupp och hela Näringslivsgruppen på Datasektionen vill jag önska just dig varmt välkommen till den största D-Dagen någonsin!</p>
	<p class="info-text">Allt sedan flytten 2016 till Nymble har D-Dagen vuxit för varje år och nu för att möta efterfrågan har vi återigen fått utöka våra lokaler.
		D-Dagen riktar sig både till studenter som läser datateknik samt till studenter som är intresserade att komma i kontakt med företag som är verksamma inom IT.
		Vi i projektgruppen hoppas kunna erbjuda en intressant mässa som gör mötet mellan studenter och näringslivet enkelt, oavsett hur långt man har kommit i sin utbildning.
	</p>
</div>

<div class="info" id="exhibit">
	<h1 class="lato-bold cerise-shadow">OM MÄSSAN</h1>
	<p> <span class="lato-black">Konglig Datasektionen anordnar årligen D-dagen, som är en arbetsmarknadsdag där D-studenter och företagen får chans att utveckla en närmare kontakt med varandra. I år äger denna heldagsmässa rum den 11 oktober på campus Valhallavägen.</span> Senare på kvällen anordnas en traditionsenlig sittning samt efterföljande pub, där utställarna har möjlighet att träffa studenterna i en mer avslappnad miljö.</p>
	<div class="row">
		<div class="col-sm-6 col-md-6 ">
			<h1 class="yellow-shadow lato-black">75</h1>
			<p class="fade">UTSTÄLLARE 2018</p>
		</div>
		<div class="col-sm-6 col-md-6">
			<h1 class="yellow-shadow lato-black">800</h1>
			<p class="fade">KATALOGER 2018</p>
		</div>
	</div>
</div>
-->
<!--
<div class="info-box" id="project-group">
	<img id="p-group" src="{{ url_for('static', filename='Nils-D-Day.jpg') }}">
</div>
//-->
<!--
<div class="ribbon row" id="event">
	<div class="col-sm-2 col-md-2"></div>
	<div class="col-sm-6 col-md-6">
		<p class="fade">FÅ UT MER AV D-DAGEN - GÅ PÅ</p>
		<h1 class="yellow-shadow lato-black">EVENT</h1>
	</div>
	<div class="col-sm-4 col-md-4" style="text-align: left;">
		<b>Under årets upplaga av D-Dagen satsar vi mer på event än tidigare.</b>

        <ul>
            <li><b>26/9 </b><a href="https://www.facebook.com/events/231462617382631/">Ericsson Programming Challenge&raquo;</a></li>
            <li><b>4/10 </b><a href="https://www.facebook.com/events/132283497505047/">Lunchföreläsning med Yelp&raquo;</a></li>
            <li><b>5/10 </b><a href="https://www.facebook.com/events/1150755441692750/">Kontaktsamtal med Visma&raquo;</a></li>
            <li><b>5/10 </b><a href="">Cygni Snakebot Challenge</a></li>
        </ul>
	</div>
</div>
//-->
{% endblock %}
