<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link href="https://fonts.googleapis.com/css?family=Lato:400,600,900" rel="stylesheet">
	<link rel="stylesheet" href="//aurora.datasektionen.se/" type="text/css" />
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
	<title>Konglig Datasektionen - D-Dagen</title>
</head>
<body>
	<div class="menu-container">
		<ul id="menu">
			<li><img src="{{ url_for('static', filename='fluga.svg') }}" alt=""></li>
			<li><a href="#introduction">VÄLKOMMEN!</a></li>
			<li><a href="#exhibit">OM MÄSSAN</a></li>
			<li><a href="#event">EVENT</a></li>
			<li><a href="#contact">KONTAKT</a></li>
		</ul>
	</div>
		<img id="bg" src="{{ url_for('static', filename='bakgrund.jpg') }}">
		<div id="intro">
			<p>Konglig Datasektionen vid KTH presenterar stolt</p>
			<img src="{{ url_for('static', filename='logo.svg') }}" alt=""><br>
			<h1><span class="lato-black">5 OKTOBER </span><span class="lato-light">NYMBLE</span></h1>
		</div>
		<p id="shield"><img src="{{ url_for('static', filename='shield.png') }}" alt="">Datasektionens årliga arbetsmarknadsdag</p>
		<div class="info-box">
			<img style="width: 40%; float: left; margin-top: 90px; margin-left: 50px; margin-right: 50px; margin-bottom: 100px;" src="{{ url_for('static', filename='linn.jpg') }}">
			<a name="introduction"></a>
			<p class="cerise head">VARMT VÄLKOMMEN TILL</p>
			<h1 class="lato-black">D-DAGEN 2017!</h1>
			<p class="lato-black">Tillsammans med en supertaggad projektgrupp och hela Näringslivsgruppen på Datasektionen vill jag önska just dig varmt välkommen till den största D-Dagen någonsin!</p>
			<p class="info-text">Var befinner du dig om 5 år? Jag fick frågan nyligen och kunde inte riktigt svara säkert på den. Som datateknikstudenter är vi på väg in i en bred bransch i ständig förändring, och det finns många spännande företag och intressanta inriktningar att välja mellan. På D-Dagen får studenter från datainriktade ut-bildningar på KTH varje år chansen att under en fullspäckad dag komma i kontakt med företagsrepresentanter från branschens alla hörn.</p>
<p>Med årets mässa, som vi utökat med tolv helt nya platser jämfört med förra året, vill vi få in ännu mer av den bredd som näringslivet har att erbjuda. Förutom ökad mångfald bland de utställare som står på mässan har vi också satsat mycket på event, för att skapa helt nya kontaktytor och möten mellan studenter och näringsliv.
Vi är enormt stolta över årets upplaga av D-Dagen som vi hoppas inte bara ska bli den största någonsin, utan även den bästa. Välkommen till en heldag av spännande möten!</p>
		</div>
		<div class="info">
			<a name="exhibit"></a>
			<h1 class="lato-bold cerise-shadow">OM MÄSSAN</h1>
			<p> <span class="lato-black">Konglig Datasektionen anordnar årligen D-dagen, som är en arbetsmarknadsdag där D-studenter och företagen får chans att utveckla en närmare kontakt med varandra. I år äger denna heldagsmässa rum den 5 oktober på campus Valhallavägen.</span> Senare på kvällen anordnas en traditionsenlig sittning samt efterföljande pub, där utställarna har möjlighet att träffa studenterna i en mer avslappnad miljö.</p>
			<div class="row">
				<div class="col-sm-6 col-md-6 ">
					<h1 class="yellow-shadow lato-black">48</h1>
					<p class="fade">UTSTÄLLARE 2016</p>
				</div>
				<div class="col-sm-6 col-md-6">
					<h1 class="yellow-shadow lato-black">400+</h1>
					<p class="fade">KATALOGER 2016</p>
				</div>
			</div>
		</div>
		<div class="ribbon row">
			<a name="event"></a>
			<div class="col-sm-2 col-md-2"></div>	
			<div class="col-sm-6 col-md-6">
				<p class="fade">FÅ UT MER AV D-DAGEN - ARRANGERA</p>
				<h1 class="yellow-shadow lato-black">EVENT</h1>
			</div>
			<div class="col-sm-4 col-md-4" style="text-align: left;">
				<b>Under årets upplaga av D-Dagen satsar vi mer på event än tidigare.</b>
				<p>Vi vill, tillsammans med er, skapa nya och spännande sätt att nå ut till studenterna - som ett komplement till mässan. Event kan vara CV-granskning på plats, ett föredrag, en workshop - eller något helt annat. Hör av er med era idéer och tankar!</p>
			</div>
		</div>
		<div class="info-box">
			<a name="contact"></a>
			<p class="cerise head" style="text-align: center">KONTAKTA <b>D-DAGEN</b></p>
			<div class="contact-list row">
				<div class="col-sm-4">
					<p class="cerise"><b>Säljgruppen</b></p><a class="cerise" href="emailto:d.dagen-sales@d.kth.se">d.dagen-sales@d.kth.se</a>
				</div>
				<div class="col-sm-4">
					<p class="cerise"><b>Linn Jensen</b></p>
					<p>D-Dagenansvarig</p>
					<a href="emailto:dda@d.kth.se" class="cerise">dda@d.kth.se</a>
				</div>
				<div class="col-sm-4"><p class="cerise"><b>Eventgruppen</b></p><a class="cerise" href="emailto:d.dagen-event@d.kth.se">d.dagen-event@d.kth.se</a></div>
			</div>
		</div>
		<div id="footer">
			<div id="footer-container" class="row">
				<div class="col-sm-5 col-md-5 text">
					<p class="cerise-light">D-DAGEN 2017 HÅLLS DEN 5 OKTOBER I</p>
					<h2 style="display: inline" >THS KÅRHUS </h2><h2 style="display: inline" class="cerise-light">NYMBLE</h2>
					<p><b>Drottning Kristinas väg 15</b></p>
					<p class="cerise-light" style="display: inline">114 28 </p><p style="display: inline">Stockholm</p>
					<br>
					<p><b>Datasektionen</b> är en ideell studentsektion under Tekniska Högskolans Studentkår som finns till för att alla studenter som läser datateknik på KTH ska få en så bra och givande studietid som möjligt.</p>
					<p class="cerise-light" style="margin-bottom: 0">Organisationsnummer 802412-7709</p>
				</div>
				<div class="col-sm-1 col-md-1"></div>
				<div class="col-sm-6 col-md-6" id="map"><div class="gmap_canvas"><iframe height="350px" width="100%" id="gmap_canvas" src="https://maps.google.com/maps?q=Nymble - Tekniska Högskolans Kårhus, Drottning Kristinas väg, Stockholm, Sweden, &t=&z=17&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe></div></div>
			</div>
		</div>
</body>
</html>