<!DOCTYPE html>
<html lang="sv">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-177853051-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-177853051-1');
    </script>

    <meta charset="UTF-8">
    <meta name="theme-color" content="#e83d84">
    <meta name="theme-color" content="#ffffff">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/img/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/img/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/img/icons/favicon-16x16.png">
    <link rel="manifest" href="/static/img/icons/site.webmanifest">
    <link rel="mask-icon" href="/static/img/icons/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/static/img/icons/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/static/img/icons/browserconfig.xml">
    <meta name="google-site-verification" content="MNj-G5h7DoEv4j26SQgrOESA177JmHehgLqvY6naNeA" />
    
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,600,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap" rel="stylesheet"> 
    
    <!-- Stylesheets -->
    <link rel="stylesheet" href="//aurora.datasektionen.se/" type="text/css" />
    <link rel="stylesheet" href="/static/css/style.css?v=4.349590927" />
    <link rel="stylesheet" href="/static/css/layout.css" />
    <link rel="stylesheet" href="/static/css/footer.css" />
    <link rel="stylesheet" href="/static/css/header.css" />
    <link rel="stylesheet" href="/static/css/index.css" />
    <link rel="stylesheet" href="/static/css/companies.css" />
    <link rel="stylesheet" href="/static/css/contact.css" />
    <link rel="stylesheet" href="/static/css/faq.css" />
    <link rel="stylesheet" href="/static/css/visitors.css" />

    <!-- Scripts -->
    <script type="text/javascript" src="static/js/scripts.js"></script>
    <script type="text/javascript" src="static/js/navbar.js"></script>
    <script type="text/javascript" src="static/js/countdown.js"></script>
    <script type="text/javascript" src="static/js/contact.js"></script>

    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="{{ url_for('static', filename='js/smooth-scroll.min.js') }}"></script>
    <title>D-Dagen - Konglig Datasektionen</title>
</head>

<body id="home_body">
    <!-- ####################### -->
    <!-- Header -->
    <!-- ####################### -->
    <header id="navbar">
        <a id="logo-container" href="{{ url_for('index') }}">
            <img id="ddagen-logo-navbar" src="{{ url_for('static', filename='img/assets//logo-white-ageless_v2.svg') }}" alt="d-dagen logo">
        </a>

        <button id="navbar-hamburger" onclick="toggleDropdown()">
            <i class="fa fa-bars fa-2x"></i>
        </button>

        <div id="navbar-link-container">
            {% if request.args.get('language') == 'en' %}
                <a class="navbar-item" href="{{ url_for('companies') }}">Companies</a>
                <a class="navbar-item" href="{{ url_for('faq') }}">FAQ</a>
                <a class="navbar-item" href="{{ url_for('contact') }}">Contact Us</a>
                <a class="navbar-item" href="{{ url_for('visitors')}}">Visitors</a>
                <a class="navbar-item" href="{{ url_for('katalog2021')}}">Catalog</a>
                <a id="language" class="navbar-item" href="{{ url_for(request.endpoint, language='sv') if request.endpoint else url_for('index', language='sv') }}" id="language">
                    Svenska&nbsp;<img style="width: 1em" src="{{ url_for('static', filename='img/assets//flag_swe.svg') }}" alt="Svenska" />
                </a>
            {% else %}
                <a class="navbar-item" href="{{ url_for('companies') }}">Företag</a>
                <a class="navbar-item" href="{{ url_for('faq') }}">FAQ</a>
                <a class="navbar-item" href="{{ url_for('contact') }}">Kontakta&nbsp;oss</a>
                <a class="navbar-item" href="{{ url_for('visitors')}}">Besökare</a>
                <a class="navbar-item" href="{{ url_for('katalog2021')}}">Katalog</a>
                <a id="language" class="navbar-item" href="{{ url_for(request.endpoint, language='en') if request.endpoint else url_for('index', language='en') }}" id="language">
                    English&nbsp;<img style="width: 1em" src="{{ url_for('static', filename='img/assets//flag_eng.svg') }}" alt="English" />
                </a>
            {% endif %}
        </div>
    </header>

    <!-- ####################### -->
    <!-- Main Content -->
    <!-- ####################### -->
    <div id="page-content">
        <!-- This is where the title of the page is inserted -->
        <div id="page-title">
            {% block intro_full %}
            {% block intro %}
            {% endblock intro %}
            {% endblock intro_full %}
        </div>

        <!-- This is where the content of the other pages is inserted -->
        {% block content %}
        {% endblock %}
    </div>

    <!-- ####################### -->
    <!-- Page Footer -->
    <!-- ####################### -->
    {% block footer %}
    <footer>
        <div id="footer-item1" class="footer-item">
            <!--
            <h2>
                {% if request.args.get('language') == 'en'%}
                A BIG THANK YOU TO OUR <b>MAIN SPONSOR</b>
                {% else %}
                STORT TACK TILL VÅR <b>HUVUDSPONSOR</b>
                {% endif %}
            </h2>
            <div id="footer-sponsor-container">
                <img id="sponsor-item-ddagen" class="sponsor-item"
                    src="{{ url_for('static', filename='img/assets//ddagen_long.png') }}" alt="D-Dagen">
                <img id="sponsor-item-heart" class="sponsor-item"
                    src="{{ url_for('static', filename='img/assets//heart.png') }}" alt="Heart">
                <img id="sponsor-item-ericsson" class="sponsor-item"
                    src="{{ url_for('static', filename='img/company_logos/Ericsson_long.png') }}" alt="Ericsson">
            </div>
            -->
        </div>
    
        <div id="footer-item2" class="footer-item">
            <h2>
                {% if request.args.get('language') == 'en'%}
                Social Medias
                {% else %}
                Sociala medier
                {% endif %}
            </h2>
            <ul>
                <li>
                    <img class="icon" src="static/img/icons/facebook-icon.svg" alt="facebook-logo">
                    <a href="https://www.facebook.com/kongligddagen/">/kongligddagen</a>
                </li>
                <li>
                    <img class="icon" src="static/img/icons/instagram-icon.svg" alt="instagram-logo">
                    <a href="https://www.instagram.com/ddagenkth/">/ddagenkth</a>
                </li>
                <li>
                    <img class="icon" src="static/img/icons/linkedin-icon.svg" alt="linkedin-logo">
                    <a href="https://www.linkedin.com/company/kongligddagen/">/kongligddagen</a>
                </li>
            </ul>
        </div>
    
        <div id="footer-item3" class="footer-item">
            <h2>
                {% if request.args.get('language') == 'en'%}
                Contact Us
                {% else %}
                Kontakta oss
                {% endif %}
            </h2>
            <div id="contact-footer">
                <div>
                    <b>Carl Chemnitz</b> <br>
                    <b>Kevin Wenström</b> <br>
                    
                    {% if request.args.get('language') == 'en'%}
                    Project Leaders for D-Dagen
                    {% else %}
                    D-Dagenansvariga
                    {% endif %} 
                    <br>
                    
                    <a href="mailto:ansvarig@ddagen.se" class="cerise">ansvarig@ddagen.se</a>
                </div>
                <div>
                    {% if request.args.get('language') == 'en'%}
                    The Sales Team
                    {% else %}
                    Säljgruppen
                    {% endif %}
                    <br>
    
                    <a href="mailto:sales@ddagen.se" class="cerise">sales@ddagen.se</a>
                </div>
                <div>
                    {% if request.args.get('language') == 'en'%}
                    Site manager
                    {% else %}
                    Sidansvarig
                    {% endif %}
                    <br>
                    
                    <a href="mailto:web@ddagen.se" class="cerise">web@ddagen.se</a>
                </div>
            </div>
        </div>
    </footer>
    {% endblock %}

    <script>
        let scroll = new SmoothScroll('a[href*="#"]');
        addNavbarMargin();
    </script>
</body>

</html>