<!DOCTYPE html>
<html lang="sv">
<head>
	<meta charset="UTF-8">
	<meta name="theme-color" content="#e83d84">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="apple-touch-icon" sizes="180x180" href="/static/icons/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/static/icons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/static/icons/favicon-16x16.png">
	<link rel="manifest" href="/static/icons/site.webmanifest">
	<link rel="mask-icon" href="/static/icons/safari-pinned-tab.svg" color="#5bbad5">
	<link rel="shortcut icon" href="/static/icons/favicon.ico">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="msapplication-config" content="/static/icons/browserconfig.xml">
	<meta name="theme-color" content="#ffffff">
	<meta name="google-site-verification" content="MNj-G5h7DoEv4j26SQgrOESA177JmHehgLqvY6naNeA" />
	<link href="https://fonts.googleapis.com/css?family=Lato:400,600,900" rel="stylesheet">
	<link rel="stylesheet" href="//aurora.datasektionen.se/" type="text/css" />
    <!--<link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}"/>-->
    <link rel="stylesheet" href="/static/style.css?v=1.7"/>
    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="{{ url_for('static', filename='smooth-scroll.min.js') }}"></script>
	<title>D-Dagen - Konglig Datasektionen</title>
</head>

<body id="home_body">
<div class="menu-container">
    <a href="{{ url_for('index') }}" class="logo"><img src="{{ url_for('static', filename='new-logo-white-ageless.svg') }}" alt="D-Dagen"></a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <img src="{{ url_for('static', filename='menu_icon.svg') }}" class="hamburger" alt="Menu">
    </a>
    {% if request.args.get('language') == 'en' %}
        <ul class="nav_bar" id="menu">
            <li><a href="{{ url_for('index', language='en') }}" id="logo"><img src="{{ url_for('static', filename='new-logo-white-ageless.svg') }}" alt="D-Dagen"></a></li>
            <!--<li><a href="{{ url_for('events', language='en') }}">Events</a></li>-->
            <!--<li><a href="{{ url_for('visitors', language='en') }}">Visitors</a></li>-->
            <li><a href="{{ url_for('companies', language='en') }}">Companies</a></li>
            <!--<li><a href="{{ url_for('faq', language='en') }}">FAQ</a></li>-->
            <!--<li><a href="{{ url_for('contact', language='en') }}">Contact us</a></li>-->
            <li class="select-language-menu-item">
                <a href="{{ url_for(request.endpoint, language='sv') if request.endpoint else url_for('index', language='sv') }}">
                    <img style="width: 32px" src="{{ url_for('static', filename='swe_flag.svg') }}" alt="Svenska"/>
                </a>
            </li>
        </ul>
    {% else %}
        <ul class="nav_bar" id="menu">
            <li><a href="{{ url_for('index') }}" id="logo"><img src="{{ url_for('static', filename='new-logo-white-ageless.svg') }}" alt="D-Dagen"></a></li>
            <!--<li><a href="{{ url_for('events') }}">Event</a></li>-->
            <!--<li><a href="{{ url_for('visitors') }}">Besökare</a></li>-->
            <li><a href="{{ url_for('companies') }}">Företag</a></li>
            <!--<li><a href="{{ url_for('faq') }}">FAQ</a></li>-->
            <!--<li><a href="{{ url_for('contact') }}">Kontakta Oss</a></li>-->
            <li class="select-language-menu-item">
                <a href="{{ url_for(request.endpoint, language='en') if request.endpoint else url_for('index', language='en') }}">
                    <img style="width: 32px" src="{{ url_for('static', filename='eng_flag.svg') }}" alt="English"/>
                </a>
            </li>
        </ul>
    {% endif %}

</div>



<script>

var countDownDate = new Date("Oct 7, 2020 23:59:59").getTime();

var days, hours, minutes, seconds;

var daysTimer = document.getElementById("dayTimer");
var hoursTimer = document.getElementById("hourTimer");
var minutesTimer = document.getElementById("minuteTimer");
var secondsTimer = document.getElementById("secondTimer");


var x = setInterval(function() {

  var now = new Date().getTime();

  var distance = countDownDate - now;

  var days = Math.floor(distance / (1000 * 60 * 60 * 24));
  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  var seconds = Math.floor((distance % (1000 * 60)) / 1000);

    dayTimer.innerHTML = days;
    hourTimer.innerHTML = hours;
    minuteTimer.innerHTML = minutes;
    secondTimer.innerHTML = seconds;

 
}, 1000);
</script>

{% block intro_full %}
 
<div id="intro-box">
    <div id="intro">
        {% block intro %}
        <span>
        {% if request.args.get('language') == 'en'%}
            Konglig Datasektionen at KTH proudly presents
        {% else %}
            Konglig Datasektionen vid KTH presenterar stolt
        {% endif %}
        </span><br>
        <img src="{{ url_for('static', filename='new-logo-white-ageless.svg') }}" alt=""><br>
        <h1><span class="lato-black">
        {% if request.args.get('language') == 'en'%}
            8th of October 2020
        {% else %}
            8 oktober 2020
        {% endif %}
        </span><br><span class="lato-light">Nymble</span></h1>
        <br>
        <div id="clock">
            <div>
              <ul id=time>
                <li id="dayTimer"></li>
                <li id="hourTimer"></li>
                <li id="minuteTimer"></li>
                <li id="secondTimer"></li>
              </ul>
            </div>
            <div>
              <ul id="time-label" >
                {% if request.args.get('language') == 'en'%}
                <li>days</li>
                <li>hours</li>
                <li>minutes</li>
                <li>seconds</li>
                {% else %}
                <li>dagar</li>
                <li>timmar</li>
                <li>minuter</li>
                <li>sekunder</li>
                {% endif %}
              </ul>
            </div>
          </div>
        <p id="shield"><img src="{{ url_for('static', filename='shield.png') }}" alt="">
        {% if request.args.get('language') == 'en'%}
            The Computer Science chapter's annual career fair
        {% else %}
            Datasektionens årliga arbetsmarknadsdag
        {% endif %}
        </p>
        {% endblock intro %}
    </div>
</div>

{% endblock intro_full %}
{% block content %}{% endblock %}
{% block footer %}
<div class="info-box" id="contact">
	<p class="cerise head" style="text-align: center">
        {% if request.args.get('language') == 'en'%}
            CONTACT
        {% else %}
            KONTAKTA
        {% endif %}
         <b>D&#8209;DAGEN
    </b></p>
	<div class="contact-list row">
		<div class="col-sm-4">
            <!--
			<p class="cerise"><b>
            {% if request.args.get('language') == 'en'%}
                The Sales Team
            {% else %}
                Säljgruppen
            {% endif %}
            </b></p><a class="cerise" href="mailto:d-dagen.sales@d.kth.se">d-dagen.sales@d.kth.se</a>
            -->
		</div>
		<div class="col-sm-4">
            <p class="cerise"><b>Andreas Wallström<br>Julia Byström</b></p>
			<p>
            {% if request.args.get('language') == 'en'%}
                Project Leader for D-Dagen
            {% else %}
                D-Dagenansvarig
            {% endif %}
            </p>
			<a href="mailto:d-dagen@d.kth.se" class="cerise">d-dagen@d.kth.se</a>
            <br>
            <br>

            <p>
            {% if request.args.get('language') == 'en'%}
                The Sales Team
            {% else %}
                Säljgruppen
            {% endif %}
            </p>
            <a href="mailto:sales@ddagen.se" class="cerise">sales@ddagen.se</a>
		</div>
		<div class="col-sm-4">
            <!--
            <p class="cerise"><b>
            {% if request.args.get('language') == 'en'%}
                The Event Team
            {% else %}
                Eventgruppen
            {% endif %}
            </b></p><a class="cerise" href="mailto:d-dagen.event@d.kth.se">d-dagen.event@d.kth.se</a>
        -->
        </div>
	</div>
</div>

<style>
br {
        line-height: 20%;
     }
</style>


<div class="info-box" id="contact">
	<p class="cerise head" style="text-align: center">
        {% if request.args.get('language') == 'en'%}
            FOLLOW US ON SOCIAL MEDIA
        {% else %}
            FÖLJ OSS I SOCIALA MEDIER
        {% endif %}
    </p>
	<div class="contact-list row">
		<div class="col-sm-4">
        
		</div>
		<div class="col-sm-4">
			<a href="https://www.facebook.com/kongligddagen/"><i class="fa fa-facebook fa-3x fa-fw" ></i>&nbsp; /kongligddagen</a>
            <br>
            <a href="https://www.instagram.com/ddagenkth/"><i class="fa fa-instagram fa-3x fa-fw" ></i>&nbsp; /ddagenkth</a>
            <br>
            <a href="https://www.linkedin.com/company/kongligddagen/"><i class="fa fa-linkedin fa-3x fa-fw" ></i>&nbsp; /kongligddagen</a>
            

		</div>
		<div class="col-sm-4">
          
        </div>
    </div>
</div>


<div class="info-box" id="contact">
	<p class="cerise head" style="text-align: center">
        {% if request.args.get('language') == 'en'%}
            MAIN SPONSOR 2020
        {% else %}
            HUVUDSPONSOR 2020
        {% endif %}
        <br>
        <br>
    </p>
    <img class="main-sponsor" src="{{ url_for('static', filename='ERI_vertical_RGB.png') }}" alt="Main sponsor Ericsson"/>
</div>
    



<!--
<div class = "social-box" style=" text-align: center;">
    <h2 style=" text-align: center;" >
        {% if request.args.get('language') == 'en'%}
            FOLLOW US ON SOCIAL MEDIA
        {% else %}
            FÖLJ OSS I SOCIALA MEDIER
        {% endif %}
    </h2>
    <br>
         <ul>
         <li><a href="https://www.facebook.com/kongligddagen/"><i class="fa fa-facebook fa-3x fa-fw" ></i>&nbsp; /kongligddagen</a></li>
         <li><a href="https://www.instagram.com/ddagenkth/"><i class="fa fa-instagram fa-3x fa-fw" ></i>&nbsp; /ddagenkth</a></li>
        <li><a href="https://www.linkedin.com/company/kongligddagen/"><i class="fa fa-linkedin fa-3x fa-fw" ></i>&nbsp; /kongligddagen</a></li>
        </ul>
    </div>
-->


<div id="footer">
	<div id="footer-container" class="row">
		<div class="col-sm-6 col-md-6 text">
			<p class="cerise-light">
            {% if request.args.get('language') == 'en'%}
                D-DAGEN 2020 BEING HELD ON OCTOBER 8 IN
            {% else %}
                D-DAGEN 2020 HÅLLS DEN&nbsp;8&nbsp;OKTOBER&nbsp;I
            {% endif %}
            </p>
			<h2 style="display: inline" >
            {% if request.args.get('language') == 'en'%}
                THS STUDENT UNION HOUSE
            {% else %}
                THS KÅRHUS
            {% endif %}
            </h2><h2 style="display: inline" class="cerise-light">NYMBLE</h2>
			<p><b>Drottning Kristinas väg 15</b></p>
			<p class="cerise-light" style="display: inline">114 28 </p><p style="display: inline">Stockholm</p>
			<br>
			<p><b>Datasektionen</b>
            {% if request.args.get('language') == 'en'%}
                is a non-profit student chapter under the Student Union at the Royal Institute of Technology that exists
                to give students studying computer science at KTH a more rewarding time here during their studies.
            {% else %}
                är en ideell studentsektion under Tekniska Högskolans Studentkår som finns till för att alla studenter
                som läser datateknik på KTH ska få en så bra och givande studietid som möjligt.
            {% endif %}
            </p>
			<p class="cerise-light" style="margin-bottom: 0">
            {% if request.args.get('language') == 'en'%}
                Corporate Identity Number
            {% else %}
                Organisationsnummer
            {% endif %}
                802412-7709</p>
		</div>
		<div class="col-sm-6 col-md-6" id="map"><div class="gmap_canvas"><iframe id="gmap_canvas" height="350px" width="100%" src="https://maps.google.com/maps?q=Nymble - Tekniska Högskolans Kårhus, Drottning Kristinas väg, Stockholm, Sweden, &t=&z=17&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe></div></div>
	</div>
</div>
<script>
    let scroll = new SmoothScroll('a[href*="#"]');

    function myFunction() {
        const x = document.getElementById("menu");
        if (x.className === "nav_bar") {
            x.className += " drop_down";
        } else {
            x.className = "nav_bar";
        }
    }
</script>
{% endblock %}
</body>
</html>
