<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="theme-color" content="#e83d84">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,600,900" rel="stylesheet">
    <link rel="stylesheet" href="//aurora.datasektionen.se/" type="text/css"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
    <script src="{{ url_for('static', filename='smooth-scroll.min.js') }}"></script>
    <title>Konglig Datasektionen - D-Dagen - Sök</title>
</head>

<body id="home_body">
<div id="intro">
    <center>Konglig Datasektionen vid KTH presenterar stolt</center>
    <center><img src="{{ url_for('static', filename='logo-white-ageless.png') }}" alt="" align="middle"><br></center>
    <center><h1><span class="lato-black">10 OKTOBER 2019 </span><span class="lato-light">NYMBLE</span></h1></center>
</div>
<div id="sok-container" align="middle">
    <h2 align="middle">Ansökan till projektgruppen för D-Dagen 2019 är nu öppen!</h2>
    <a id="sok" href="https://goo.gl/forms/ZRtuxhYJIXfWjY1t1">Klicka här för att söka till projektgruppen för D-Dagen 2019!</a>
</div>
<p id="shield"><img src="{{ url_for('static', filename='shield.png') }}" alt="">Datasektionens årliga arbetsmarknadsdag</p>

<div id="footer">
    <div id="footer-container" class="row">
        <div class="col-sm-6 col-md-6 text">
            <p class="cerise-light">D-DAGEN 2019 HÅLLS DEN 10 OKTOBER I</p>
            <h2 style="display: inline">THS KÅRHUS </h2>
            <h2 style="display: inline" class="cerise-light">NYMBLE</h2>
            <p><b>Drottning Kristinas väg 15</b></p>
            <p class="cerise-light" style="display: inline">114 28 </p>
            <p style="display: inline">Stockholm</p>
            <br>
            <p><a href="https://datasektionen.se/kontakt"><b>Datasektionen</b></a> är en ideell studentsektion under Tekniska Högskolans Studentkår som finns till för att alla studenter
                som läser datateknik på KTH ska få en så bra och givande studietid som möjligt.</p>
            <p class="cerise-light" style="margin-bottom: 0">Organisationsnummer 802412-7709</p>
        </div>
        <div class="col-sm-6 col-md-6" id="map">
            <div class="gmap_canvas">
                <iframe id="gmap_canvas" height="350px" width="100%"
                        src="https://maps.google.com/maps?q=Nymble - Tekniska Högskolans Kårhus, Drottning Kristinas väg, Stockholm, Sweden, &t=&z=17&ie=UTF8&iwloc=&output=embed"
                        frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
            </div>
        </div>
    </div>
</div>
</body>
</html>