:root {
    --top-size: 3rem;
}

button {
    color: white;
    padding: 0;
    border: 0;
    height: 100%;
}

.title {
    font-size: 2.5rem;
    font-weight: bold;
}

#clicker {
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100%;
}

#top-container {
    background-color: var(--grey);
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 1% 1rem 1% 1rem;
    
}

#settings-icon {
    font-size: var(--top-size);
    background-color: transparent;
    display: flex;
    justify-self: self-end;
    align-items: center;
}

#count {
    font-size: var(--top-size);
    font-weight: bold;
    justify-self: self-start;
}

#inc {
    background-color: var(--light-green);
}

#dec {
    background-color: var(--red);
}