:root {
    --cerise: #e83d84;
    --cerise-light: #ec5f99;
    --light-green: #4CAF50;
    --red: #f44336;
    --light-blue: #0099cc;
    --grey: rgb(52, 52, 52);
    --orange: #ed5600;
}

.vertical {
    display: flex;
    flex-direction: column;
}

.horizontal {
    display: flex;
    flex-direction: row;
}