.company-filters-wrapper {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  width: 100%;
}

.company-filters-wrapper .company-filters {
  flex: 1;
  width: 33%;
  background-color: #fafafa;
  margin: 4pt;
}
