name: Deploy Development

on:
  push:
    branches: [ develop ]
  # Can be activated manually
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Git checkout
      uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - name: Push to sips
      env:
        SSH_PRIVATE_KEY: ${{ secrets.SIPS_SSH_KEY }}
      # https://stackoverflow.com/a/2462357/16911837
      run: ./dev-deploy.sh